<p id="notice"><%= notice %></p>

<p>
  <b>Sp sta 0:</b>
  <%= @sp_standard.sp_sta_0 %>
</p>

<p>
  <b>Sp sta 1:</b>
  <%= @sp_standard.sp_sta_1 %>
</p>

<p>
  <b>Sp sta 2:</b>
  <%= @sp_standard.sp_sta_2 %>
</p>

<p>
  <b>Sp sta 3:</b>
  <%= @sp_standard.sp_sta_3 %>
</p>

<p>
  <b>Sp sta 4:</b>
  <%= @sp_standard.sp_sta_4 %>
</p>

<p>
  <b>Sp sta 5:</b>
  <%= @sp_standard.sp_sta_5 %>
</p>


<%= link_to 'Edit', edit_sp_standard_path(@sp_standard) %> |
<%= link_to 'Back', sp_standards_path %>
