<h1>Listing d_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>A category</th>
    <th>B category</th>
    <th>C category</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @d_categories.each do |d_category| %>
  <tr>
    <td><%= d_category.name %></td>
    <td><%= d_category.a_category_id %></td>
    <td><%= d_category.b_category_id %></td>
    <td><%= d_category.c_category_id %></td>
    <td><%= d_category.note %></td>
    <td><%= link_to 'Show', d_category %></td>
    <td><%= link_to 'Edit', edit_d_category_path(d_category) %></td>
    <td><%= link_to 'Destroy', d_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New D category', new_d_category_path %>
