<style type="text/css">
  .category li {
    list-style: none;
  }

  .category ul {
    border-right: 1px solid #CECECE;
  }

  .category-link {
    line-height: 30px;
  }

  .category-link.active {
    color: green;
    text-decoration: underline;
  }

  .list-group-item-heading {
    cursor: pointer;
  }

  .category .actions {
    border-bottom: 1px solid #CECECE;
  }
</style>
<script type="text/javascript">
  app.value('BaosongB', <%= @baosong_b.to_json.html_safe %>);
   var info = '<%= SysProvince.level1.map { |p| [p.name, p.name] }.unshift(['不限制', ''],['省级任务', '省级任务']).to_json.html_safe %>';
  $(function(){
    var reg = /&quot;/ig;
    var sNewStr = info.replace(reg,'"');
    sNewStr = eval("(" + sNewStr + ")");
    sNewStr = sNewStr.map(function(ary){
      return {value : ary[1], text : ary[0]};
    });
    $('#department').editable({
      type: "select",              //编辑框的类型。支持text|textarea|select|date|checklist等
      source: sNewStr,//[{ value: "开发部", text: "开发部" }, { value: "销售部", text: "销售部" }, {value:"行政部",text:"行政部"}],
      title: "选择区域",           //编辑框的标题
      disabled: false,           //是否禁用编辑
      emptytext: "",       //空值的默认文本
      mode: "inline",            //编辑框的模式：支持popup和inline两种模式，默认是popup
      validate: function (value) { //字段验证
       // if (!$.trim(value)) {
       //   return '不能为空';
       // }
      },
      success:function(a,b){
        var params = { baosong_b: {}};
        params.baosong_b['prov'] = b;
        $.ajax({
          url: '/baosong_bs/'+'<%=@baosong_b.id%>'+'.json',
          data:params,
          type: 'PUT',
          success: function( response ,v) {
           // console.log(v);
          }
        });

      }
    });
  });
</script>
<div data-ng-controller="PlanMakerCtrl">
  <div class="form-group">
    <label>名称：</label>
   <% if is_open_production? %>
    <a href="javascript:void(0);" onbeforesave="updateBaosongB('name', $data)" e-style="width: 400px;" editable-text="baosong_b.name">{{baosong_b.name}}</a>
   <% else%>
    <a>{{baosong_b.name}}</a>
   <% end%>
  </div>
  <div class="form-group">
     <label>所在区域：</label>
      <% if is_open_production? %>
	<a href="#" id="department"   e-style="width: 400px;" >{{baosong_b.prov || '无限制'}}</a>
      <% else %>
        <a href="#"   e-style="width: 400px;" >{{baosong_b.prov || '无限制'}}</a>
      <% end%>	
 </div>
  <div class="form-group">
    <label>备注：</label>
   <% if is_open_production? %>
    <a href="javascript:void(0);" onbeforesave="updateBaosongB('note', $data)" e-style="width: 400px;" e-rows="10" editable-textarea="baosong_b.note">{{baosong_b.note || '无备注'}}</a>
   <% else %>
    <a href="#"   e-style="width: 400px;" >{{baosong_b.note || '无备注'}}</a>
   <% end %> 
 </div>
  <div class="form-group">
    <div style="margin: 0;" class="row">
      <h5 class="col-md-3 col-xs-3">
        食品大类
	<% if is_open_production? %>
        <a href="javascript:void(0);" x-ng-click="is_editing_a = !is_editing_a" x-ng-show="!is_editing_a" class="btn btn-link btn-xs pull-right">编辑</a>
        <a href="javascript:void(0);" x-ng-click="is_editing_a = !is_editing_a" x-ng-show="is_editing_a" class="btn btn-link btn-xs pull-right">完成</a>
     	<% end %>
      </h5>
      <h5 class="col-md-3 col-xs-3">食品亚类
	<% if is_open_production? %>
        <a href="javascript:void(0);" x-ng-click="is_editing_b = !is_editing_b" x-ng-show="!is_editing_b" class="btn btn-link btn-xs pull-right">编辑</a>
        <a href="javascript:void(0);" x-ng-click="is_editing_b = !is_editing_b" x-ng-show="is_editing_b" class="btn btn-link btn-xs pull-right">完成</a>
      	<% end %>
      </h5>
      <h5 class="col-md-3 col-xs-3">食品次亚类
	<%  if is_open_production? %>
        <a href="javascript:void(0);" x-ng-click="is_editing_c = !is_editing_c" x-ng-show="!is_editing_c" class="btn btn-link btn-xs pull-right">编辑</a>
        <a href="javascript:void(0);" x-ng-click="is_editing_c = !is_editing_c" x-ng-show="is_editing_c" class="btn btn-link btn-xs pull-right">完成</a>
       <% end %>
      </h5>
      <h5 class="col-md-3 col-xs-3">食品细类
      <% if is_open_production? %>
        <a href="javascript:void(0);" x-ng-click="is_editing_d = !is_editing_d" x-ng-show="!is_editing_d" class="btn btn-link btn-xs pull-right">编辑</a>
        <a href="javascript:void(0);" x-ng-click="is_editing_d = !is_editing_d" x-ng-show="is_editing_d" class="btn btn-link btn-xs pull-right">完成</a>
     <% end %> 
     </h5>
    </div>
    <div style="margin: 0;" class="category row">
      <ul class="col-md-3 col-xs-3">
        <li class="actions" x-ng-show="is_editing_a">
          <a href="javascript:void(0);" x-ng-click="doRemoveCategory('ACategory', a_categories)" class="pull-right btn btn-xs btn-link">
            <i class="text-danger glyphicon glyphicon-minus"></i>
            移除
          </a>
          <a href="javascript:void(0);" x-ng-click="addCategory.addACategory('<%= @baosong_b.identifier %>')" class="pull-right btn btn-xs btn-link">
            <i class="text-success glyphicon glyphicon-plus"></i>
            添加
          </a>
          <div class="clearfix"></div>
        </li>
        <li data-ng-repeat="category in a_categories| filter: {enable: true}">
          <input x-ng-show="is_editing_a" type="checkbox" data-ng-model="category.checked">
          <a x-ng-show="!is_editing_a" x-ng-click="select('a_category_id', category)" data-ng-class="{active: selected.a_category_id == category.id}" class="category-link" href="">
            {{category.name}}
          </a>
          <a x-ng-show="is_editing_a" onbeforesave="updateCategoryName('ACategory', $data, category)" class="category-link" e-class="input-sm" buttons="no" editable-text="a_categories[$index].name">{{category.name}}</a>
        </li>
      </ul>
      <ul class="col-md-3 col-xs-3">
        <li class="actions" x-ng-show="is_editing_b">
          <a href="javascript:void(0);" x-ng-click="doRemoveCategory('BCategory', b_categories)" class="pull-right btn btn-xs btn-link">
            <i class="text-danger glyphicon glyphicon-minus"></i>
            移除
          </a>
          <a href="javascript:void(0);" x-ng-click="addCategory.addOtherCategory('BCategory', b_categories, selected.a_category_id)" class="pull-right btn btn-xs btn-link">
            <i class="text-success glyphicon glyphicon-plus"></i>
            添加
          </a>
          <div class="clearfix"></div>
        </li>
        <li data-ng-repeat="category in b_categories| filter: {enable: true}">
          <input x-ng-show="is_editing_b" type="checkbox" data-ng-model="category.checked">
          <a x-ng-show="!is_editing_b" x-ng-click="select('b_category_id', category)" data-ng-class="{active: selected.b_category_id == category.id}" class="category-link" href="">
            {{category.name}}
          </a>
          <a x-ng-show="is_editing_b" onbeforesave="updateCategoryName('BCategory', $data, category)" class="category-link" e-class="input-sm" buttons="no" editable-text="b_categories[$index].name">{{category.name}}</a>
        </li>
      </ul>
      <ul class="col-md-3 col-xs-3">
        <li class="actions" x-ng-show="is_editing_c">
          <a href="javascript:void(0);" x-ng-click="doRemoveCategory('CCategory', c_categories)" class="pull-right btn btn-xs btn-link">
            <i class="text-danger glyphicon glyphicon-minus"></i>
            移除
          </a>
          <a href="javascript:void(0);" x-ng-click="addCategory.addOtherCategory('CCategory', c_categories, selected.b_category_id)" class="pull-right btn btn-xs btn-link">
            <i class="text-success glyphicon glyphicon-plus"></i>
            添加
          </a>
          <div class="clearfix"></div>
        </li>
        <li data-ng-repeat="category in c_categories| filter: {enable: true}">
          <input x-ng-show="is_editing_c" type="checkbox" data-ng-model="category.checked">
          <a x-ng-show="!is_editing_c" x-ng-click="select('c_category_id', category)" data-ng-class="{active: selected.c_category_id == category.id}" class="category-link" href="">
            {{category.name}}
          </a>
          <a x-ng-show="is_editing_c" onbeforesave="updateCategoryName('CCategory', $data, category)" class="category-link" e-class="input-sm" buttons="no" editable-text="c_categories[$index].name">{{category.name}}</a>
        </li>
      </ul>
      <ul class="col-md-3 col-xs-3">
        <li class="actions" x-ng-show="is_editing_d">
          <a href="javascript:void(0);" x-ng-click="doRemoveCategory('DCategory', d_categories)" class="pull-right btn btn-xs btn-link">
            <i class="text-danger glyphicon glyphicon-minus"></i>
            移除
          </a>
          <a href="javascript:void(0);" x-ng-click="addCategory.addOtherCategory('DCategory', d_categories, selected.c_category_id)" class="pull-right btn btn-xs btn-link">
            <i class="text-success glyphicon glyphicon-plus"></i>
            添加
          </a>
          <div class="clearfix"></div>
        </li>
        <li data-ng-repeat="category in d_categories| filter: {enable: true}">
          <input x-ng-show="is_editing_d" type="checkbox" data-ng-model="category.checked">
          <a x-ng-show="!is_editing_d" x-ng-click="select('d_category_id', category)" data-ng-class="{active: selected.d_category_id == category.id}" class="category-link" href="">
            {{category.name}}
          </a>
          <a x-ng-show="is_editing_d" onbeforesave="updateCategoryName('DCategory', $data, category)" class="category-link" e-class="input-sm" buttons="no" editable-text="d_categories[$index].name">{{category.name}}</a>
        </li>
      </ul>
    </div>
    <hr>
    <div class="items-ctner" x-ng-if="check_items.length > 0">
      <h4>检验项目
        <small class="text-warning">（点击各检验项目展开详情）</small>
      </h4>
      <hr>
      <div class="item list-group" data-ng-repeat="check_item in check_items">
        <div class="list-group-item-heading">
          <h5>
	     <span x-ng-click="toggleItem(check_item)">{{$index + 1}}. {{check_item.name}}</span>
	 <% if is_open_production? %> 
            <a x-ng-if="current_item == check_item" x-ng-click="deleteItem($index)" class="btn text-danger btn-xs pull-right" href="javascript:void(0);">移除该检测项</a>
          <% end %>
	  </h5>
        </div>
        <div x-ng-if="current_item == check_item" class="list-group-item-body">
          <table class="table table-bordered table-condensed">
            <tr>
              <th style="text-align: center; vertical-align: middle;" width="80">名称</th>
	     <% if is_open_production? %>
	     <td><a href="#" editable-text="check_item.name">{{check_item.name || '单击编辑'}}</a></td>
	     <% else%>
		<td><a>{{check_item.name || '单击编辑'}}</a></td>
             <% end%>
	    </tr>
            <tr>
              <th style="text-align: center; vertical-align: middle;" width="80">结果单位</th>
	     <% if is_open_production? %>
              <td><a href="#" editable-text="check_item.JGDW">{{check_item.JGDW || '单击编辑'}}</a></td>
              <% else%>
                <td><a>{{check_item.JGDW || '单击编辑'}}</a></td>
             <% end%>
            </tr>
            <tr>
              <th width="80" style="vertical-align: middle; text-align: center;">判定依据</th>
              <td>
	      <% if is_open_production? %>
                <ol style="padding-left: 30px;" class="pdyj-list">
                  <li data-ng-repeat="pdyj in check_item.PDYJ track by $index">
                    <a href="#" editable-text="check_item.PDYJ[$index]">{{pdyj || '点击编辑'}}</a></li>
                </ol>
                <a class="btn btn-link btn-xs" x-ng-click="check_item.PDYJ.push(null)" href="javascript:void(0);"><i class="glyphicon glyphicon-plus"></i>添加判定依据</a>
              <% else%>
		<ol style="padding-left: 30px;" class="pdyj-list">
		<li data-ng-repeat="pdyj in check_item.PDYJ track by $index">
		<a>{{pdyj || '点击编辑'}}</a></li>
		</ol>
             <% end%>  
	    </td>
      </tr>
       <% if false %>
       <tr>
          <th width="80" style="vertical-align: middle; text-align: center;">检验依据简化版</th>
           <td>
            <% if is_open_production? %>
             <ol style="padding-left: 30px;" class="jyyjjhb-list">
               <li data-ng-repeat="jyyjjhb in check_item.JYYJJHB track by $index">
               <a href="#" editable-text="check_item.JYYJJHB[$index]">{{jyyjjhb || '点击编辑'}}</a></li>
             </ol>
              <a class="btn btn-link btn-xs" x-ng-click="check_item.JYYJJHB.push(null)" href="javascript:void(0);"><i class="glyphicon glyphicon-plus"></i>添加判定依据</a>
             <% else%>
              <ol style="padding-left: 30px;" class="jyyjjhb-list">
               <li data-ng-repeat="jyyjjhb in check_item.JYYJJHB track by $index">
              </ol>
           <% end %>
           </td>
       </tr>
        <% end%>
            <tr>
              <th>检测方法</th>
              <td>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>检验依据</th>
                    <th>标准方法检出限</th>
                    <th>标准检出限单位</th>
                    <th>标准最小允许限</th>
                    <th>标准最小允许限单位</th>
                    <th>标准最大允许限</th>
                    <th>标准最大允许限单位</th>
                    <th>检验依据简化版</th>
		    <% if is_open_production? %>
                    <th>#</th>
		   <% end%>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="option in check_item.options">
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.JYYJ}}" data-ng-model="option.JYYJ">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZFFJCX}}" data-ng-model="option.BZFFJCX">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZFFJCXDW}}" data-ng-model="option.BZFFJCXDW">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZZXYXX}}" data-ng-model="option.BZZXYXX">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZZXYXXDW}}" data-ng-model="option.BZZXYXXDW">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZZDYXX}}" data-ng-model="option.BZZDYXX">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZZDYXXDW}}" data-ng-model="option.BZZDYXXDW">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.JYYJJHB}}" data-ng-model="option.JYYJJHB">
                    </td>

	           <% if is_open_production?%>
                    <td>
                      <a x-ng-click="removeOption(check_item.options, $index)" class="btn btn-xs btn-danger" href="javascript:void(0);">移除</a>
                    </td>
		   <% end%>
                  </tr>
                  </tbody>
                  <tfoot>
		 <% if is_open_production? %>
                  <tr>
                    <td colspan="8">
                      <a class="btn btn-success btn-xs" x-ng-click="check_item.options.push({})" href="javascript:void(0);"><i class="glyphicon glyphicon-plus"></i>添加检验依据</a>
                    </td>
                  </tr>
                 <% end %>
                  </tfoot>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
   <% if is_open_production? %>
    <div class="actions">
      <a href="javascript:void(0);" x-ng-click="addCheckItem()" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-plus"></i>添加检测项目</a>
    </div>
   <% end%>
  </div>
  <div x-ng-if="!!selected.d_category_id">
    <hr>
   <% if is_open_production? %>
    <button x-ng-click="doSave(selected.d_category_id)" class="btn btn-success btn-sm">保存</button>
   <% end%>
   </div>

  <hr>
  <div class="well well-sm">
    <h3>报送分类模板更新</h3>
    <%= form_for @baosong_b do |f| %>
        <div class="form-group">
          <%= f.label '模板文件' %> <a href="/baosong_tmpl.xls">导入模板下载</a>
          <%= f.file_field :file, :class => "form-control input-sm" %>
        </div>
	<% if is_open_production?%>
        <div class="actions">
          <%= f.submit "提交", :class => "btn btn-sm btn-primary", 'data-confirm' => '确定提交报送分类的更新模板吗?此操作比较危险,可能会导致数据的取值问题,提交前请确认风险承受能力.' %>
        </div>
	<% end%>
    <% end %>
  </div>
</div>
