<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @baosong_b.name %>
</p>

<p>
  <b>Note:</b>
  <%= @baosong_b.note %>
</p>

<p>
  <b>Baosong a:</b>
  <%= @baosong_b.baosong_a_id %>
</p>


<%= link_to 'Edit', edit_baosong_b_path(@baosong_b) %> |
<%= link_to 'Back', baosong_bs_path %>
