<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#user_user_s_province').change(function () {
      var o = $(this);
      if (o.val() == '') return false;
      reload_jg_data();

      $('#user_prov_city').empty();
      $('#user_prov_country').empty();

      $.get('/prov.json', {prov: o.find('option:selected').attr('data-id')}, function (data) {
        $('<option>-请选择-</option>').appendTo($('#user_prov_city'));
        $.each(data.msg, function (i, item) {
          $('<option>').attr('value', item.id).text(item.name).appendTo($('#user_prov_city'));
        });
      }, 'json');
    });

    $('#user_prov_city').change(function () {
      var o = $(this);

      $('#user_prov_country').empty();
      $('<option>-请选择-</option>').appendTo($('#user_prov_country'));

      $.get('/prov.json', {city: o.val()}, function (data) {
        $.each(data.msg, function (i, item) {
          $('<option>').attr('value', item.id).text(item.name).appendTo($('#user_prov_country'));
        });
      }, 'json');
    });

    $('.request-signup-code').click(function () {
      var self = $(this);
      var mobile = $('#mobile').val();
      var isMobile = new RegExp("^0?(13|15|17|18|14)[0-9]{9}$").test(mobile);
      if (!isMobile || mobile.length > 11) {
        alert('手机号码格式错误');
        return false;
      }
      $.post('/sms_helper/send_msg.json', {mobile: mobile, type: 'signup'}, function (data) {
        if (data.status == 'OK') {
          var i = 120;
          self.addClass('disabled').val(i + '秒后重新获取');
          $('#mobile').addClass('disabled');
          var timer = setInterval(function () {
            i--;
            self.text(i + '秒后重新获取');
            if (i <= 0) {
              clearInterval(timer);
              self.removeClass('disabled').val('获取验证码');
              $('#mobile').removeClass('disabled');
            }
          }, 1000);
        } else {
          alert(data.msg);
        }
      }, 'json');
    });

    $('.function').change(function () {
      if ($('.function:checked').length > 3) {
        $(this).removeAttr('checked');
      }
    });

    $('#user_jg_type').select2({theme: 'bootstrap', placeholder: '机构类型'}).change(function () {
      reload_jg_data();
    });

  });

  function reload_jg_data() {
    $.get('/jg_bsbs/by_province.json', {
      prov: $('#user_user_s_province').find('option:selected').text(),
      jg_type: $('#user_jg_type').val()
    }, function (data) {
      if (data.status == 'OK') {
        $('#user_jg_bsb_id').empty();
        $.each(data.msg, function (index, item) {
          $("<option>").attr({'value': item[1]}).text(item[0]).appendTo($('#user_jg_bsb_id'));
        });

        $('#user_jg_bsb_id').select2({theme: 'bootstrap', placeholder: '请选择所在机构'});
      }
    }, 'json');
  }
</script>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="panel panel-success">
        <div class="panel-body">
          <h3>注册新用户</h3>
          <hr>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form-group">
                <label>省份：<span class="text-danger">*</span><%= show_error(@user.errors, :user_s_province) %></label>
                <div class="form-inline">
                  <%= f.select :user_s_province, options_for_select(SysProvince.level1.pluck(:name, :id).map { |p| [p[0], p[0], {'data-id' => p[1]}] }.unshift(['-请选择-', nil])), {}, :class => 'form-control input-sm' %>
                  <%= f.select :prov_city, [], {}, :class => 'form-control input-sm' %>
                  <%= f.select :prov_country, [], {}, :class => 'form-control input-sm' %>
                </div>
              </div>

              <div class="form-group form-inline">
                <label>机构：<span class="text-danger">*</span><%= show_error(@user.errors, :user_s_province) %></label>
                <br>
                <%= f.select :jg_type, options_for_select([['请选择', 0], ['监管部门', 1], ['采样机构', 2], ['检验机构', 3]]), {}, class: 'form-control input-sm', style: 'width: 120px; margin-right: 10px;' %><%= f.select :jg_bsb_id, [], {}, :class => 'form-control input-sm', style: 'width: 300px;' %>
              </div>

              <div class="functions form-group">
                <label>职能：(最多3项) <span class="text-danger">*</span><%= show_error(@user.errors, :function_type) %>
                  <small>详细职能解释，请参照系统手册</small>
                </label>
                <% User::FuncType.each do |k, v| %>
                    <div class="checkbox">
                      <label><input class="function" type="checkbox" <%= 'checked' if ((params[:user]||{})[:function] || []).include?(v.to_s) %> name="user[function][]" value="<%= v %>"><%= k %>
                      </label>
                    </div>
                <% end %>
              </div>

              <div class="form-group">
                <label>姓名：<span class="text-danger">*</span><%= show_error(@user.errors, :tname) %></label>
                <%= f.text_field :tname, :class => "form-control input-sm" %>
              </div>

              <div class="form-group">
                <label>身份证号：<%= show_error(@user.errors, :id_card) %></label>
                <br>
                <%= f.text_field :id_card, :class => "form-control input-sm" %>
              </div>

              <div class="form-group">
                <label>手机号：<span class="text-danger">*</span><%= show_error(@user.errors, :mobile) %></label>

                <div class="input-group">
                  <%= f.text_field :mobile, id: 'mobile', :class => "form-control input-sm" %>
                  <span class="input-group-btn"><button class="request-signup-code btn btn-default btn-sm" type="button">获取验证码</button></span>
                </div>
              </div>

              <div class="form-group">
                <label>验证码：<span class="text-danger">*</span><%= show_error(@user.errors, :sms_code) %></label>
                <br>
                <%= f.text_field :sms_code, :class => "form-control input-sm" %>
              </div>

              <div class="form-group">
                <label>口令：<span class="text-danger">*(至少8位)</span><%= show_error(@user.errors, :password) %></label>
                <%= f.password_field :password, :class => "form-control input-sm" %>
              </div>
              <div class="form-group">
                <label>确认口令：<span class="text-danger">*(至少8位)</span><%= show_error(@user.errors, :password_confirmation) %>
                </label>
                <%= f.password_field :password_confirmation, :class => "form-control input-sm" %>
              </div>
              <hr>
              <div class="actions">
                <button class="btn btn-sm btn-success" style="width: 100%;">注册</button>
              </div>
          <% end %>
          <br>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
