<br>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="panel panel-success">
        <div class="panel-body">
          <h3>注册新用户</h3>
          <hr>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form-group">
                <label>省份：<span class="text-danger">*</span><%= show_error(@user.errors, :user_s_province) %>
                </label>
                <%= f.select :user_s_province, options_for_select(SysProvince.level1.pluck(:name).unshift(['-请选择-', -1])), {}, :class => 'form-control input-sm' %>
              </div>

              <div class="form-group">
                <label>职能：<span class="text-danger">*</span><%= show_error(@user.errors, :function_type) %>
                </label>
                <%= f.select :function_type, options_for_select(User::FuncType.map { |k, v| [k, v] }.unshift(['-请选择-', -1])), {}, :class => 'form-control input-sm' %>
              </div>

              <div class="form-group">
                <label>姓名：<span class="text-danger">*</span><%= show_error(@user.errors, :name) %></label>
                <%= f.text_field :name, :class => "form-control input-sm" %>
              </div>

              <div class="form-group">
                <label>身份证号：<span class="text-danger">*</span><%= show_error(@user.errors, :id_card) %></label>
                <br>
                <%= f.text_field :id_card, :class => "form-control input-sm" %>
              </div>

              <div class="form-group">
                <label>手机号：<span class="text-danger">*</span><%= show_error(@user.errors, :mobile) %></label>

                <div class="input-group">
                  <%= f.text_field :mobile, :class => "form-control input-sm" %>
                  <span class="input-group-btn"><button class="btn btn-default btn-sm" type="button">获取验证码</button></span>
                </div>
              </div>

              <div class="form-group">
                <label>验证码：<span class="text-danger">*</span></label>
                <br>
                <%= f.text_field :sms_code, :class => "form-control input-sm" %>
              </div>

              <div class="form-group">
                <label>口令：<span class="text-danger">*(至少8位)</span><%= show_error(@user.errors, :password) %></label>
                <%= f.password_field :password, :class => "form-control input-sm" %>
              </div>
              <hr>
              <div class="actions">
                <button class="btn btn-sm btn-success">注册</button>
              </div>
          <% end %>
          <br>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
