<!--link rel="stylesheet" href="/jquery-ui/themes/base/jquery.ui.all.css">
<script src="/jquery-ui/jquery-1.9.1.js"></script>
<script src="/jquery-ui/ui/jquery.ui.core.js"></script>
<script src="/jquery-ui/ui/jquery.ui.widget.js"></script>
<script src="/jquery-ui/ui/jquery.ui.datepicker.js"></script>
<link rel="stylesheet" href="/jquery-ui/demos.css"-->

<script>
    function partRefresh1() {
        document.getElementById("indexid").src="/hzp_bsbs";
    };
    $(function() {
		$( "#begin_time" ).datepicker({dateFormat:"yy-mm-dd",
			changeMonth: true,
			changeYear: true
		});
	});
    $(function() {
		$( "#ending_time" ).datepicker({dateFormat:"yy-mm-dd",
			changeMonth: true,
			changeYear: true
		});
	});
</script>

<br/>
<h1><center>化妆品安全检验数据报送表</center></h1>
<br/>
<form action="/hzp_bsbs_spsearch" method="get">
<!--%= tag(:input, :type => "hidden", :name =>request_forgery_protection_token.to_s, :value =>form_authenticity_token) %-->
填报起始日期:&nbsp;<input type="text" id="begin_time" name="begin_time" value=<%=@begin_time%>></input>&nbsp;&nbsp;
至填报结束日期:&nbsp;<input type="text" id="ending_time" name="ending_time" value=<%=@ending_time%>></input>
填报类型：
<select id="s8" name="s8">
  <option value=4>全部数据</option>
  <option value=5>批量导入数据提交</option>
  <option value=1>数据未提交</option>
  <option value=2>基本信息已提交</option>
  <option value=3>检测数据已提交</option>
</select>

<br/>
<br/>
采样单位名称：<input type="text" id="s1" name="s1"></input>
&nbsp;&nbsp;&nbsp;&nbsp;检验机构名称：<input type="text" id="s2" name="s2"></input>
&nbsp;&nbsp;&nbsp;&nbsp;填报人：<input type="text" id="s3" name="s3"></input>
<br/>
<br/>
样品名称：<input type="text" id="s4" name="s4"></input>
&nbsp;&nbsp;&nbsp;&nbsp;采样编号：<input type="text" id="s7" name="s7"></input>
<input type="submit" value="搜索" ></input>
</form>
<br/>
<br/>
<table>
  <tr>
    <th>填报日期</th>
    <th>&nbsp;</th>
    <th>采样日期</th>
    <th>&nbsp;</th>
    <th>省份</th>
    <th>&nbsp;</th>
    <th>采样编号</th>
    <th>&nbsp;</th>
    <th>样品名称</th>
    <th>&nbsp;</th>
    <th>采样单位名称</th>
    <th>&nbsp;</th>
    <th>检验机构名称</th>
    <th>&nbsp;</th>
  </tr>

<% @hzp_bsbs.each do |hzp_bsb| %>
  <tr>
    <td><%= hzp_bsb.hzp_d_90 %></td>
    <td>&nbsp;</td>
    <td><%= hzp_bsb.hzp_d_34 %></td>
    <td>&nbsp;</td>
    <td><%= hzp_bsb.hzp_s_3 %></td>
    <td>&nbsp;</td>
    <td width="80px"><%= hzp_bsb.hzp_s_14 %></td>
    <td>&nbsp;</td>
    <td width="80px"><%= hzp_bsb.hzp_s_13 %></td>
    <td>&nbsp;</td>
    <td width="100px"><%= hzp_bsb.hzp_s_31 %></td>
    <td>&nbsp;</td>
    <td width="100px"><%= hzp_bsb.hzp_s_39 %></td>
    <td>&nbsp;</td>
    <%if (hzp_bsb["hzp_i_state"]==nil) %>
        <td><%= link_to '修改', edit_hzp_bsb_path(hzp_bsb) %></td>
        <td><%= link_to '删除', hzp_bsb, method: :delete, data: { confirm: '是否删除?' } %></td>
    <%elsif (hzp_bsb["hzp_i_state"]<2) %>
        <td><%= link_to '修改', edit_hzp_bsb_path(hzp_bsb) %></td>
        <td><%= link_to '删除', hzp_bsb, method: :delete, data: { confirm: '是否删除?' } %></td>
    <%elsif hzp_bsb["hzp_i_state"]<4 %>
        <td><%= link_to '填报检测数据', edit_hzp_bsb_path(hzp_bsb) %></td>
        <td><%= link_to '删除', hzp_bsb, method: :delete, data: { confirm: '是否删除?' } %></td>
    <%elsif hzp_bsb["hzp_i_state"]==4%>
        <td><%= link_to '查看', hzp_bsb %></td>
        <%if current_user.is_admin?%>
            <td><%= link_to '退修', :controller => "hzp_bsbs",:action => "submit", :id =>hzp_bsb %></td>
        <%end%>
    <%elsif hzp_bsb["hzp_i_state"]==10 %>
        <td><%= link_to '修改(导入待入库)', edit_hzp_bsb_path(hzp_bsb) %></td>
        <td><%= link_to '删除', hzp_bsb,method: :delete, data: { confirm: '是否删除?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>
<p><%=will_paginate @hzp_bsbs ,:separator=>',',:previous_label=>'上一页',:next_label=>'下一页'%></p>
<!-- %= button_to '新填表格', new_hzp_bsb_path,:method => :get%-->
<fieldset style="padding: 5px 10px;">
	<legend>导入Excel</legend>
	<b> <%= flash[:import_result] unless flash[:import_result].nil?%> </b>
	<%= form_tag({action: :import_excel}, multipart: true) do %>
		<%= file_field_tag 'excel' %>
		<br></br>
		<%= submit_tag("样本信息批量上传") %>
        <br></br>
	<% end %>
    <%= form_tag({action: :export_excel}, multipart: true) do %>
        <%= submit_tag("样本信息批量上传模板下载") %>
	<% end %>
    <br></br>
    <%= form_tag({action: :export_info_excel}, multipart: true) do %>
        <%= submit_tag("样本信息下载") %><font color="red">特别要注意：</font>本功能可将系统中的全部样品信息数据下载到本地，本功能非常占用系统资源，下载时间会较长，请不要反复下载！<br></br>
	<% end %>
</fieldset>

