<p id="notice"><%= notice %></p>

<p>
  <b>Flex field:</b>
  <%= @flexcontent.flex_field %>
</p>

<p>
  <b>Flex name:</b>
  <%= @flexcontent.flex_name %>
</p>

<p>
  <b>Flex:</b>
  <%= @flexcontent.flex_id %>
</p>


<%= link_to 'Edit', edit_flexcontent_path(@flexcontent) %> |
<%= link_to 'Back', flexcontents_path %>
