<%= stylesheet_link_tag('tasks') %>
<%= javascript_include_tag 'deploy' %>
<script type="text/javascript" charset="utf-8">
  window.current_tab = <%= params[:tab] %>;
</script>

<% if current_user.is_admin? %>
    <% #如果当前账户为admin 则 显示 【总局本级】和【转移地方】的任务 %>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="<%= 'active' if params[:tab].to_i == 0 %>"><a href="?tab=0">总局任务</a></li>
      <li role="presentation" class="<%= 'active' if params[:tab].to_i == 1 %>"><a href="?tab=1">下级承担</a></li>
    </ul>
    <div class="tab-content">
      <% # 总局本级 %>
      <% if params[:tab].to_i == 0 %>
          <%= render 'tasks/deploy/benji' %>
      <% end %>
      <% # /总局本级 %>

      <% # 转移地方 - 地方承担 %>
      <% if params[:tab].to_i == 1 %>
          <%= render 'tasks/deploy/transfer' %>
      <% end %>
      <% # /委托地方 %>
    </div>
<% else %>
    <% #省局下达 %>
    <%= render 'tasks/deploy/prov' %>
    <% #/省局下达 %>
<% end %>
