<style type="text/css">
    .login-style-switcher {
        font-size: 12px;
        color: #CCCCCC;
        clear: both;
    }

    .hidden {
        display: none;
    }

    .no-key-tip {
        color: red;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
</style>

<script type="text/javascript">
    function switchTo(type) {
        if (type == 0) {
            $('.login-ca').hide();
            $('.login-normal').show();
        } else if (type == 1) {
            $('.login-normal').hide();
            $('.login-ca').show();
        }
        return false;
    }

    $(function () {
        <% unless flash[:error].blank? %>
        setTimeout(function () {
            alert('<%= flash[:error] %>');
        }, 500);
        <% end %>
        <% is_opne_ca %>
          SetUserCertList('login_form_ca.user_cert_list', CERT_TYPE_ALL);
        <% end %>

        $('#cert-login').click(function () {
            var ret = Login('login_form_ca', login_form_ca.user_cert_list.value, login_form_ca.cert_password.value)
            if (ret) {
                $('.login-ca *').attr('disabled', 'disabled');
                $('.logining-tip').removeClass('hidden');
                var userCert = $('input[name="UserCert"]').val();
                $.post('/ca_login.json', {
                    userCert: userCert,
                    certId: login_form_ca.user_cert_list.value
                }, function (data) {
                    if (data.status == 'OK') {
                        location.href = "/welcome_notices";
                    } else {
                        alert(data.msg);
                        $('.login-ca *').removeAttr('disabled');
                        if (data.code == 444) {
                            location.href = "/bind_ca_key";
                        }
                    }
                    $('.logining-tip').addClass('hidden');
                }, 'json')
            }
            return false;
        });

        setTimeout(function () {
            if (!!!login_form_ca.user_cert_list.value) {
                $('.no-key-tip').removeClass('hidden');
            } else {
                $('.no-key-tip').addClass('hidden');
            }
        }, 1000)

        SetOnUsbKeyChangeCallBack(function () {
            setTimeout(function () {
                if (!!!login_form_ca.user_cert_list.value) {
                    $('.no-key-tip').removeClass('hidden');
                } else {
                    $('.no-key-tip').addClass('hidden');
                }
            }, 3000)
        });

    });
</script>
<DIV class="header"></DIV>
<DIV class="logmainbox">
  <DIV class="left"></DIV>
  <DIV class="right">
    <% if Rails.application.config.site[:enable_ca_login] %>
        <div class="login-ca <%= "hidden" if Rails.application.config.site[:enable_ca_login] %>" style="margin: 90px auto auto 60px;">
          <form name="login_form_ca" action="/admin/login" method="post">
            <% if browser.chrome? and browser.version.to_i > 42 %>
                <h4>CA登录暂不支持版本号大于42的谷歌（Chrome）浏览器，当前版本：<%= browser.version %></h4>
            <% else %>
                <p class="text-danger no-key-tip hidden">提示：请插入USBkey完成登录</p>

                <p class="logining-tip hidden" style="font-size: 12px; color: red;">验证中……</p>

                <div class="form-group has-feedback">
                  <label for="">用户：</label>
                  <select id="user_cert_list" name="user_cert_list" class="form-control input-sm"></select>
                </div>
                <br>

                <div class="form-group has-feedback">
                  <label for="">密码：</label>
                  <input placeholder="USB key密码" class="cert-password form-control input-sm" id="cert_password" name="cert_password" type="password">
                </div>
                <br>
                <br>
                <INPUT id="cert-login" type="image" src="<%= asset_path('bt2.jpg') %>" onclick="submit"><br>
                <a style="color: red; font-size: 12px;" href="http://bbs.cfda.pub:8080/app/BJCA/BJCA.zip">安装证书助手</a>
                <br>
            <% end %>
            <a href="javascript:void(0);" onclick="switchTo(0);return false;" class="login-style-switcher">账号密码登录>></a>
            <a href="/ca_helper/verify_report.html" class="login-style-switcher">报告有效性在线验证</a>
          </form>
        </div>
    <% end %>
    <!--<div class="login-normal">-->
    <div>
      <form name="login_form_normal" action="/admin/login" method="post">
        <DIV class="fmtittle">欢迎使用检测检验数据管理平台</DIV>
        <DIV class="fm1l">用户名</DIV>
        <DIV class="fm1r"><INPUT style="WIDTH: 150px" name="name" id="name"></DIV>
        <DIV class="fm1l">密 码</DIV>
        <DIV class="fm1r"><INPUT style="WIDTH: 150px" type="password" name="password" id="password"></DIV>
        <DIV class="fm2l"><INPUT type="image" src="<%= asset_path('bt2.jpg') %>" onclick="submit"></DIV>
        <DIV class="fm2r"><INPUT type="image" src="<%= asset_path('bt2-02.jpg') %>"></DIV>
        <% if Rails.application.config.site[:enable_ca_login] %>
            <br>
            <br>

            <div class="clearfix"></div>
            <a href="javascript:void(0);" onclick="switchTo(1);return false;" style="margin-left: 80px;" class="login-style-switcher">USB
              Key登录>></a>
            <a href="/ca_helper/verify_report.html" class="login-style-switcher">报告有效性在线验证</a>
        <% end %>
      </form>
    </div>
  </DIV>
</DIV>
<DIV class="footer">中国食品药品检定研究院<A href="mailto:info@nifdc.org.cn" target="_blank">E-mail:info@nifdc.org.cn</A></DIV>
