<p id="notice"><%= notice %></p>

<p>
  <b>Xsbg tt:</b>
  <%= @xsbg_tt_datum.xsbg_tt_id %>
</p>

<p>
  <b>Spdata 0:</b>
  <%= @xsbg_tt_datum.spdata_0 %>
</p>


<%= link_to 'Edit', edit_xsbg_tt_datum_path(@xsbg_tt_datum) %> |
<%= link_to 'Back', xsbg_tt_data_path %>
