<style type="text/css">

    .style1 {
        border-collapse: collapse;
        font-size: 9pt;
        font-family: Calibri, sans-serif;
        border-style: none;
        border-color: inherit;
        border-width: medium;
        table-layout: fixed;
    }

    .style1 td {
        border: solid windowtext 1.0px;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 30px;
    }

    .style1 th {
        border: solid windowtext 1.0px;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 30px;
    }

    .form-control input-sm {
        font-size: 12px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-bottom: 1px solid;
        background-color: transparent;

    }

</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('input:text:first').focus();
        var $inp = $('input:text');
        $inp.bind('keydown', function (e) {
            var key = e.which;
            if (key == 13) {
                e.preventDefault();
                var nxtIdx = $inp.index(this) + 1;
                $(":input:text:eq(" + nxtIdx + ")").focus();
                return true;
            }
            return true;
        });
        var baseIndex = 100;
        $("#tblGrid").find("tr").each(function (r) {
            $(this).find("td").each(function (c) {
                $(this).find("input,select").attr("tabindex", r * 100 + c + baseIndex);
            });
        });
        $("#tblGrid .form-control input-sm").bind("keydown", function (evt) {
            var tabIndex = parseInt($(this).attr("tabindex"));
            switch (evt.which) {
                case 38: //上
                    tabIndex -= 100;
                    break;
                case 40: //下
                    tabIndex += 100;
                    break;
                case 37: //左(會導致輸入時無法使用左右移)
                    tabIndex = tabIndex - 2;
                    break;
                case 39: //右(會導致輸入時無法使用左右移)
                    tabIndex = tabIndex + 2;
                    break;
                default:
                    return true;
            }
            if (tabIndex > 0) {
                $(".form-control input-sm[tabindex=" + tabIndex + "]").focus();
                return false;
            }
            return true;
        });
        $.each(GP, function (index, data) {
            $("#jg_bsb_jg_province").append("<option value='" + data + "'>" + data + "</option>");
        });
        $("#jg_bsb_jg_province").val('<%=@jg_bsb["jg_province"]%>');

        $('#btn-modify').click(function () {
            $(this).addClass('hidden');
            $('.modify-name-ctner').removeClass('hidden');
            return false;
        });

        $('#do-modify-jg-name').click(function () {
            var name = $('#new_name').val();
            if (name == '') {
                alert('请填写名称');
                $('#new_name').focus();
                return false;
            }
            if (confirm('确定进行机构改名操作吗？')) {
                $.post('/jg_bsbs/<%= @jg_bsb.id %>/rename.json', {
                    jg_bsb_id: <%= @jg_bsb.id %>,
                    name: name,
                    note: $('#note').val()
                }, function (res) {
                    if (res.status == 'OK') {
                        location.reload();
                    } else {
                        alert(res.msg);
                    }
                });
            }
            return false;
        });
    });
</script>
<%= form_for(@jg_bsb) do |f| %>
    <h1 style="color:red"><%= flash[:import_result] unless flash[:import_result].nil? %></h1>
    <%= flash[:notice] %>
    <table class="table table-bordered" id="tblGrid">
      <tr>
        <td colspan="6">机构名称</td>
        <td colspan="34">
          <p class="current_name">
            <%= @jg_bsb.current.name unless @jg_bsb.current.nil? %>
            <a href="" id="btn-modify" class="pull-right btn btn-link btn-xs">修改名称</a>
          </p>

          <div class="modify-name-ctner hidden">
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">机构改名</div>
              <div class="panel-body">
                <div class="form-group">
                  <label>机构名称：</label>
                  <input id="new_name" type="text" class="form-control input-sm">
                </div>
                <div class="form-group">
                  <label>备注：</label>
                  <textarea id="note" type="text" class="form-control input-sm"></textarea>
                </div>
                <hr>
                <button id="do-modify-jg-name" class="btn btn-xs btn-danger">确定</button>
                <hr>
                <table class="table">
                  <caption>更名历史</caption>
                  <thead>
                  <tr>
                    <th width="200">名称</th>
                    <th width="200">更名时间</th>
                    <th>备注</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @jg_bsb.jg_bsb_names.order('id desc').each do |name| %>
                      <tr>
                        <td><%= name.name %></td>
                        <td><%= name.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
                        <td><%= name.note %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="6">地址</td>
        <td colspan="34"><%= f.text_field :jg_address, :class => "form-control input-sm" %></td>
      </tr>
      <tr>
        <td colspan="6">机构法人</td>
        <td colspan="6"><%= f.text_field :jg_leader, :class => "form-control input-sm" %></td>
        <td colspan="6">机构联系人</td>
        <td colspan="6"><%= f.text_field :jg_contacts, :class => "form-control input-sm" %></td>
        <td colspan="6">上级行政主管部门名称</td>
        <td colspan="10"><%= f.text_field :jg_higher_level, :class => "form-control input-sm" %></td>
      </tr>
      <tr>
        <td colspan="6">联系邮箱</td>
        <td colspan="6"><%= f.text_field :jg_email, :class => "form-control input-sm" %></td>
        <td colspan="6">联系电话</td>
        <td colspan="6"><%= f.text_field :jg_tel, :class => "form-control input-sm" %></td>
        <td colspan="6">所属省份</td>
        <td colspan="10"><%= f.select :jg_province, '', {} %></td>
      </tr>
      <tr>
        <td colspan="6">
          <p>
            <label>
              <%= f.check_box :jg_administrion %>
              是否地方局
            </label>
          </p>
        </td>
        <td colspan="6">
          <p>
            <label>
              <%= f.check_box :jg_sp_permission %>
              食品权限
            </label>
          </p>
        </td>
        <td colspan="6">
          <p>
            <label>
              <%= f.check_box :jg_bjp_permission %>
              保健品权限
            </label>
          </p>
        </td>
        <td colspan="6">
          <p>
            <label>
              <%= f.check_box :jg_hzp_permission %>
              化妆品权限
            </label>
          </p>
        </td>
        <td colspan="6">
          <p>
            <label>
              <%= f.check_box :jg_group %>
              是否牵头单位
            </label>
          </p>
        </td>
        <td colspan="10" class="form-inline">牵头:<%= f.select :jg_group_category, options_for_select(ACategory.select('distinct name').map{|c| [c.name, c.name]}, @jg_bsb.jg_group_category), {}, {style: 'width: 100px', class: 'form-control input-sm'} %></td>
      </tr>
      <tr>
        <td colspan="6">
          <p>
            <label>
              <%= f.check_box :jg_enable %>
              是否有效期内
            </label>
          </p>
        </td>
        <td colspan="6">
          <p>
            <label>
              <%= f.check_box :jg_sampling %>
              是否采样
            </label>
          </p>
        </td>
        <td colspan="6">
          <p>
            <label>
              <%= f.check_box :jg_detection %>
              是否检测
            </label>
          </p>
        </td>
        <td colspan="6">食品检验机构资质认定证书编号及有效期</td>
        <td colspan="6"><%= f.text_field :jg_certification, :class => "form-control input-sm" %></td>
        <td colspan="4">委托承检范围</td>
        <td colspan="6"><%= f.text_field :jg_word_area, :class => "form-control input-sm" %></td>
      </tr>
      <tr>
        <td colspan="5">采样机构编号</td>
        <td colspan="10">
          <%= f.text_field :code, :class => "form-control input-sm" %>
        </td>
        <td colspan="8">检测机构接口地址</td>
        <td colspan="17">
          <%= f.text_field :api_ip_address, :class => "form-control input-sm" %>
        </td>
      </tr>
      <tr>
        <td colspan="5">GPS用户名</td>
        <td colspan="10">
          <%= f.text_field :gpsname, :class => "form-control input-sm" %>
        </td>
        <td colspan="8">GPS密码</td>
        <td colspan="17">
          <%= f.text_field :gpspassword, :class => "form-control input-sm" %>
        </td>
      </tr>
      <tr>
        <td colspan="10">公章<br/><span style="color:#999">（请上传PNG格式背景透明，<br/>&nbsp;&nbsp;图片宽高不超过200px，<br/>&nbsp;&nbsp;文件大小不超过0.5M）</span>
        </td>
        <td colspan="30">
          <% if @jg_bsb["attachment_path"].blank? %>
              尚未上传公章<br/>
          <% else %>
              已传公章:<img src="/jg_bsbs/<%= @jg_bsb.id %>/attachment" width="200px" height="200px"><br/>
          <% end %>
          <h1 style="color:red"><%= flash[:attachment_result] unless flash[:attachment_result].nil? %></h1>
          <%= f.file_field :attachment_path_file, :class => 'btn btn-xs' %>
        </td>
      </tr>
      <tr>
        <td colspan="10">检验报告签章规则号<span style="color:#999">（多个规则号用#分隔）</span></td>
        <td colspan="30">
          <p><%= @jg_bsb.pdf_sign_rules %></p>
          <a href="/jg_bsb_stamps?jg_bsb_id=<%= @jg_bsb.id %>" class="btn btn-link">机构签章管理<i class="glyphicon glyphicon-arrow-right"></i></a>
        </td>
      </tr>
      <% if @show==0||@show==nil %>
          <tr>
            <td colspan="40">
              <%= f.submit(vaule="保存并退出", options={"id" => "save_and_exit", :class => "btn btn-xs btn-primary"}) %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>
