<style>
  td {
    vertical-align: middle !important;
  }
</style>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#jg-province').select2({placeholder: '请选择省份'});
    $('#jg-city').select2({placeholder: '请选择市/区'});
    $('#jg-province').change(function () {
      var o = $(this);
      if (o.val() == '') return false;
      $('#jg-city').empty();

      $.get('/prov.json', {prov: o.find('option:selected').attr('data-id')}, function (data) {
        $('<option value="">-请选择-</option>').appendTo($('#jg-city'));
        $.each(data.msg, function (i, item) {
          $('<option>').attr({'value': item.name, 'data-id': item.id}).text(item.name).appendTo($('#jg-city'));
        });
        $('#jg-city').select2({placeholder: '请选择市/区'});
      }, 'json');
    }).trigger('change');
  });
</script>
<h1 align="center">机构列表</h1>
<form action="/jg_bsbs" method="GET">
  <table class="table table-bordered">
    <tr>
      <td width="80">机构名称</td>
      <td width="200"><input class="form-control input-sm" name="name" type="text" value="<%= params[:name] %>"></td>
      <td width="80">联系人</td>
      <td width="200"><input class="form-control input-sm" name="contact" type="text" value="<%= params[:contact] %>"></td>
      <td width="80">省份</td>
      <td>
        <select name="province" id="jg-province" style="width: 100px;">
          <option value="">--请选择--</option>
          <% SysProvince.where("level LIKE '_' OR level LIKE '__'").each do |prov| %>
              <option data-id="<%= prov.id %>" value="<%= prov.name %>"><%= prov.name %></option>
          <% end %>
        </select>
        <select name="jg_city" id="jg-city" style="width: 100px;" ></select>
      </td>
    </tr>
  </table>
  <% if current_user.is_admin? or is_shengshi?  %>
  <input type="submit" value="搜索" class="btn btn-sm btn-primary">
  <% end %>
  <hr>
</form>
<br>
<table class="table table-bordered">
  <thead>
  <tr>
    <th colspan="7" class="col-md-2 col-xs-2">名称</th>
    <th colspan="7" class="col-md-2 col-xs-2">地址</th>
    <th colspan="4">联系人</th>
    <th colspan="4">电话</th>
    <th colspan="2">省份</th>
    <th colspan="2">市/区</th>
    <th colspan="2">#</th>
    <th colspan="2">#</th>
  </tr>
  </thead>

  <% @jg_bsbs.each do |jg_bsb| %>
      <tr>
        <td colspan="7"><%= jg_bsb.jg_name %></td>
        <td colspan="7"><%= jg_bsb.jg_address %></td>
        <td colspan="4"><%= jg_bsb.jg_contacts %></td>
        <td colspan="4"><%= jg_bsb.jg_tel %></td>
        <td colspan="2"><%= jg_bsb.jg_province %></td>
        <td colspan="2"><%= jg_bsb.city == "-请选择-"? "":jg_bsb.city %></td>
        <td colspan="2"><%= link_to '编辑', edit_jg_bsb_path(jg_bsb), class: 'btn btn-default btn-xs' %></td>
<% if current_user.is_admin? or is_sheng? %>
        <td colspan="2"><%= link_to '删除', jg_bsb, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %></td>
<% else %>
       <td colspan="2">--</td>
<% end %>
      </tr>
  <% end %>
</table>
<% if current_user.is_admin? or is_shengshi? %>
<h2><%= link_to '新建机构', new_jg_bsb_path, :class => "btn btn-sm btn-primary" %></h2>
<% end%>
<p><%= will_paginate @sp_bsbs, :separator => ',', :previous_label => '上一页', :next_label => '下一页' %></p>
<% if false and current_user.is_admin? %>
    <fieldset style="padding: 5px 10px;">
      <legend>机构用户导入</legend>
      <b> <%= flash[:import_result] unless flash[:import_result].nil? %> </b>
      <%= form_tag({action: :import_data_excel}, multipart: true) do %>
          <%= file_field_tag 'excel' %>
          <br>
          <%= submit_tag("机构用户导入") %>
      <% end %>
    </fieldset>
<% end %>
