<p id="notice"><%= notice %></p>

<p>
  <b>Spdata 0:</b>
  <%= @spdatum.spdata_0 %>
</p>

<p>
  <b>Spdata 1:</b>
  <%= @spdatum.spdata_1 %>
</p>

<p>
  <b>Spdata 2:</b>
  <%= @spdatum.spdata_2 %>
</p>

<p>
  <b>Spdata 3:</b>
  <%= @spdatum.spdata_3 %>
</p>

<p>
  <b>Spdata 4:</b>
  <%= @spdatum.spdata_4 %>
</p>

<p>
  <b>Spdata 5:</b>
  <%= @spdatum.spdata_5 %>
</p>

<p>
  <b>Spdata 6:</b>
  <%= @spdatum.spdata_6 %>
</p>

<p>
  <b>Spdata 7:</b>
  <%= @spdatum.spdata_7 %>
</p>

<p>
  <b>Spdata 8:</b>
  <%= @spdatum.spdata_8 %>
</p>

<p>
  <b>Spdata 9:</b>
  <%= @spdatum.spdata_9 %>
</p>


<%= link_to 'Edit', edit_spdatum_path(@spdatum) %> |
<%= link_to 'Back', spdata_path %>
