<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>复核查询统计</title>
    <!-- css
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/TreeGrid.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/fhcxtj.css">
    -->
    <%#= stylesheet_link_tag "statistics_old/bootstrap/dist/css/bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag "statistics_old/reset","statistics_old/fhcxtj","statistics_old/TreeGrid", :media => "all" %>
    <!-- js
    <script src="../libs/treegrad/jquery-1.3.2.min.js"></script>
    <script src="../libs/treegrad/TreeGrid.js"></script>
    -->
    <%= javascript_include_tag "statistics/layDate/laydate","statistics/treegrad/jquery-1.3.2.min","statistics/treegrad/TreeGrid" %>
</head>
<body>
    <div class="container">
        <!-- 头部head -->
        <div class="page-header testcompany_header">
            <h1>复核查询统计</h1>
        </div>

        <!-- 上侧按钮部分 -->
        <div class="foodcate_btn">
            <%= search_form_for @q, url: composite_statistics_path, html: {role: "form"} do |f|  %>
                <!-- 选项部分 -->
                <div class="checkquery_option">
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox1" value="option1">统计指标
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox2" value="option2">抽样环节
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option4">被抽样单位
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option5">生产企业
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option6">承检单位
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option7">任务类别
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option8">生产单位所在省
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option3">报送分类
                    </label>
                </div>
                
                <!-- 下拉选项部分 -->
                <div class="check_selectbox">
                    <%= f.label :统计指标 %>
                    <%= f.select :sp_s_71, options_for_select([['全部', nil], ['合格批次', '合格'], ['不合格批次', '不合格']],params[:q].blank? ? '':params[:q]["sp_s_71"]),{},class:"form-control checkbox_optionA",id:"checkbox_optionA" %>
                </div>
                <div class="check_selectbox">
                    <%= f.label :抽样环节 %>
                    <%= f.select :sp_s_68_eq, [["生产","生产"],["流通","流通"],["餐饮","餐饮"]],{:include_blank => "请选择"},class:"form-control checkbox_optionB",id:"checkbox_optionB" %>
                </div>
                <div class="check_selectbox">
                    <%= f.label :被抽样单位 %>
                    <%= f.search_field :sp_s_1_eq,class:"form-control checkbox_optionE" %>
                </div>
                <div class="check_selectbox">
                    <%= f.label :生产企业 %>
                    <%= f.search_field :sp_s_64_eq,class:"form-control checkbox_optionF" %>
                </div>
                <div class="check_selectbox">
                    <%= f.label :承检单位 %>
                    <%= f.select :sp_s_43_eq, inspecton_body.each{ |jg| [jg,jg]},{:include_blank => "请选择"},class:"form-control checkbox_optionG",id:"checkbox_optionG" %>
                </div>
                <div class="check_selectbox">
                    <%= f.label :任务类别 %>
                    <%= f.select :sp_s_44_eq, [["监督抽检","监督抽检"],["抽检检测","抽检检测"],["风险检测","风险检测"]],{:include_blank => "全部"},class:"form-control checkbox_optionC",id:"checkbox_optionC" %>
                </div>
                <div class="check_selectbox">
                    <%= f.label :生产单位所在省, style:"width: 50%" %>
                    <%= f.select :sp_s_202_eq, SysProvince.where("level like '_' or level like '__'").map{|m| [m.name,m.name]}, {:include_blank => "全部"},class:"form-control checkbox_optionD",id:"checkbox_optionD",style:"width: 35%" %>
                </div>
                </br>
                <div class="check_selectbox">
                    <%= f.label :任务来源 %>
                    <%= f.select :sp_s_2_1_eq, all_super_departments.map { |name| [name, name] },{:include_blank =>"请选择"},class:"form-control checkbox_optionN",id:"checkbox_optionN"%>
                </div>
                <div class="check_selectbox">
                    <label for="checkbox_optionH">报送分类A</label>
                    <%= f.select :sp_s_70_eq, BaosongA.all.map { |b| [b.name, b.name] },{:include_blank =>"请选择"},class:"form-control checkbox_optionH",id:"checkbox_optionH"%>
                </div>
                <div class="check_selectbox">
                    <label for="checkbox_optionI">报送分类B</label>
                    <%= f.select :sp_s_67_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionI",id:"checkbox_optionI"%>
                </div>
                </br>
                <div class="check_selectbox">
                    <%= f.label :食品大类 %>
                    <%= f.select :sp_s_17_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionJ",id:"checkbox_optionJ"%>
                </div>
                <div class="check_selectbox">
                    <%= f.label :食品亚类 %>
                    <%= f.select :sp_s_18_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionK",id:"checkbox_optionK"%>
                </div>
                <div class="check_selectbox">
                    <%= f.label :食品次亚类 %>
                    <%= f.select :sp_s_19_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionL",id:"checkbox_optionL"%>
                </div>
                <div class="check_selectbox">
                    <%= f.label :食品细类 %>
                    <%= f.select :sp_s_20_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionM",id:"checkbox_optionM"%>
                </div>
                </br>
                <div class="check_time">
                  <div class="check_selectbox">
                      <%= f.label :起始日期 %>
                      <%= f.text_field :created_at_start,class:"form-control checkbox_optionN",value:"#{params[:q].blank? ? '':params[:q]["created_at_start"]}" %>
                  </div>
                  <div class="check_selectbox">
                      <%= f.label :截止日期 %>
                      <%= f.text_field :created_at_end,class:"form-control checkbox_optionN",value:"#{params[:q].blank? ? '':params[:q]["created_at_end"]}"%>
                  </div>
                </div>
                <!-- 右侧操作按钮 -->
                <div class="taskbtn_operBox">
                    <button type="submit" class="btn btn-default taskbtn_query">查询</button>
                    <button type="submit" class="btn btn-default taskbtn_export bgc1 btn-primary">导出列表</button>
                </div>
            <% end %>
        </div>

        <!-- 下侧列表数据部分 -->
        <!-- 表格操作 -->
        <!-- <div class="formOperation">
            <input type="button" value="关闭列表" onclick="expandAll('N')">  
            <input type="button" value="展开列表" onclick="expandAll('Y')">  
            <input type="button" value="取得当前行数据" onclick="selectedItem()">
            <input type="text" id="currentRow" size="110" style="display: none;">
        </div> -->
          
        <!-- 表格数据 -->
        <div id="div1" style="margin-bottom: 100px;">
            <!-- 动态加载数据 -->
        </div>
    </div>
    
</body>
<script type="text/javascript">
    var config = {
        id: "tg1",
        width: "100%",
        renderTo: "div1",
        headerAlign: "left",
        headerHeight: "30",
        dataAlign: "left",
        indentation: "20",
        folderOpenIcon: "<%= asset_path('statistics/page-open.png') %>",
        folderCloseIcon: "<%= asset_path('statistics/page-close.png') %>",
        defaultLeafIcon: "<%= asset_path('statistics/page-none.png') %>", 
        hoverRowBackground: "false",
        folderColumnIndex: "0",
        itemClick: "itemClickEvent",
        columns:[
            {headerText: "地区", dataField: "name", headerAlign: "center",width: "200", handler: "customOrgName"},
            {headerText: "总批次",dataField: "totalbat", headerAlign: "center", dataAlign: "center", width: "100"},
            {headerText: "监督抽检批次", dataField: "samplingbat",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "合格批次", dataField: "qualifiedbat",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "不合格批次",dataField: "unqualifiedbat", headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "不合格样品率", dataField: "qualifiedsamp",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "风险检测批次", dataField: "riskbat",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "问题样品批次", dataField: "problembat",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "问题样品率", dataField: "problemsamp",headerAlign: "center", dataAlign: "center", width: "120"}
        ],
        data: <%= raw @data %> 
    };

    $(document).ready(function(){
        var date=new Date;
        var year = date.getFullYear();
        var month=date.getMonth()+1;
        month =(month<10 ? "0"+month:month);
        var mydate = (year.toString()+"-"+month.toString());
        // 时间区域选取
        // 初始时间
        laydate.render({
          elem: '#q_created_at_start', //指定元素
          type: 'month',
          trigger: 'click',
          value:year+"-01"
        });
        // 结束时间
        laydate.render({
          elem: '#q_created_at_end', //指定元素
          type: 'month',
          trigger: 'click',
          value:mydate
        });
        treeGrid.expandAll("N");//默认关闭
        $("#div1 table tr:last td:first").children("img").remove(); //删除最后图标
        $(".allcheck").click(function(){
            $("#tg1").find("input[name='cblbox']").attr("checked",$(this).attr("checked"));
        });
    });
    /*
        单击数据行后触发该事件
        id：行的id
        index：行的索引。
        data：json格式的行数据对象。
    */
    function itemClickEvent(id, index, data){


        jQuery("#currentRow").val(id + ", " + index + ", " + TreeGrid.json2str(data));
    }

    /*
        通过指定的方法来自定义栏数据
    */
    function customCheckBox(row, col){
        return "<input name='cblbox' type='checkbox'>";
    }

    function customOrgName(row, col){
        var name = row[col.dataField] || "";
        return name;
    }

    function customLook(row, col){

        return "<a href='javascript:void(0)' onclick='showrowname(\""+row.code+"\",\""+row.name+"\")' style='color:blue;'>查看</a>";
    }

    function showrowname(code , name){
        alert( code +  name );

    }

    //创建一个组件对象
    var treeGrid = new TreeGrid(config);
    treeGrid.show();

    /*
        展开、关闭所有节点。
        isOpen=Y表示展开，isOpen=N表示关闭
    */
    function expandAll(isOpen){
        treeGrid.expandAll(isOpen);
    }

    /*
        取得当前选中的行，方法返回TreeGridItem对象
    */
    function selectedItem(){
        var treeGridItem = treeGrid.getSelectedItem();
        if(treeGridItem!=null){
            //获取数据行属性值
            //alert(treeGridItem.id + ", " + treeGridItem.index + ", " + treeGridItem.data.name);

            //获取父数据行
            var parent = treeGridItem.getParent();
            if(parent!=null){
                //jQuery("#currentRow").val(parent.data.name);
            }

            //获取子数据行集
            var children = treeGridItem.getChildren();
            if(children!=null && children.length>0){
                jQuery("#currentRow").val(children[0].data.name);
            }
        }
    }
</script>
<%= render :partial => "baosong_js" %>

<!-- 选择筛选器 -->
<script type="text/javascript">
    var $Check_selectbox = $(".check_selectbox"); //表单栏集合
    var $Checks_box = $("input[name='checkbox']");  //复选框集合
    var len = $Checks_box.length; //获取复选框总个数
    $Checks_box.each(function(index,element){
        $(this).click(function(){
            // 复选框联动
            if($(this).is(":checked")){
                $($Check_selectbox).eq(index).css("display","inline-block");
                if (index == len - 1) {
                    $($Check_selectbox).eq(index).nextAll(".check_selectbox").css("display","inline-block");
                }
            }else{
                $($Check_selectbox).eq(index).css("display","none");
                if (index == len - 1) {
                    $($Check_selectbox).eq(index).nextAll(".check_selectbox").css("display","none");
                }
            }
        })
    });
</script>
</html>
