<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>复核查询统计</title>
    <!-- css
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/TreeGrid.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/fhcxtj.css">
    -->
    <%#= stylesheet_link_tag "statistics_old/bootstrap/dist/css/bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag "statistics_old/reset","statistics_old/fhcxtj","statistics_old/TreeGrid", :media => "all" %>
    <!-- js
    <script src="../libs/treegrad/jquery-1.3.2.min.js"></script>
    <script src="../libs/treegrad/TreeGrid.js"></script>
    -->
    <%= javascript_include_tag "statistics/treegrad/jquery-1.3.2.min","statistics/treegrad/TreeGrid" %>
</head>
<body>
    <div class="container">
        <!-- 头部head -->
        <div class="page-header testcompany_header">
            <h1>复核查询统计</h1>
        </div>

        <!-- 上侧按钮部分 -->
        <div class="foodcate_btn">
            <%= search_form_for @q, url: composite_statistics_path, html: {role: "form"} do |f|  %>
            <!--<form role="form">-->
                <!-- 选项部分 -->
                <div class="checkquery_option">
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox1" value="option1">统计指标
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox2" value="option2">抽样环节
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option4">被抽样单位
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option5">生产企业
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option6">承检单位
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option7">任务类别
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option8">生产单位所在省
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="checked" name="checkbox" id="inlineCheckbox3" value="option3">报送分类
                    </label>
                </div>
                
                <!-- 下拉选项部分 -->
                <!-- 选取栏1 -->
                <div class="check_selectbox">
                    <label for="foodbox_optionA">统计指标</label>
                    <select class="form-control checkbox_optionA" id="checkbox_optionA">
                        <option selected="selected">全部</option>
                        <option>合格批次</option>
                        <option>不合格批次</option>
                    </select>
                </div>
                <!-- 选取栏2 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionB">抽样环节</label>
                    <select class="form-control checkbox_optionB" id="checkbox_optionB">
                        <option selected="selected">请选择</option>
                        <option>生产</option>
                        <option>流通</option>
                        <option>餐饮</option>
                    </select>
                </div>
                <!-- 选取栏3 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionE">被抽样单位</label>
                    <input type="text" class="form-control checkbox_optionE">
                </div>
                <!-- 选取栏4 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionF">生产企业</label>
                    <input type="text" class="form-control checkbox_optionF">
                </div>
                <!-- 选取栏5 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionG">承检单位</label>
                    <select class="form-control checkbox_optionG" id="checkbox_optionG">
                        <option selected="selected">请选择</option>
                        <option>六安市检测机构</option>
                        <option>广州汇标检测技术中心</option>
                        <option>阳江市检测检验中心</option>
                    </select>
                </div>
                <!-- 选取栏6 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionC">任务类别</label>
                    <select class="form-control checkbox_optionC" id="checkbox_optionC">
                        <option selected="selected">全部</option>
                        <option>监督抽检</option>
                        <option>抽检检测</option>
                        <option>风险检测</option>
                    </select>
                </div>
                <!-- 选取栏7 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionD" style="width: 50%;" >生产单位所在省</label>
                    <select class="form-control checkbox_optionD" id="checkbox_optionD" style="width: 35%;">
                        <option selected="selected">全部</option>
                        <option>吉林</option>
                        <option>安徽</option>
                        <option>内蒙古</option>
                        <option>河北</option>
                        <option>湖南</option>
                    </select>
                </div>
                </br>
                <!-- 选取栏8 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionH">报送分类A</label>
                    <select class="form-control checkbox_optionH" id="checkbox_optionH">
                        <option selected="selected">请选择</option>
                        <option>抽检监测(市级本级)</option>
                        <option>抽检监测(省级专项)</option>
                        <option>抽检监测(省级转移)</option>
                    </select>
                </div>
                <!-- 选取栏9 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionI">报送分类B</label>
                    <select class="form-control checkbox_optionI" id="checkbox_optionI">
                        <option selected="selected">请选择</option>
                        <option>2017年安徽合肥食品抽检计划</option>
                        <option>2017年安徽宣城跟踪抽检计划</option>
                    </select>
                </div>
                </br>
                <!-- 选取栏10 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionJ">食品大类</label>
                    <select class="form-control checkbox_optionJ" id="checkbox_optionJ">
                        <option selected="selected">请选择</option>
                        <option>食用油、油脂及制品</option>
                        <option>调味品</option>
                        <option>肉制品</option>
                    </select>
                </div>
                <!-- 选取栏11 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionK">食品亚类</label>
                    <select class="form-control checkbox_optionK" id="checkbox_optionK">
                        <option selected="selected">请选择</option>
                        <option>小麦粉</option>
                        <option>大米</option>
                        <option>挂面</option>
                    </select>
                </div>
                <!-- 选取栏12 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionL">食品次亚类</label>
                    <select class="form-control checkbox_optionL" id="checkbox_optionL">
                        <option selected="selected">请选择</option>
                        <option>小麦粉</option>
                    </select>
                </div>
                <!-- 选取栏13 -->
                <div class="check_selectbox">
                    <label for="checkbox_optionM">食品细类</label>
                    <select class="form-control checkbox_optionM" id="checkbox_optionM">
                        <option selected="selected">请选择</option>
                        <option>通用小麦粉</option>
                        <option>专用小麦粉</option>
                    </select>
                </div>

                <!-- 右侧操作按钮 -->
                <div class="taskbtn_operBox">
                    <button type="submit" class="btn btn-default taskbtn_query">查询</button>
                    <button type="submit" class="btn btn-default taskbtn_export bgc1 btn-primary">导出列表</button>
                </div>
            <!-- </form> -->
            <% end %>
        </div>

        <!-- 下侧列表数据部分 -->
        <!-- 表格操作 -->
        <!-- <div class="formOperation">
            <input type="button" value="关闭列表" onclick="expandAll('N')">  
            <input type="button" value="展开列表" onclick="expandAll('Y')">  
            <input type="button" value="取得当前行数据" onclick="selectedItem()">
            <input type="text" id="currentRow" size="110" style="display: none;">
        </div> -->
          
        <!-- 表格数据 -->
        <div id="div1" style="margin-bottom: 100px;">
            <!-- 动态加载数据 -->
        </div>
    </div>
    
</body>
<script type="text/javascript">
    var config = {
        id: "tg1",
        width: "100%",
        renderTo: "div1",
        headerAlign: "left",
        headerHeight: "30",
        dataAlign: "left",
        indentation: "20",
        folderOpenIcon: "<%= asset_path('statistics/page-open.png') %>",
        folderCloseIcon: "<%= asset_path('statistics/page-close.png') %>",
        defaultLeafIcon: "<%= asset_path('statistics/page-none.png') %>", 
        hoverRowBackground: "false",
        folderColumnIndex: "0",
        itemClick: "itemClickEvent",
        columns:[
            {headerText: "地区", dataField: "name", headerAlign: "center",width: "200", handler: "customOrgName"},
            {headerText: "总批次",dataField: "totalbat", headerAlign: "center", dataAlign: "center", width: "100"},
            {headerText: "监督抽检批次", dataField: "samplingbat",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "合格批次", dataField: "qualifiedbat",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "不合格批次",dataField: "unqualifiedbat", headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "不合格样品率", dataField: "qualifiedsamp",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "风险检测批次", dataField: "riskbat",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "问题样品批次", dataField: "problembat",headerAlign: "center", dataAlign: "center", width: "120"},
            {headerText: "问题样品率", dataField: "problemsamp",headerAlign: "center", dataAlign: "center", width: "120"}
        ],
        data: <%= raw @data %> 
        //data:[
        //    {name: "合肥",totalbat:"6574",samplingbat:"1232",qualifiedbat:"1200",unqualifiedbat:"193",qualifiedsamp:"4.263%",riskbat:"1222",problembat:"713",problemsamp:"1.24%",children:[
        //                        {name: "长丰",totalbat:"2131",samplingbat:"231",qualifiedbat:"226",unqualifiedbat:"5",qualifiedsamp:"1.23%",riskbat:"650",problembat:"625",problemsamp:"3.75%",},
        //                        {name: "肥东",totalbat:"2344",samplingbat:"434",qualifiedbat:"400",unqualifiedbat:"34",qualifiedsamp:"5.17%",riskbat:"654",problembat:"23",problemsamp:"1.25%",},
        //                        {name: "巢湖",totalbat:"1009",samplingbat:"954",qualifiedbat:"800",unqualifiedbat:"154",qualifiedsamp:"11.5%",riskbat:"380",problembat:"65",problemsamp:"18.7%",},
        //                        ]},
        //    {name: "安庆",totalbat:"7500",samplingbat:"6500",qualifiedbat:"6350",unqualifiedbat:"150",qualifiedsamp:"6.2%",riskbat:"2200",problembat:"106",problemsamp:"4.818%",},
        //    {name: "黄山",totalbat:"10900",samplingbat:"8000",qualifiedbat:"7355",unqualifiedbat:"645",qualifiedsamp:"8.06%",riskbat:"3552",problembat:"72",problemsamp:"2.64%",},
        //    {name: "六安",totalbat:"7826",samplingbat:"6500",qualifiedbat:"6350",unqualifiedbat:"150",qualifiedsamp:"6.2%",riskbat:"2200",problembat:"106",problemsamp:"4.818%",},
        //    {name: "总计",totalbat:"32800",samplingbat:"22232",qualifiedbat:"21255",unqualifiedbat:"1138",qualifiedsamp:"6.18%",riskbat:"9174",problembat:"997",problemsamp:"3.379%",height:"200"},
        //]
    };

    $(document).ready(function(){
        treeGrid.expandAll("N");//默认关闭
        $("#div1 table tr:last td:first").children("img").remove(); //删除最后图标
        $(".allcheck").click(function(){
            $("#tg1").find("input[name='cblbox']").attr("checked",$(this).attr("checked"));
        });

    });
    /*
        单击数据行后触发该事件
        id：行的id
        index：行的索引。
        data：json格式的行数据对象。
    */
    function itemClickEvent(id, index, data){


        jQuery("#currentRow").val(id + ", " + index + ", " + TreeGrid.json2str(data));
    }

    /*
        通过指定的方法来自定义栏数据
    */
    function customCheckBox(row, col){
        return "<input name='cblbox' type='checkbox'>";
    }

    function customOrgName(row, col){
        var name = row[col.dataField] || "";
        return name;
    }

    function customLook(row, col){

        return "<a href='javascript:void(0)' onclick='showrowname(\""+row.code+"\",\""+row.name+"\")' style='color:blue;'>查看</a>";
    }

    function showrowname(code , name){
        alert( code +  name );

    }

    //创建一个组件对象
    var treeGrid = new TreeGrid(config);
    treeGrid.show();

    /*
        展开、关闭所有节点。
        isOpen=Y表示展开，isOpen=N表示关闭
    */
    function expandAll(isOpen){
        treeGrid.expandAll(isOpen);
    }

    /*
        取得当前选中的行，方法返回TreeGridItem对象
    */
    function selectedItem(){
        var treeGridItem = treeGrid.getSelectedItem();
        if(treeGridItem!=null){
            //获取数据行属性值
            //alert(treeGridItem.id + ", " + treeGridItem.index + ", " + treeGridItem.data.name);

            //获取父数据行
            var parent = treeGridItem.getParent();
            if(parent!=null){
                //jQuery("#currentRow").val(parent.data.name);
            }

            //获取子数据行集
            var children = treeGridItem.getChildren();
            if(children!=null && children.length>0){
                jQuery("#currentRow").val(children[0].data.name);
            }
        }
    }
</script>

<!-- 选择筛选器 -->
<script type="text/javascript">
    var $Check_selectbox = $(".check_selectbox"); //表单栏集合
    var $Checks_box = $("input[name='checkbox']");  //复选框集合
    var len = $Checks_box.length; //获取复选框总个数
    $Checks_box.each(function(index,element){
        $(this).click(function(){
            // 复选框联动
            if($(this).is(":checked")){
                $($Check_selectbox).eq(index).css("display","inline-block");
                if (index == len - 1) {
                    $($Check_selectbox).eq(index).nextAll(".check_selectbox").css("display","inline-block");
                }
            }else{
                $($Check_selectbox).eq(index).css("display","none");
                if (index == len - 1) {
                    $($Check_selectbox).eq(index).nextAll(".check_selectbox").css("display","none");
                }
            }
        })
    });
</script>
</html>
