<div style="text-align: center; margin: 10px;">
  <h2>核查处置统计</h2>
  <p>统计核查处置及异议情况，如，处置单位，处置数、异议数、复检数、是否立案等相关的处置及异议统计。</p>
</div>
<div class="statistical-table">
  <table>
    <tr>
      <th>核查市</th>
      <th>不合格样品应处置数</th>
      <th>不合格样品处置数</th>
      <th>不合格样品处置率</th>
      <th>不合格样品率</th>
      <th>不合格样品处置完成数</th>
      <th>不合格样品处置完成率</th>
      <th>问题样品应处置数</th>
      <th>问题样品处置数</th>
      <th>问题样品处置率</th>
      <th>问题样品处置完成数</th>
      <th>问题样品处置完成率</th>
    </tr>
    <% [1,2,3,4,5,6,7,8].each do |ac| %>
      <tr>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
        <td><%= ac %></td>
      </tr>
    <% end %>
  </table>
</div>
