<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>核查处置统计</title>
    <!-- css
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/cjdwtj.css">
    -->
    <%#= stylesheet_link_tag "statistics_old/bootstrap/dist/css/bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag "statistics_old/reset","statistics_old/cjdwtj", :media => "all" %>
    <!-- js
    <script src="../libs/jquery-2.1.4/dist/jquery.min.js"></script>
    <script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../libs/layDate/laydate.js"></script>
    <script src="../libs/echarts.js"></script>
    -->
    <%= javascript_include_tag "statistics/layDate/laydate","statistics/city_data","statistics/hccztj" %>
    <script>
        $(document).ready(function(){
            // 时间区域选取
            // 初始时间
            laydate.render({
              elem: '#page-start', //指定元素
              type: 'month'
            });
            // 结束时间
            laydate.render({
              elem: '#page-end', //指定元素
              type: 'month'
            });

            // 按地区选择表格数据
            var cq_select = $(".topbtnSect_cqtj");
            cq_select.change(function(){
                var cq_selected = $(this).find("option:selected").text();
                switch(cq_selected){
                    case "合肥":
                    $('.hefei_datastatistics').show()
                    .siblings().hide();
                    break;
                    case "黄山":
                    $('.huangshan_datastatistics').show()
                    .siblings().hide();
                    break;
                    case "蚌埠":
                    $('.bengbu_datastatistics').show()
                    .siblings().hide();
                    break;
                }
            })
        
        })
    </script>
</head>
<body>
<div class="container">
    <!-- 头部head -->
    <div class="page-header testcompany_header">
        <h1>核查处置统计  </h1>
    </div>
    
    <!-- 上侧按钮部分 -->
    <div class="btn-group topside_date" role="group" aria-label="...">
        <!-- 按日期查询按钮 -->
        <div class="fillpage-date">
            <span>样品填报时间：</span>
            <div class="form-group">
                <label class="sr-only" for="page-start">开始时间</label>
                <input type="text" class="form-control" id="page-start" placeholder="开始时间">
            </div>
            <div style="width:20px;height:3px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;display: inline-block;"></div>
            <div class="form-group">
                <label class="sr-only" for="page-end">结束时间</label>
                <input type="text" class="form-control" id="page-end" placeholder="结束时间">
            </div>    
        </div>
        <!-- 切换显示模式 -->
        <div class="topside_switch">
            <button type="button" class="btn btn-default bgc1 btn-primary exportR">导出报表</button>
            <button type="button" class="btn btn-default changeType" id="changeBtn">切换图表模式</button>
        </div>
    </div>

     <!-- 上侧按钮部分 -->
    <div class="topbtn_cqtj">
        <form role="form">
            <div class="form-group topbtnSect_cqtj">
                <!-- 左侧选取栏 -->
                <label>区域：</label>
                <select class="form-control cqtj_option" id="cqtj_option"></select>
            </div>
        </form>
    </div>

    <!-- 表格数据 -->
    <div class="anhui_datastatistics">
        <!-- 表格数据1-合肥 -->
        <div class="hefei_datastatistics content_bottom">
            <table class="table table-bordered">
                <tr class="info">
                    <th>处置单位</th>
                    <th>处置环节</th>
                    <th>不合格处置数</th>
                    <th>不合格处置率</th>
                    <th>不合格处置完成数</th>
                    <th>不合格处置完成率</th>
                    <th>异议数</th>
                    <th>复检数</th>
                    <th>复检不合格数</th>
                    <th>立案数</th>
                </tr>
                <% @data.each do |name,value| %>
                  <tr>
                    <td><%= name %></td>
                    <td><%= value[0] %></td>
                    <td><%= value[1] %></td>
                    <td><%= value[2] %></td>
                    <td><%= value[3] %></td>
                    <td><%= value[4] %></td>
                    <td><%= value[5] %></td>
                    <td><%= value[6] %></td>
                    <td><%= value[7] %></td>
                    <td><%= value[8] %></td>
                  </tr>
                <% end %>
            </table>
        </div>
        <!-- 表格数据2-黄山 -->
        <div class="huangshan_datastatistics content_bottom" style="display: none">
            <table class="table table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>处置单位</th>
                    <th>处置环节</th>
                    <th>不合格处置数</th>
                    <th>不合格处置率</th>
                    <th>不合格处置完成数</th>
                    <th>不合格处置完成率</th>
                    <th>异议数</th>
                    <th>复检数</th>
                    <th>复检不合格数</th>
                    <th>立案数</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>大众超市</td>
                    <td>经营</td>
                    <td>35</td>
                    <td>20%</td>
                    <td>5</td>
                    <td>5%</td>
                    <td>5</td>
                    <td>50</td>
                    <td>5</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>食品有限公司</td>
                    <td>经营</td>
                    <td>30</td>
                    <td>10%</td>
                    <td>5</td>
                    <td>10%</td>
                    <td>5</td>
                    <td>10</td>
                    <td>45</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>人民食堂</td>
                    <td>经营</td>
                    <td>35</td>
                    <td>20%</td>
                    <td>5</td>
                    <td>5%</td>
                    <td>5</td>
                    <td>50</td>
                    <td>5</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td></td>
                    <td>100</td>
                    <td>50%</td>
                    <td>15</td>
                    <td>20%</td>
                    <td>15</td>
                    <td>110</td>
                    <td>55</td>
                    <td>9</td>
                </tr>
            </table>
        </div>
        <!-- 表格数据3-蚌埠 -->
        <div class="bengbu_datastatistics content_bottom" style="display: none">
            <table class="table table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>处置单位</th>
                    <th>处置环节</th>
                    <th>不合格处置数</th>
                    <th>不合格处置率</th>
                    <th>不合格处置完成数</th>
                    <th>不合格处置完成率</th>
                    <th>异议数</th>
                    <th>复检数</th>
                    <th>复检不合格数</th>
                    <th>立案数</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>大众超市</td>
                    <td>经营</td>
                    <td>35</td>
                    <td>20%</td>
                    <td>5</td>
                    <td>5%</td>
                    <td>5</td>
                    <td>50</td>
                    <td>5</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>食品有限公司</td>
                    <td>经营</td>
                    <td>10</td>
                    <td>1%</td>
                    <td>5</td>
                    <td>5%</td>
                    <td>15</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>食品网</td>
                    <td>经营</td>
                    <td>35</td>
                    <td>20%</td>
                    <td>5</td>
                    <td>5%</td>
                    <td>5</td>
                    <td>50</td>
                    <td>5</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td></td>
                    <td>80</td>
                    <td>41%</td>
                    <td>15</td>
                    <td>15%</td>
                    <td>25</td>
                    <td>105</td>
                    <td>15</td>
                    <td>9</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 右侧图表 -->
    <div class="charts">
        <div class="charts_1 hide">
            <div class="rightChart" id="chart" >
        
            </div> 
        </div> 
    </div>  
</div>
</body>
</html>
