<div class='statistical-title'>
  <h2>统计功能列表</h2>
</div>
<div class="statistical-list">
  <ul>
    <li><a href="<%= task_statistics_path %>"> 任务统计 </li>
    <li><a href="<%= food_statistics_path %>"> 食品类别统计 </li>
    <li><a href="<%= nonconformity_statistics_path %>"> 不合格项目统计 </li>
    <li><a href="<%= unit_statistics_path %>"> 承检单位统计 </li>
    <li><a href="<%= overtime_statistics_path %>"> 抽样及检验超期统计 </li>
    <li><a href="<%= disposal_statistics_path %>"> 核查处置统计 </li>
    <li><a href="<%= enterprise_statistics_path %>"> 企业覆盖率统计 </li>
    <li><a href="<%= early_warning_path %>"> 不合格样品及问题样品预警 </li>
    <li><a href="<%= composite_statistics_path %>"> 复合查询统计 </li>
  </ul>
</div>
