<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>任务统计</title>

    <!-- css
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/TreeGrid.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/rwtj.css">
    -->
    <%#= stylesheet_link_tag "statistics_old/bootstrap/dist/css/bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag "statistics_old/reset","statistics_old/rwtj","statistics_old/TreeGrid", :media => "all" %>

    <!-- js
    <script src="../libs/treegrad/jquery-1.3.2.min.js"></script>
    <script src="../libs/treegrad/TreeGrid.js"></script>
    <script src="../libs/echarts.js"></script>
    -->
    <%= javascript_include_tag "statistics/treegrad/jquery-1.3.2.min","statistics/treegrad/TreeGrid" %>
</head>
<body>
    <div class="container">
        <!-- 头部head -->
        <div class="page-header testcompany_header">
            <h1>任务统计</h1>
        </div>

     <%= search_form_for @q, url: task_statistics_path, html: {role: "form"} do |f|  %>
       <div class="topbtn_task">
           <div class="form-group topbtnSect_task">
               <%= f.label :类型选取 %>
               <%= f.select :sp_s_tel, options_for_select([['任务类型','taskbox_sign'], ['食品类型', 'foodbox_sign'], ['抽样地点', 'sampbox_sign'], ['被抽样单位所在区域','productLocalbox_sign']],params[:q].blank? ? '':params[:q]["sp_s_tel"]),{},class:"form-control task_option",id:"task_option" %>
               <div class="taskbtn_operBox">
                   <button type="submit" class="btn btn-default taskbtn_query">查询</button>
                   <button type="submit" class="btn btn-default taskbtn_export bgc1 btn-primary">导出列表</button>
               </div>
           </div>
       </div>

       <div class="pubbox sampbox" id="sampbox_sign">
         <div class="sampbox_topCon">
           <%= f.label :筛选条件 %>
           <%= f.select :sp_s_68_eq, [["生产","生产"],["流通","流通"],["餐饮","餐饮"]],{:include_blank => "全部"},class:"form-control sampbox_option",id:"sampbox_option" %>
         </div>
       </div>

       <div class="pubbox taskbox" id="taskbox_sign">
         <div class="taskbox_topCon">
           <%= f.label :筛选条件 %>
           <%= f.select :sp_s_44_eq, [["监督抽检","监督抽检"],["抽检检测","抽检检测"],["风险检测","风险检测"]],{:include_blank => "全部"},class:"form-control taskbox_option",id:"taskbox_option" %>
         </div>
       </div>

       <div class="pubbox foodbox" id="foodbox_sign">
         <div class="foodbox_topCon">
           <div class="food_selectbox">
             <label for="checkbox_optionH">报送分类A</label>
             <%= f.select :sp_s_70_eq, BaosongA.all.map { |b| [b.name, b.name] },{:include_blank =>"请选择"},class:"form-control checkbox_optionH",id:"checkbox_optionH"%>
           </div>
           <div class="food_selectbox">
             <label for="checkbox_optionI">报送分类B</label>
             <%= f.select :sp_s_67_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionI",id:"checkbox_optionI"%>
           </div>
           </br>
           <div class="food_selectbox">
             <%= f.label :食品大类 %>
             <%= f.select :sp_s_17_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionJ",id:"checkbox_optionJ"%>
           </div>
           <div class="food_selectbox">
             <%= f.label :食品亚类 %>
             <%= f.select :sp_s_18_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionK",id:"checkbox_optionK"%>
           </div>
           <div class="food_selectbox">
             <%= f.label :食品次亚类 %>
             <%= f.select :sp_s_19_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionL",id:"checkbox_optionL"%>
           </div>
           <div class="food_selectbox">
             <%= f.label :食品细类 %>
             <%= f.select :sp_s_20_eq, [],{:include_blank =>"请选择"},class:"form-control checkbox_optionM",id:"checkbox_optionM"%>
           </div>
         </div>
       </div>

       <div class="pubbox productLocalbox" id="productLocalbox_sign">
         <div class="productLocalbox_topCon">
           <%= f.label :筛选条件 %>
           <%= f.select :sp_s_4_eq, SysProvince.level1.map{|m| [m.name,m.name]}, {:include_blank => "全部"},class:"form-control productLocalbox_option",id:"productLocalbox_option"%>
         </div>
       </div>
     <% end %>

      <!--table数据显示部分-->
      <div id="sampbox_bottomCon" style="margin-bottom: 100px;margin-top: 30px;">
        <!-- 动态加载数据 -->
      </div>
      <script type="text/javascript">
          var config = {
              id: "tg1",
              width: "100%",
              renderTo: "sampbox_bottomCon",
              headerAlign: "left",
              headerHeight: "30",
              dataAlign: "left",
              indentation: "20",
              folderOpenIcon: "<%= asset_path('statistics/page-open.png') %>",
              folderCloseIcon: "<%= asset_path('statistics/page-close.png') %>",
              defaultLeafIcon: "<%= asset_path('statistics/page-none.png') %>",
              hoverRowBackground: "false",
              folderColumnIndex: "0",
              itemClick: "itemClickEvent",
              columns:[
                  {headerText: "区域", dataField: "name", headerAlign: "center",width: "200", handler: "customOrgName"},
//                  {headerText: "任务数", dataField: "task", headerAlign: "center", dataAlign: "center",width: "100",},
                  {headerText: "抽样数",dataField: "sampling", headerAlign: "center", dataAlign: "center", width: "100"},
                  {headerText: "检验数", dataField: "test",headerAlign: "center", dataAlign: "center", width: "100"},
                  {headerText: "不合格数", dataField: "unqualified",headerAlign: "center", dataAlign: "center", width: "100"},
                  {headerText: "合格数", dataField: "qualified",headerAlign: "center", dataAlign: "center", width: "100"},
                  {headerText: "已处置", dataField: "Disposed",headerAlign: "center", dataAlign: "center", width: "100"},
                  {headerText: "处置中", dataField: "Disposal",headerAlign: "center", dataAlign: "center", width: "100"}
              ],
              data:<%= raw @data %>
              //data:[
              //    {name: "合肥",sampling:"500",test:"250",unqualified:"12",qualified:"238",Disposed:"7",Disposal:"5",children:[
              //        {name: "瑶海",sampling:"100",test:"50",unqualified:"2",qualified:"48",Disposed:"1",Disposal:"1",},
              //        {name: "庐阳",sampling:"200",test:"100",unqualified:"5",qualified:"95",Disposed:"3",Disposal:"2",},
              //        {name: "蜀山",sampling:"200",test:"100",unqualified:"5",qualified:"95",Disposed:"3",Disposal:"2",},
              //    ]},
              //    {name: "黄山",sampling:"200",test:"100",unqualified:"5",qualified:"95",Disposed:"3",Disposal:"2",},
              //    {name: "芜湖",sampling:"100",test:"50",unqualified:"2",qualified:"48",Disposed:"1",Disposal:"1",},
              //    {name: "合计：",sampling:"800",test:"400",unqualified:"19",qualified:"381",Disposed:"11",Disposal:"8",},
              //]
          };

          $(document).ready(function(){
              $("#sampbox_bottomCon table tr:last td:first").children("img").remove(); //删除最后图标
              $(".allcheck").click(function(){
                  $("#tg1").find("input[name='cblbox']").attr("checked",$(this).attr("checked"));
              });

          });
          /*
           单击数据行后触发该事件
           id：行的id
           index：行的索引。
           data：json格式的行数据对象。
           */
          function itemClickEvent(id, index, data){


              jQuery("#currentRow").val(id + ", " + index + ", " + TreeGrid.json2str(data));
          }

          /*
           通过指定的方法来自定义栏数据
           */
          function customCheckBox(row, col){
              return "<input name='cblbox' type='checkbox'>";
          }

          function customOrgName(row, col){
              var name = row[col.dataField] || "";
              return name;
          }

          function customLook(row, col){

              return "<a href='javascript:void(0)' onclick='showrowname(\""+row.code+"\",\""+row.name+"\")' style='color:blue;'>查看</a>";
          }

          function showrowname(code , name){
              alert( code +  name );

          }

          //创建一个组件对象
          var treeGrid = new TreeGrid(config);
          treeGrid.show();

          /*
           展开、关闭所有节点。
           isOpen=Y表示展开，isOpen=N表示关闭
           */
          function expandAll(isOpen){
              treeGrid.expandAll(isOpen);
          }

          /*
           取得当前选中的行，方法返回TreeGridItem对象
           */
          function selectedItem(){
              var treeGridItem = treeGrid.getSelectedItem();
              if(treeGridItem!=null){
                  //获取数据行属性值
                  //alert(treeGridItem.id + ", " + treeGridItem.index + ", " + treeGridItem.data.name);

                  //获取父数据行
                  var parent = treeGridItem.getParent();
                  if(parent!=null){
                      //jQuery("#currentRow").val(parent.data.name);
                  }

                  //获取子数据行集
                  var children = treeGridItem.getChildren();
                  if(children!=null && children.length>0){
                      jQuery("#currentRow").val(children[0].data.name);
                  }
              }
          }
      </script>
      <%= render :partial => "baosong_js" %>
    </div>
</body>
</html>
<script>
    // 默认显示任务类型
    var $selectValue = $("#task_option").find("option:selected").val();
    $("div#"+$selectValue).css("display","block");

    // 选取栏  
    $("select#task_option").change(function(){
        var optVal = $(this).val();
        console.log(optVal);
        switch(optVal){
            case 'taskbox_sign':
            $('.pubbox').css("display","none");
            $("#taskbox_sign").css("display","block");
            break;
            case 'foodbox_sign':
            $('.pubbox').css("display","none");
            $("#foodbox_sign").css("display","block");
            break;
            case 'sampbox_sign':
            $('.pubbox').css("display","none");
            $("#sampbox_sign").css("display","block");
            break;
            case 'productLocalbox_sign':
            $('.pubbox').css("display","none");
            $("#productLocalbox_sign").css("display","block");
            break;
        }
    });
</script>
