<%#= stylesheet_link_tag "statistics_old/bootstrap/dist/css/bootstrap.min.css", :media => "all" %>
<%= stylesheet_link_tag "statistics_old/reset","statistics_old/cjdwtj","statistics_old/TreeGrid", :media => "all" %>
<body>
<div class="container">
    <div class="page-header testcompany_header">
        <h1>承检单位统计</h1>
    </div>
    
    <div class="btn-group topside_date" role="group" aria-label="...">
      <%= search_form_for @q, url: unit_statistics_path, html: {role: "form"} do |f|  %>
        <div class="fillpage-date">
          <span>样品填报时间：</span>
          <div class="form-group">
            <%= f.hidden_field :defs,class:"form-control",id:"defs",value:"#{params[:q].blank? ? '0':params[:q]["defs"]}" %>
            <%= f.label :样品填报时间,class:"sr-only",for:"q_time" %>
            <%= f.text_field :time,class:"form-control",id:"time",placeholder:"选择时间",value:"#{params[:q].blank? ? '':params[:q]["time"]}" %>
          </div>
        </div>
        <div class="fillpage-date">
          <span>任务来源：</span>
          <div class="form-group foodcateSelect_btn rwly_selectbox">
              <%= f.select :sp_s_70_eq, BaosongA.all.map { |b| [b.name, b.name] },{:include_blank =>"请选择"},class:"form-control foodcateSelect_option",id:"checkbox_optionH"%>
          </div>
        </div>
        <div class="topside_switch">
          <button type="submit" class="btn btn-default taskbtn_query" id="search">查询</button>
          <button type="submit" class="btn btn-default taskbtn_export bgc1 btn-primary" id="save">导出列表</button>
          <input type="hidden" name="is_export" value="0" id="is_export">
          <button type="button" class="btn btn-default changeType" id="changeBtn">切换图表模式</button>
        </div>
      <% end %>
    </div>

    <div id="subpage">
      <%= render :partial => "subpage_unit_statistics", :locals => {:data => @data, :chart => @chart} %>
    </div>

</div>
</body>
<script>
  $(document).ready(function(){
      var char = <%= raw @chart %>
          console.log(char);
    $("#select").click(function(){
      request_ajax();
    })
    $("#search").click(function(){
      $("#is_export").val("0");
    });
    $("#save").click(function(){
      $("#is_export").val("1");
    });
    function request_ajax() {
      var url  = "/unit_statistics";
      $.ajax({
        type: "get",
        url:  url,
        data: {"subpage":"true","time":$("#time").val(),"bsfl":$("#bsfl").val()},
        success: function(data){
          $("#subpage").html(data);
          treeGrid.expandAll("N");//默认关闭
          chart()
        }
      });
    }
      var defs = $("#defs").val();
      var that = $('#changeBtn');
    if(defs=='0'){
        that.text('切换图表模式');
        $('.exportR').removeClass('hide');
        $('.topbtnSect_cqtj').addClass('hide');
    }else{
        $('#table_testCompany').toggleClass('hide');
        $('.charts').toggleClass('hide');
        that.text('切换表格模式');
        $('.exportR').addClass('hide');
        $('.topbtnSect_cqtj').removeClass('hide');
    }
  }) 
</script>
</html>
