<div class="ctner" style="width: 500px; margin: 50px auto;">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>完善账户信息</h4>
      <small>请填写完整以下账户信息，并确保各项内容正确无误</small>
    </div>
    <div class="panel-body">
      <%= form_for(@user) do |f| %>
          <div class="text-danger"><%= flash[:notice] %></div>
          <label>用户名：<%= @user.name %></label>
          <br>
          <label>姓名<span class="text-danger">*</span></label>
          <%= f.text_field :tname, :class => "form-control input-sm" %>
          <br>
          <% if @user.id_card.blank? %>
              <label>身份证号<span class="text-danger">*</span></label>
              <br>
              <%= f.text_field :id_card, :class => "form-control input-sm" %>
              <br>
          <% end %>
          <label>联系电话<span class="text-danger">*</span></label>
          <%= f.text_field :tel, :class => "form-control input-sm" %>
          <br>
          <button class="btn btn-sm btn-success" onclick="submit">提交</button>
      <% end %>
    </div>
  </div>
</div>
