<div class="fontbody">
  <style type="text/css">
    .style1 {
      border-collapse: collapse;
      font-size: 9pt;
      font-family: Calibri, sans-serif;
      border-style: none;
      border-color: inherit;
      border-width: medium;
      table-layout:fixed;
    }
    .style1 td{
      border: solid windowtext 1.0px;
      padding: 0cm 5.4pt 0cm 5.4pt;
      height: 30px;   
    }
    .style1 th{
      border: solid windowtext 1.0px;
      padding: 0cm 5.4pt 0cm 5.4pt;
      height: 30px;
    }
    .style1 p{
      height:5px;
    
    }
    .inputText {
      font-size: 12px;
      border-right-width: 0px;
      border-left-width: 0px;
      border-top-width: 0px;
      border-bottom: 1px solid;
      background-color : transparent; 
    }
  </style>

  <script>
    $(document).ready(function(){
      $.each(GP, function(index,data){
        $("#sp_sf").append("<option value='"+data+"'>"+data+"</option>");
      });
    });
  </script>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">用户查询</h3></div>
    <div class="panel-body">
      <% if current_user.name == 'superadmin' %>
        <form class="form-inline" action="/users" method="get">
          <label for="">省份：</label>
          <select type="text" class="form-control" id="sp_sf" name="sp_sf"></select>
          <label for="">用户名：</label>
          <input type="text" id="sp_name" class="form-control" name="sp_name"></select>
          <input type="submit" value="搜索" class="btn btn-sm btn-success"/>
        </form>
      <%end%>
      <br>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>电话</th>
            <th>email</th>
            <th>所在省份</th>
            <th>-</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.tname %></td>
            <td><%= user.tel %></td>
            <td><%= user.eaddress %></td>
            <td><%= user.user_s_province %></td>
            <td>
              <%= link_to '修改', edit_user_path(user), :class => "btn btn-info btn-xs" %>
              <% if current_user.name == 'superadmin' %>
                <%= link_to '删除', user, :method=>:delete, :confirm=>"确认删除?", :class => "btn btn-danger btn-xs"%>
              <%end%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% if current_user.name == 'superadmin' %>
        <p><%=will_paginate @users ,:separator=>',',:previous_label=>'上一页',:next_label=>'下一页'%></p>
        <%= link_to '新建用户', new_user_path, :class => 'btn btn-sm btn-success' %>
      <%end%>
    </div>
  </div>
  <% if current_user.name == 'superadmin' %>
    <div class="panel panel-default">
      <div class="panel-heading">批量用户导入</div>
      <div class="panel-body">
        <b> <%= flash[:import_result] unless flash[:import_result].nil?%> </b>
        <%= form_tag({action: :import_data_excel}, multipart: true) do %>
        <%= file_field_tag 'excel', :class => 'btn btn-sm btn-default' %>
        <br>
        <%= submit_tag("批量导入用户", :class => 'btn btn-sm btn-primary') %><br></br>
        <% end %>
        <%= form_tag({action: :export_user_info}, multipart: true) do %>
          <%= submit_tag("用户信息下载", :class => 'btn btn-sm btn-primary') %><br></br>
        <% end %>
      </div>
    </div>
  <%end%>
</div>