<% if current_user.is_super? %>
    <script type="text/javascript" charset="utf-8">
      $(function () {
        $('#user_user_search_form_prov').select2({theme: 'bootstrap', placeholder: '请选择机构名称'});
        $('#user_user_search_form_jg_id').select2({theme: 'bootstrap', placeholder: '请选择机构省份'});
      });
    </script>
<% end %>
<div class="fontbody">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">用户查询</h3></div>
    <div class="panel-body">
      <% if current_user.name == 'superadmin' or current_user.is_account_manager %>
          <%= form_for @search_form, url: '/users', method: :get do |f| %>
              <table class="table table-bordered" style="table-layout: fixed;">
                <tr>
                  <th width="80">姓名:</th>
                  <td><%= f.text_field :tname, class: 'form-control input-sm' %></td>
                  <th width="80">市/区:</th>
                  <td><%= f.select :prov, options_for_select(SysProvince.level1.pluck(:name).unshift(%w{-不限- /}), @search_form.prov), {}, class: 'form-control input-sm' %></td>
                  <th width="80">机构:</th>
                  <% cache 'jg_data' do %>
                      <td><%= f.select :jg_id, options_for_select(JgBsb.all.map { |jg| [jg.jg_name, jg.id] }.unshift(%w{-不限- /}), @search_form.jg_id), {}, class: 'form-control input-sm' %></td>
                  <% end %>
                </tr>
                <tr>
                  <th width="80">UID:</th>
                  <td><%= f.text_field :uid, class: 'form-control input-sm' %></td>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td colspan="6">
                    <label for="">基本权限</label>
                    <div class="checkbox">
                      <label><%= f.check_box :tbjbxx %>填报基本信息</label>
                      &emsp;
                      <label><%= f.check_box :jbjcsj %>填报检测数据</label>
                      &emsp;
                      <label><%= f.check_box :sbsh %>上报审核</label>
                      &emsp;
                      <label><%= f.check_box :sbpz %>上报批准</label>
                    </div>
                    <hr>
                    <label for="">异议处理</label>
                    <div class="checkbox">
                      <label><%= f.check_box :yy_gly %>管理员</label>
                      &emsp;
                      <label><%= f.check_box :yy_yysl %>异议受理</label>
                      &emsp;
                      <label><%= f.check_box :yy_zhxt %>综合协调</label>
                      &emsp;
                      <label><%= f.check_box :yy_yybl %>异议办理</label>
                      &emsp;
                      <label><%= f.check_box :yy_yysh %>异议审核</label>
                    </div>
                    <hr>
                    <label for="">后处理权限</label>
                    <div class="checkbox">
                      <label><%= f.check_box :hcl_gly %>管理员</label>
                      &emsp;
                    <!--  <label><%= f.check_box :hcl_czap %>处置安排</label>
                      &emsp;-->
                      <label><%= f.check_box :hcl_czbl %>处置领取</label>
                      &emsp;
                      <label><%= f.check_box :hcl_czsh %>处置审核</label>
                    </div>
                    <hr>
                    <label for="">抽检终端</label>
                    <div class="checkbox">
                      <label><%= f.check_box :pad_jsyp %>接收样品</label>
                      &emsp;
                      <label><%= f.check_box :pad_zxcy %>执行采样任务</label>
                      &emsp;
                      <label><%= f.check_box :pad_rwbs %>任务部署</label>
                      &emsp;
                      <label><%= f.check_box :pad_rwxd %>任务下达</label>
                    </div>
                  </td>
                </tr>
              </table>
              <button type="submit" value="搜索" class="btn btn-sm btn-success">搜索</button>
              <hr>
          <% end %>
          <%= page_entries_info @users %>
      <% end %>
      <table style="table-layout: fixed;" class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th width="100">姓名</th>
          <th width="100">UID</th>
          <th>电话</th>
          <th>E-Mail</th>
          <th width="60">省份</th>
          <th width="60">市/区</th>
          <th width="100">上次登录</th>
          <th width="60">-</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.tname %></td>
              <td><%= user.uid %></td>
              <td><%= user.mobile %><%= user.tel %></td>
              <td><%= user.eaddress %></td>
              <td><%= user.user_s_province %></td>
              <td><%= user.prov_city == "-请选择-" ? "" : user.prov_city %></td>
              <td><%= user.last_sign_in_at %></td>
              <td>
                <%= link_to '修改', edit_user_path(user), :class => "btn btn-info btn-xs", style: 'margin-bottom: 5px;' %>
                <% if current_user.name.eql?('superadmin') or is_shengshi? %>
                    <%= link_to '删除', user, :method => :delete, :confirm => "确认删除?", :class => "btn btn-danger btn-xs" %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <% if current_user.name == 'superadmin' or current_user.is_account_manager %>
          <p><%= will_paginate @users, :separator => ',', :previous_label => '上一页', :next_label => '下一页' %></p>
      <% end %>
    </div>
  </div>
  <% if current_user.name == 'superadmin' or is_shengshi? %>
      <div class="panel panel-default">
        <div class="panel-heading">添加用户</div>
        <div class="panel-body">
          <%= link_to '新建用户', new_user_path, :class => 'btn btn-sm btn-success' %>
          <a href="/users_export_user_info" class="btn btn-sm btn-success" data-method="post">用户信息下载</a>
          <hr>
          <div class="well well-sm">
            <b> <%= flash[:import_result] unless flash[:import_result].nil? %> </b>
            <%= form_tag({action: :import_data_excel}, multipart: true) do %>
                <%= file_field_tag 'excel' %>
                <br>
                <%= submit_tag("批量导入用户", :class => 'btn btn-xs btn-primary') %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
