<div class="panel panel-default">
  <div class="panel-body">
    <% if @pending_users.blank? %>
        <p class="text-warning">暂无待处理申请</p>
    <% else %>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th width="50" align="center" valign="middle">#</th>
            <th>UID</th>
            <th>姓名</th>
            <th>电话</th>
            <th>省份</th>
            <th>市/区</th>
            <th>机构</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @pending_users.each_with_index do |user, index|  %>
              <tr>
                <td align="center"><%= index + 1 %></td>
                <td><%= user.uid %></td>
                <td><%= user.tname %></td>
                <td><%= user.mobile %></td>
                <td><%= user.user_s_province %></td>
                <td><%= user.prov_city %></td>
                <td><%= user.jg_bsb.jg_name %></td>
                <td>
                  <a href="/users/<%= user.id %>/edit" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-user"></i>审核
                  </a>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
