<p>
  <b>被采样单位名称:</b>
  <%= @hzp_bc_dw.dwname %>
</p>

<p>
  <b>被采样单位类型:</b>
  <%= @hzp_bc_dw.dwlx %>
  <b>备注类型:</b>
  <%= @hzp_bc_dw.dwlxzdy %>
</p>

<p>
  <b>所在省份(市、自治区):</b>
  <%= @hzp_bc_dw.dwsf %>
</p>

<p>
  <b>所在地区(市、州、盟):</b>
  <%= @hzp_bc_dw.dwdq %>
</p>

<p>
  <b>所在县(市、区):</b>
  <%= @hzp_bc_dw.dwxs %>
</p>

<p>
  <b>所在乡(镇):</b>
  <%= @hzp_bc_dw.dwxz %>
</p>

<p>
  <b>单位地址:</b>
  <%= @hzp_bc_dw.dwdz %>
</p>

<p>
  <b>邮编:</b>
  <%= @hzp_bc_dw.dwyb %>
</p>

<p>
  <b>法人(负责人):</b>
  <%= @hzp_bc_dw.dwfr %>
</p>

<p>
  <b>联系电话:</b>
  <%= @hzp_bc_dw.dwfrdh %>
</p>

<p>
  <b>负责人(联系人):</b>
  <%= @hzp_bc_dw.dwfzr %>
</p>

<p>
  <b>联系电话:</b>
  <%= @hzp_bc_dw.dwfzrdh %>
</p>


<%= link_to '更新', edit_hzp_bc_dw_path(@hzp_bc_dw) %> |
<%= link_to '返回', hzp_bc_dws_path %>
