<p id="notice"><%= notice %></p>

<p>
  <b>Sp s 1:</b>
  <%= @sp_company_info.sp_s_1 %>
</p>

<p>
  <b>Sp s 68:</b>
  <%= @sp_company_info.sp_s_68 %>
</p>

<p>
  <b>Sp s 23:</b>
  <%= @sp_company_info.sp_s_23 %>
</p>

<p>
  <b>Sp s 215:</b>
  <%= @sp_company_info.sp_s_215 %>
</p>

<p>
  <b>Sp s bsfl:</b>
  <%= @sp_company_info.sp_s_bsfl %>
</p>

<p>
  <b>Sp s 201:</b>
  <%= @sp_company_info.sp_s_201 %>
</p>

<p>
  <b>Sp s 3:</b>
  <%= @sp_company_info.sp_s_3 %>
</p>

<p>
  <b>Sp s 4:</b>
  <%= @sp_company_info.sp_s_4 %>
</p>

<p>
  <b>Sp s 5:</b>
  <%= @sp_company_info.sp_s_5 %>
</p>

<p>
  <b>Sp s 7:</b>
  <%= @sp_company_info.sp_s_7 %>
</p>

<p>
  <b>Sp s 10:</b>
  <%= @sp_company_info.sp_s_10 %>
</p>

<p>
  <b>Sp s 8:</b>
  <%= @sp_company_info.sp_s_8 %>
</p>

<p>
  <b>Sp s 9:</b>
  <%= @sp_company_info.sp_s_9 %>
</p>

<p>
  <b>Sp s 11:</b>
  <%= @sp_company_info.sp_s_11 %>
</p>

<p>
  <b>Sp s 12:</b>
  <%= @sp_company_info.sp_s_12 %>
</p>


<%= link_to 'Edit', edit_sp_company_info_path(@sp_company_info) %> |
