<style type="text/css">
  .no-key-tip {
    color: red;
  }
</style>

<script type="text/javascript">
	strServerSignedData = "<%= @ca_login_info[:signed].split('#')[0] if @ca_login_info[:signed] %>";
	strServerCert = "<%= @ca_login_info[:certificate] %>";
	strServerRan = "<%= @ca_login_info[:ca_random] %>";

  function switchTo(type) {
    if (type == 0) {
      $('.login-ca').addClass('hidden');
      $('.login-normal').removeClass('hidden');
    } else if (type == 1) {
      $('.login-normal').addClass('hidden');
      $('.login-ca').removeClass('hidden');
    }
    return false;
  }

  $(function () {
    <% unless flash[:error].blank? %>
    setTimeout(function () {
      alert('<%= flash[:error] %>');
    }, 500);
    <% end %>

    SetUserCertList('login_form_ca.user_cert_list', CERT_TYPE_HARD);

    $('#cert-login').click(function () {
      var ret = Login('login_form_ca', login_form_ca.user_cert_list.value, login_form_ca.cert_password.value, '/ca_login')
      if (ret) {
        $('.login-ca *').attr('disabled', 'disabled');
        $('.logining-tip').removeClass('hidden');
        var userCert = $('input[name="UserCert"]').val();
				alert(userCert);
        $.post('/ca_login.json', {
          userCert: userCert,
          certId: login_form_ca.user_cert_list.value
        }, function (data) {
          if (data.status == 'OK') {
            location.href = "/welcome_notices";
          } else {
            alert(data.msg);
            $('.login-ca *').removeAttr('disabled');
            if (data.code == 444) {
              location.href = "/bind_ca_key";
            }
          }
          $('.logining-tip').addClass('hidden');
        }, 'json')
      }
      return false;
    });

    setTimeout(function () {
      if (!!!login_form_ca.user_cert_list.value) {
        $('.no-key-tip').removeClass('hidden');
      } else {
        $('.no-key-tip').addClass('hidden');
      }
    }, 1000);

    SetOnUsbKeyChangeCallBack(function () {
      setTimeout(function () {
        if (!!!login_form_ca.user_cert_list.value) {
          $('.no-key-tip').removeClass('hidden');
        } else {
          $('.no-key-tip').addClass('hidden');
        }
      }, 3000)
    });
  });
</script>
<img src="/site-logo" width="480" height="70" style="display: block; margin: 15px auto;" alt="站点图片">
<DIV class="logmainbox">
  <DIV class="left"></DIV>
  <DIV class="right">
    <% if Rails.application.config.site[:enable_ca_login] %>
        <div class="login-ca <%= 'hidden' if Rails.application.config.site[:enable_ca_login] %>">
          <form name="login_form_ca" action="/admin/login" method="post">
            <% if false and browser.chrome? and browser.version.to_i > 42 %>
                <h4>CA登录暂不支持版本号大于42的谷歌（Chrome）浏览器，当前版本：<%= browser.version %></h4>
                <a href="javascript:void(0);" onclick="switchTo(0);return false;" class="btn btn-info btn-sm login-style-switcher">
                  <i class="glyphicon glyphicon-tag"></i>
                  账号密码登录>>
                </a>
            <% else %>
                <p class="text-danger no-key-tip hidden">提示：请插入USBkey完成登录</p>

                <p class="logining-tip hidden" style="font-size: 12px; color: red;">验证中……</p>

                <div class="form-group has-feedback">
                  <label for="">账号：</label>
                  <select id="user_cert_list" name="user_cert_list" class="form-control input-sm"></select>
                </div>
                <div class="form-group has-feedback">
                  <label for="">口令：</label>
                  <input placeholder="USB key密码" class="cert-password form-control input-sm" id="cert_password" name="cert_password" type="password">
                </div>
                <INPUT id="cert-login" type="submit" class="btn btn-success btn-sm" value="登录" onclick="submit">
                <a href="javascript:void(0);" onclick="switchTo(0);return false;" class="btn btn-info btn-sm login-style-switcher">
                  <i class="glyphicon glyphicon-tag"></i>
                  账号密码登录>>
                </a>
                <br>
                <a style="color: red; font-size: 12px;" href="/cahelper.zip">安装证书助手</a>
            <% end %>
          </form>
        </div>
    <% end %>
    <div class="login-normal">
      <em class="text-danger" style="position: absolute; top: 10px; right: 20px;"><%= flash[:alert] %></em>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label '账号：' %><br>
            <%= f.text_field :uid, autofocus: true, class: 'form-control input-sm', placeholder: '请输入UID/用户名..' %>
          </div>

          <div class="form-group">
            <%= f.label '口令：' %><br/>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control input-sm', placeholder: '请输入登录口令..' %>
          </div>

          <div class="form-group">
            <a href="#">忘记密码？</a>
            <a href="/ca_helper/verify_report.html" class="login-style-switcher">报告有效性在线验证</a><br>
          </div>

          <div class="actions">
            <%= f.submit '登录', class: 'btn btn-success btn-sm' %>
            <%= link_to "注册", new_registration_path(resource_name), class: 'btn btn-default btn-sm' %>
            <%- if Rails.application.config.site[:enable_ca_login] %>
                <a href="javascript:void(0);" onclick="switchTo(1);return false;" class="btn btn-info btn-sm login-style-switcher">
                  <i class="glyphicon glyphicon-tag"></i>
                  USB Key登录>>
                </a>
            <% end -%>
          </div>
      <% end %>
    </div>
  </DIV>
</DIV>
