<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <%= stylesheet_link_tag "welcome_index", :media => "all" %>
  <%= javascript_include_tag "welcome/anhui","welcome/welcome" %>
</head>
<br>
<div class="wrapper">
  <div class="item">
    <ul class="clearfix">
      <li class="item1">
<<<<<<< HEAD
        <div onclick="getInfo('particulars','7500')">
          <h4><%= @sum %></h4>
=======
        <div>
          <h4><a href="javascript:void(0);" onclick='openPostWindow(this.innerText)' >12345</a></h4>
>>>>>>> 97a089e570f86a3f4960f358e016d1f6c663436a
          <h2>总抽检批次</h2>
        </div>
      </li>
      <!--<li class="item2">
        <div>
          <h4>1122331</h4>
          <h2>今日检测批次数</h2>
        </div>
      </li>-->
      <li class="item3">
        <div onclick="getInfo('particulars',<%= @unqualified_for_today_id %>)">
          <h4><%= @unqualified_for_today %></h4>
          <h2>今日不合格批次</h2>
        </div>
      </li>
      <li class="item4">
        <div onclick="getInfo('particulars',<%= @unqualified_id %>)">
          <h4><%= @unqualified %></h4>
          <h2>总不合格批次</h2>
        </div>
      </li>
      <!--<li class="item5">
        <div>
          <h4>1122331</h4>
          <h2>待处理任务数</h2>
        </div>
      </li>-->
      <li class="item8">
        <div onclick="getInfo('particulars',<%= @report_for_24_id %>)">
          <h4><%= @report_for_24 %></h4>
          <h2>24小时时限报告批次</h2>
        </div>
      </li>
      <li class="item6">
        <div onclick="getInfo('particulars',<%= @unqualified_for_today_id %>)">
          <h4><%= @unqualified_for_today %></h4>
          <h2>今日完全提交批次</h2>
        </div>
      </li>
      <li class="item7">
        <div onclick="getInfo('particulars',<%= @complete_id %>)">
          <h4><%= @complete %></h4>
          <h2>总完全提交批次</h2>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="map">
  <%= render :partial => "index", :locals => {:info => @info,:info2 => @info2, :info3 => @info3,:data => @data} %>
</div>

</body>
</html>
