<head>
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>保健食品安全检验检测数据报送表</title>


<link type="text/css" rel="stylesheet" href="/assets/noprint.css" media="print"/>



<script type="text/javascript" language="javascript">

    ///////////////////
    var bjpdata = <%=@bjp_data.to_json.html_safe%>;
    var bjpdata_condition = "<%= "#{@bjp_bsb["bjp_s_15"]}#{@bjp_bsb["bjp_s_16"]}"%>";
    ///////////////////

    // 按检测名称查找已记录的检测项目
    function find_bjp_data_by_name(name) {
        if(bjpdata == null) return null;
        var ret = null;
        $.each(bjpdata, function(i, data){
            if(data.bjpdata_0 == name) {
                ret = data;
                return false;
            }
        });
        return ret;
    }
    // 判断是否为数据库保存的数据
    function is_previous_data(){
        var current = $('#bjp_bsb_bjp_s_15').val() + $('#bjp_bsb_bjp_s_16').val();
        return current == bjpdata_condition;
    }



    // 渲染检查项目
    function render_spec_list(idx0, idx1) {
        $('.analysis-item').remove();
        var row = $('.analysis-item-templ').first().clone();
        row.removeClass('analysis-item-templ').addClass('analysis-item').find('input').removeAttr('value').val('');

        $.each(BJPJCX[idx0][idx1], function(index, data){
            var copied = row.clone();
            var o = find_bjp_data_by_name(data);
            copied.css('display', 'table-row');
            copied.find('span.idx').text(index + 1 + "、");
            copied.find('input:eq(1)').attr({'value':data, 'title':data}).val(data);
            $.each(BJPJCYJ[idx0][idx1][index], function(index,data){
                    copied.find('select').append("<option value='"+data+"'>"+data+"</option>");
                });
            copied.find('select').val(BJPJCYJ[idx0][idx1][index][0]);
            
            copied.find('input:eq(2)').attr('title', BJPPDYJ[idx0][idx1][index]).val(BJPPDYJ[idx0][idx1][index]);
            copied.find('input:eq(3)').attr('title', BJPJCDW[idx0][idx1][index]).val(BJPJCDW[idx0][idx1][index]);
            copied.insertBefore($('#result'));
        });
    }
    function render_temp_jcx(index,row_0) {
        var row = $('.jcx-item-templ').first().clone();
        row.removeClass('jcx-item-templ').addClass('jcx-item').find('input').removeAttr('value').val('');
        var copied = row.clone();
        copied.css('display', 'table-row');
        
        copied.find('input:eq(1)').attr({'value':row_0.find('input:eq(1)').val(), 'title':row_0.find('input:eq(1)').val()}).val(row_0.find('input:eq(1)').val());
        copied.find('input:eq(3)').attr({'value':row_0.find('input:eq(2)').val(), 'title':row_0.find('input:eq(2)').val()}).val(row_0.find('input:eq(2)').val());
        copied.find('input:eq(2)').attr({'value':row_0.find('select').val(), 'title':row_0.find('select').val()}).val(row_0.find('select').val());
        copied.find('input:eq(5)').attr({'value':row_0.find('input:eq(3)').val(), 'title':row_0.find('input:eq(3)').val()}).val(row_0.find('input:eq(3)').val());
        copied.insertBefore($('#result_1'));
    }
    function render_empty_jcx() {
        var row = $('.jcx-item-templ').first().clone();
        row.removeClass('jcx-item-templ').addClass('jcx-item').find('input').removeAttr('value').val('');
        var copied = row.clone();
        copied.css('display', 'table-row');
        copied.find('input').removeAttr("readonly");
        copied.insertBefore($('#result_1'));
    }
    function render_jcx(data) {
        var row = $('.jcx-item-templ').first().clone();
        row.removeClass('jcx-item-templ').addClass('jcx-item').find('input').removeAttr('value').val('');
        var copied = row.clone();
        copied.css('display', 'table-row');
        
        copied.find('input:eq(1)').attr({'value':data.bjpdata_0, 'title':data.bjpdata_0}).val(data.bjpdata_0);
        copied.find('input:eq(2)').attr({'value':data.bjpdata_1, 'title':data.bjpdata_1}).val(data.bjpdata_1);
        copied.find('input:eq(3)').attr({'value':data.bjpdata_2, 'title':data.bjpdata_2}).val(data.bjpdata_2);
        copied.find('input:eq(4)').attr({'value':data.bjpdata_3, 'title':data.bjpdata_3}).val(data.bjpdata_3);
        copied.find('input:eq(5)').attr({'value':data.bjpdata_4, 'title':data.bjpdata_4}).val(data.bjpdata_4);
        copied.find('input:eq(6)').attr({'value':data.bjpdata_5, 'title':data.bjpdata_5}).val(data.bjpdata_5);
        copied.find('input:eq(7)').attr({'value':data.bjpdata_6, 'title':data.bjpdata_6}).val(data.bjpdata_6);
        copied.find('input:eq(8)').attr({'value':data.bjpdata_7, 'title':data.bjpdata_7}).val(data.bjpdata_7);
        copied.find('select').val(data.bjpdata_8);
        copied.find('input:eq(9)').attr({'value':data.bjpdata_9, 'title':data.bjpdata_9}).val(data.bjpdata_9);
        copied.insertBefore($('#result_1'));
    }
    function disable_enter(){  
        $("input,select").keypress(function (e) {  
            var keyCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;  
            if (keyCode == 13) {  
                for (var i = 0; i < this.form.elements.length; i++) {  
                    if (this == this.form.elements[i]) break;  
                }  
                i = (i + 1) % this.form.elements.length;  
                this.form.elements[i].focus();  
                return false;  
            } 
            else {  
                return true;
            }  
        });  
    }

	
    $(function(){
        $("#region").ProvinceCity({});
    });
    
    
    $(function() {
		$( "#bjp_bsb_bjp_d_21" ).datepicker({dateFormat:"yy-mm-dd",
			changeMonth: true,
			changeYear: true,
            
		});
	});
	$(function() {
		$( "#bjp_bsb_bjp_d_42" ).datepicker({dateFormat:"yy-mm-dd",
			changeMonth: true,
			changeYear: true
		});
	});
    $(function() {
		$( "#bjp_bsb_bjp_d_34" ).datepicker({dateFormat:"yy-mm-dd",
			changeMonth: true,
			changeYear: true
		});
	});
	$(function() {
		$( "#bjp_bsb_bjp_d_43" ).datepicker({dateFormat:"yy-mm-dd",
			changeMonth: true,
			changeYear: true
		});
	});
    $(function() {
		$( "#bjp_bsb_bjp_d_95" ).datepicker({dateFormat:"yy-mm-dd",
			changeMonth: true,
			changeYear: true
		});
	});
        
    $(document).ready(function(){
            //编辑及查看时初始化显示
            $.each(BJPDL, function(index,data){
                $("#temp_jcmd").append("<option value='"+data+"'>"+data+"</option>");
            });
            $.each(BJPXL[0], function(index,data){
                $("#temp_jcxm").append("<option value='"+data+"'>"+data+"</option>");
            });
            $.each(BJPJCYJ[0][0][0], function(index,data){
                $("#temp_jcyj").append("<option value='"+data+"'>"+data+"</option>");
            });
            if(bjpdata != null)
            {
                $.each(bjpdata, function(i, data){
                    render_jcx(data);
                });
            }

                        
            index0=index1=0;
            render_spec_list(index0, index1);
            $("#temp_jcmd").change(function(){
                
                $("#temp_jcxm").get(0).options.length=0;
                index0=this.selectedIndex;
                index1=0;
                $.each(BJPXL[index0], function(index,data){
                    $("#temp_jcxm").append("<option value='"+data+"'>"+data+"</option>");
                });
                render_spec_list(index0, index1);
                return;
            });
            $("#temp_jcxm").change(function(){
                
                index1=this.selectedIndex;
                render_spec_list(index0, index1);
                return;
            });
            $('#add_jcx').click(function(){
                
                $('.analysis-item').each(function(i,temp_row){
                    if($(temp_row).find('input:eq(0)').is(":checked"))
                    {
                        render_temp_jcx(2,$(temp_row));                        
                    }
                });
                $('.analysis-item').remove();
                $('#all_check').prop("checked",false);
                disable_enter();
                
                return true;
            });
            
            disable_enter();
            
            $('#all_check').click(function(){
                
                if($('#all_check').is(":checked"))
                {
                    $('.analysis-item').each(function(i,temp_row){
                        $(temp_row).find('input:eq(0)').prop("checked","checked");
                    });
                                           
                }
                else
                {
                    $('.analysis-item').each(function(i,temp_row){
                        $(temp_row).find('input:eq(0)').prop("checked",false);
                    }); 
                    
                }
                
                return true;
            });
            
            
            var s='#jcx';
            <%if @bjp_jcxcount%>
            
                count=<%=@bjp_jcxcount%>;
            
            <%else%>

                count=1;

            <%end%>
            $("#print").click(function(){
                $("#my_show").printArea();
            });            
            <%if @bjp_bsb["bjp_i_state"]==2%>
                $("#province").attr("disabled","disabled");
                <%@check=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,22,23,25,28,29,30,31,32,33,35,36,37,38,61,62,63,64,70]%>
                <%@check.each do |i|%>                
                    $("#bjp_bsb_bjp_s_"+<%=i%>).attr("disabled","disabled");
                <%end%>
                <%@check=[21,34]%>
                <%@check.each do |i|%>                
                    $("#bjp_bsb_bjp_d_"+<%=i%>).attr("disabled","disabled");
                <%end%>
                <%@check=[24,26]%>
                <%@check.each do |i|%>                
                    $("#bjp_bsb_bjp_n_"+<%=i%>).attr("disabled","disabled");
                <%end%>
            <%end%>
            for(var i=10;i<=40;i++)
            {
                var t1='<tr id="jcx'+(i-8)+'"'+' style="display:none;"><th colspan="5" style="width:10%" align="left"><span>'+(i-8)+'<input class="inputText" id="bjp_bsb_bjp_s_1'+i+'_0" name="bjp_bsb[bjp_s_1'+i+'_0]" size="30" style="width: 120px; height: 19px" type="text"></th><th colspan="4" style="width:10%" align="left"><input class="inputText" id="bjp_bsb_bjp_s_1'+i+'_2" name="bjp_bsb[bjp_s_1'+i+'_2]" size="30" style="width: 100px; height: 19px" type="text"></th><th colspan="4" style="width:10%" align="left"><input class="inputText" id="bjp_bsb_bjp_s_1'+i+'_3" name="bjp_bsb[bjp_s_1'+i+'_3]" size="30" style="width: 100px; height: 19px" type="text"></th><th colspan="3" style="width:10%" align="left"><input class="inputText" id="bjp_bsb_bjp_s_1'+i+'_4" name="bjp_bsb[bjp_s_1'+i+'_4]" size="30" style="width: 80px; height: 19px" type="text"></th><th colspan="2" style="width:10%" align="left"><input class="inputText" id="bjp_bsb_bjp_s_1'+i+'_10" name="bjp_bsb[bjp_s_1'+i+'_10]" size="30" style="width: 50px; height: 19px" type="text"></th><th colspan="3" style="width:10%" align="left"><input class="inputText" id="bjp_bsb_bjp_s_1'+i+'_5" name="bjp_bsb[bjp_s_1'+i+'_5]" size="30" style="width: 60px; height: 19px" type="text"></th><th colspan="2" style="width:10%" align="left"><input class="inputText" id="bjp_bsb_bjp_s_1'+i+'_6" name="bjp_bsb[bjp_s_1'+i+'_6]" size="30" style="width: 40px; height: 19px" type="text"></th><th colspan="2" style="width:10%" align="left"><input class="inputText" id="bjp_bsb_bjp_s_1'+i+'_7" name="bjp_bsb[bjp_s_1'+i+'_7]" size="30" style="width: 40px; height: 19px" type="text"></th><th colspan="3" style="width:10%" align="left"><select id="bjp_bsb_bjp_s_1'+i+'_8" name="bjp_bsb[bjp_s_1'+i+'_8]"></select></th><th colspan="2" style="width:10%" align="left"><input class="inputText" id="bjp_bsb_bjp_s_1'+i+'_9" name="bjp_bsb[bjp_s_1'+i+'_9]" size="30" style="width: 20px; height: 19px" type="text"></th></tr>';
                var t2="#jcx"+(i-9);
                $(t2).after(t1);
                                
            }
            <%i=10%>;
            <%while i<=40%>
            
                <%@options[49].each do |x|%>
                    str='<option value="<%= escape_javascript(x[1]).html_safe%>"><%=escape_javascript(x[1]).html_safe%></option>';
                    $("#bjp_bsb_bjp_s_1"+<%=i%>+"_1").append(str)
                <%end%>
                
                <%@options[56].each do |x|%>
                    str='<option value="<%= escape_javascript(x[1]).html_safe%>"><%=escape_javascript(x[1]).html_safe%></option>';
                    $("#bjp_bsb_bjp_s_1"+<%=i%>+"_8").append(str)
                <%end%>
                
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_0").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_0"]).html_safe%>')
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_2").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_2"]).html_safe%>')
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_3").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_3"]).html_safe%>')
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_4").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_4"]).html_safe%>')
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_10").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_10"]).html_safe%>')
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_5").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_5"]).html_safe%>')
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_6").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_6"]).html_safe%>')
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_7").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_7"]).html_safe%>')
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_8").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_8"]).html_safe%>')
                $("#bjp_bsb_bjp_s_1"+<%="#{i}"%>+"_9").val('<%=escape_javascript(@bjp_bsb["bjp_s_1#{i}_9"]).html_safe%>')
                <%i=i+1%>
            <%end%>
           
                        
            $("#bjp_bsb_bjp_n_jcxcount").val(count);
            
            
            for(var i=1;i<=count;i++)
            {
                s=s+i.toString();
                $(s).show();
                s='#jcx';
            }

            $('#addTable').click(function(){
                render_empty_jcx();
                disable_enter();
            });
            $('#decTable').click(function(){
                $('.jcx-item').each(function(i,temp_row){
                    if($(temp_row).find('input:eq(0)').is(":checked"))
                    {
                        $(temp_row).remove();
                    }
                });
                return true;
            });
            $('#autoTable').click(function(){
                
                
                var text1='<tr id="jcx1">';
                var text2='<th colspan="3" style="width:10%" align="left"><select id="bjp_bsb_bjp_s_130_1" name="bjp_bsb[bjp_s_130_1]"><option value="理化">理化</option><option value="微生物">微生物</option><option value="功效成分">功效成分</option><option value="其他">其他</option></select></th>';
                
                var text3='<th colspan="3" style="width:10%" align="left"><p>6、</p></th>';
                var text4='<th colspan="3" style="width:10%" align="left"><input class="inputText" id="bjp_bsb_bjp_s_130_2" name="bjp_bsb[bjp_s_130_2]" size="30" style="width: 60px; height: 19px" type="text"></th>';
                var text6='</tr>';
                $("#jcx1").after(text1,text2,text3,text4,text6);
                $("#bjp_bsb_bjp_n_jcxcount").val(30);
                
            });
                        
                       
            $('#province').change(function(){
            
                $('#bjp_bsb_bjp_s_3').val($('#province').val()); 
                $('#bjp_bsb_bjp_s_4').val($('#city').val()); 
                $('#bjp_bsb_bjp_s_5').val($('#lcity').val());           
            }); 
            $('#city').change(function(){
            
                $('#bjp_bsb_bjp_s_4').val($('#city').val()); 
                $('#bjp_bsb_bjp_s_5').val($('#lcity').val());           
            }); 
            $('#lcity').change(function(){
            
                $('#bjp_bsb_bjp_s_5').val($('#lcity').val());            
            });  
            if(<%=@admin_user%>)
            {
                <%@avala.each do |i|%>
                    var strtemp="#bjp_bsb_bjp_s_"+"<%=i%>"
                    $(strtemp).bind("contextmenu",function(e){ 
                        return false; 
                    });
                    $("#bjp_bsb_bjp_s_"+<%=i%>).mousedown(function(e){
                        if(e.which==3)
                        {
                            digStr="dialogHeight:400px;dialogWidth:500px;center:yes"
                            var ReturnValue = window.showModalDialog("/flexcontents?flex_fields=bjp_bsb_bjp_s_"+"<%=i%>","bjp_bsb_bjp_s_"+"<%=i%>",digStr)
                        }
                                                      
                    });
                <%end%>
                
            }
                        
            
            $('#submit1').click(function(){
                $('.analysis-item').remove();
                <%@check=[1,2,3,4,5,6,10,11,12,13,14,15,16,17,18,19,20,22,23,25,27,28,29,31,32,33,35,36,37,38,61,62,70]%>
                <%@check.each do |i|%>
                if($.trim($("#bjp_bsb_bjp_s_"+<%=i%>).val()).length==0)
                {
                    alert("该项为必填项");
                    $("#bjp_bsb_bjp_s_"+<%=i%>).focus();
                    return false;
                }
                <%end%>
                <%@check=[21,34]%>
                <%@check.each do |i|%>
                if($.trim($("#bjp_bsb_bjp_d_"+<%=i%>).val()).length==0)
                {
                    alert("该日期项为必填项");
                    $("#bjp_bsb_bjp_d_"+<%=i%>).focus();
                    return false;
                }
                <%end%>
                <%@check=[24]%>
                <%@check.each do |i|%>
                if($.trim($("#bjp_bsb_bjp_n_"+<%=i%>).val()).length==0)
                {
                    alert("该数据项为必填项");
                    $("#bjp_bsb_bjp_n_"+<%=i%>).focus();
                    return false;
                }
                <%end%>
                $('#bjp_bsb_bjp_i_state').val(2);
                return true;
            });
            $('#submit2').click(function(){
                $('.analysis-item').remove();
                <%@check=[39,40,41,44,45,46,47,48,50,51,52,53,54,55,56,58,94,96,97]%>
                <%@check.each do |i|%>
                if($.trim($("#bjp_bsb_bjp_s_"+<%=i%>).val()).length==0)
                {
                    alert("该项为必填项");
                    $("#bjp_bsb_bjp_s_"+<%=i%>).focus();
                    return false;
                }
                <%end%>
                <%@check=[42,43,95]%>
                <%@check.each do |i|%>
                if($.trim($("#bjp_bsb_bjp_d_"+<%=i%>).val()).length==0)
                {
                    alert("该日期项为必填项");
                    $("#bjp_bsb_bjp_d_"+<%=i%>).focus();
                    return false;
                }
                <%end%>
                
                $('#bjp_bsb_bjp_i_state').val(4);
                return true;
            });
            $('#save').click(function(){
                $('.analysis-item').remove();
                $('#bjp_bsb_bjp_i_state').val(1);
                return true;
            });


                          
    });
    
    
    



</script>



<style type="text/css">
    
	.style1 {
		border-collapse: collapse;
		font-size: 9pt;
		font-family: Calibri, sans-serif;
		border-style: none;
		border-color: inherit;
		border-width: medium;
		table-layout:fixed;
	}
	.style1 td{
		border: solid windowtext 1.0px;
		padding: 0cm 5.4pt 0cm 5.4pt;
		height: 30px;		
	}
	.style1 th{
		border: solid windowtext 1.0px;
		padding: 0cm 5.4pt 0cm 5.4pt;
		height: 30px;
	}
	.style1 p{
		height:10px;
	
	}
	.inputText {
		font-size: 12px;
		border-right-width: 0px;
		border-left-width: 0px;
		border-top-width: 0px;
		border-bottom: 1px solid;
		background-color : transparent; 
        
		
	}
    
}

	
}
</style>
</head>
<!-- 用于选择检测项的tr模板 -->
<table style="display: none;" class="analysis-templ-table">
	<tr class="analysis-item-templ" style="display: none;">
        <td colspan="3" style="width:10%" align="left"><input id="jcx_check" type="checkbox">选择</input></td>
		<td colspan="8" style="width:10%" align="left"><span><span class="idx">、</span><input class="inputText" name="bjpdata[][bjpdata_0]" style="width: 200px;" readonly="readonly"></input></span></td>
		<td colspan="8" style="width:10%" align="left"><span><select name="bjpdata[][bjpdata_1]" style="width: 200px;"></select></span></td>
		<td colspan="8" style="width:10%" align="left"><span><input class="inputText" name="bjpdata[][bjpdata_2]" style="width: 200px;" readonly="readonly"></input></span></td>
		<td colspan="3" style="width:10%" align="left"><span><input class="inputText" name="bjpdata[][bjpdata_3]" style="width: 80px;" readonly="readonly"></input></span></td>
		<%=hidden_field_tag "bjpdata[][id]"%>
	</tr>
</table>

<!-- 用于容纳检测项的tr模板 -->
<table style="display: none;" class="jcx-templ-table">
	<tr class="jcx-item-templ" style="display: none;">
        <th colspan="5" style="width:10%" align="left"><span><input id="jcx_check" type="checkbox"><input class="inputText" name="bjpdata[][bjpdata_0]" style="width: 120px;" readonly="readonly"></input></span></th>
		<th colspan="4" style="width:10%" align="left"><span><input type="text" class="inputText" name="bjpdata[][bjpdata_1]" style="width: 100px;"></input></span></th>
		<th colspan="4" style="width:10%" align="left"><span><input type="text" class="inputText" name="bjpdata[][bjpdata_2]" style="width: 100px;"></input></span></th>
		<th colspan="3" style="width:10%" align="left"><span><input type="text" class="inputText" name="bjpdata[][bjpdata_3]" style="width: 80px;"></input></span></th>
		<th colspan="2" style="width:10%" align="left"><span><input type="text" class="inputText" name="bjpdata[][bjpdata_4]" style="width: 50px;"></input></span></th>
		<th colspan="3" style="width:10%" align="left"><span><input type="text" class="inputText" name="bjpdata[][bjpdata_5]" style="width: 80px;"></input></span></th>
		<th colspan="2" style="width:10%" align="left"><span><input type="text" class="inputText" name="bjpdata[][bjpdata_6]" style="width: 50px;"></input></span></th>
        <th colspan="2" style="width:10%" align="left"><span><input type="text" class="inputText" name="bjpdata[][bjpdata_7]" style="width: 50px;"></input></span></th>
		<th colspan="3" style="width:10%" align="left"><span><%=select_tag "bjpdata[][bjpdata_8]",options_from_collection_for_select(@options[56],"first","first")%></span></th>
		<th colspan="2" style="width:10%" align="left"><span><input type="text" class="inputText" name="bjpdata[][bjpdata_9]" style="width: 50px;"></input></span></th>
		<%=hidden_field_tag "bjpdata[][id]"%>
	</tr>
</table>
<h1 style="color:red"><%= flash[:import_result] unless flash[:import_result].nil?%></h1>
<%= flash[:import_result]=''%>
<%= form_for @bjp_bsb do |f| %>
  

    <div id="my_show">
	<table border="1" cellspacing="0" cellpadding="0" width="960px" class="style1"  >
        <tr>
			<td colspan="20" style="background: #FFFF99;"><p><span style="font-family:宋体">△―――――――――――样品信息登记部分</span></p>	</td>
            <td colspan="3"><p>报送分类</p></td>
			<td colspan="7"><%= f.select :bjp_s_70, @options[70],:class=>"inputText" %></td>
		</tr>
		<tr>
			<td colspan="5"><p>被采样单位名称*</p></td>
			<td colspan="13"><%= f.text_field:bjp_s_1, :class=>"inputText",:style=>"width: 330px; height: 19px" %></td>
			<td colspan="4"><p>单位类型*</p></td>
			<td colspan="8"><span><%=f.select :bjp_s_2, @options[2],:class=>"inputText" %><%= f.text_field:bjp_s_2_1, :class=>"inputText",:style=>"width: 80px; height: 19px"%></span></td>
		</tr>
		<tr  id="region">
			<td colspan="3"><p>所在地区*</p></td>
			<td colspan="20">
            <span><select id='province' name='province' class="NoPrint"></select><%=f.text_field :bjp_s_3, :class=>"inputText",:style=>"width: 60px; height: 19px" %>省(市、自治区)
            <select id='city' name='city'></select><%= f.text_field :bjp_s_4, :class=>"inputText",:style=>"width: 60px; height: 19px" %>地区(市、州、盟)
			<select id='lcity' name='lcity'></select><%= f.text_field :bjp_s_5, :class=>"inputText",:style=>"width: 60px; height: 19px" %>县(市、区)</span></td>
            <td colspan="3"><p>地域类型*</p></td>
			<td colspan="4"><%=f.select :bjp_s_65,@options[65],:class=>"inputText" %></td>

		</tr>
		<tr>
			<td colspan="3" style="width: 73px"><p>单位地址*</p></td>
			<td colspan="19"><%= f.text_field :bjp_s_6 ,:class=>"inputText",:style=>"width: 480px; height: 19px;" %></td>
            <td colspan="3"><p style="width: 43px">邮编</p></td>
            <td colspan="5"><%= f.text_field:bjp_s_9, :class=>"inputText",:style=>"width: 80px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="9"><p>被采样单位法人（负责人）</p></td>
			<td colspan="9"><%= f.text_field:bjp_s_7, :class=>"inputText",:style=>"width: 175px; height: 19px" %></td>
			<td colspan="5"><p>电话</p></td>
			<td colspan="7"><%= f.text_field:bjp_s_8, :class=>"inputText",:style=>"width: 120px; height: 19px" %></td>
			
			
		</tr>
		<tr>
			<td colspan="9"><p>被采样单位负责（联系）人*</p></td>
			<td colspan="9"><%= f.text_field:bjp_s_10, :class=>"inputText",:style=>"width: 175px; height: 19px" %></td>
			<td colspan="5" ><p>电话*</p></td>
			<td colspan="7"><%= f.text_field:bjp_s_11, :class=>"inputText",:style=>"width: 120px; height: 19px" %></td>
        </tr>
		<tr>
			<td colspan="4"><p>样品名称*</p></td>
			<td colspan="18"><%= f.text_field:bjp_s_13, :class=>"inputText",:style=>"width: 470px; height: 19px" %></td>
			<td colspan="3"><p>抽样编号*</p></td>
			<td colspan="5"><%= f.text_field:bjp_s_14, :class=>"inputText",:style=>"width: 80px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="4"><p>功能分类*</p></td>
			<td colspan="8"><%= f.select :bjp_s_15,@options[15],:class=>"inputText" %></td>
			<td colspan="4"><p>管理分类*</p></td>
			<td colspan="4"><%= f.select :bjp_s_16,@options[16],:class=>"inputText" %></td>
			<td colspan="5"><p>进口国/产地*</p></td>
			<td colspan="5"><%= f.text_field:bjp_s_17, :class=>"inputText",:style=>"width: 80px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="3"><p>剂型*</p></td>
			<td colspan="4"><%=f.select :bjp_s_12,@options[12],:class=>"inputText"  %></td>
            <td colspan="3"><p>规格*</p></td>
			<td colspan="4"><%= f.text_field:bjp_s_18, :class=>"inputText",:style=>"width: 90px; height: 19px" %></td>
			<td colspan="3"><p>包装规格*</p></td>
			<td colspan="5"><%= f.text_field:bjp_s_19, :class=>"inputText",:style=>"width: 120px; height: 19px" %></td>
			<td colspan="3"><p>生产批号*</p></td>
			<td colspan="5"><%= f.text_field:bjp_s_20, :class=>"inputText",:style=>"width: 80px; height: 19px" %></td>
		</tr>
		<tr>
            <td colspan="5"><p>生产日期*</p></td>
			<td colspan="10"><%= f.text_field:bjp_d_21,:class=>"inputText",:style=>"width: 150px; height: 19px" %></td>
			<td colspan="5"><p>保质期*</p></td>
			<td colspan="10"><%= f.text_field:bjp_s_22, :class=>"inputText",:style=>"width: 150px; height: 19px" %></td>
			
		</tr>
        <tr>
            <td colspan="5"><p>标签说明规范情况*</p></td>
			<td colspan="7"><%= f.select :bjp_s_61,@options[61],:class=>"inputText" %></td>
            <td colspan="4"><p>批准文号*</p></td>
			<td colspan="14"><span><%= f.select :bjp_s_62,@options[62],:class=>"inputText" %><%= f.text_field:bjp_s_23, :class=>"inputText",:style=>"width: 150px; height: 19px" %></span></td>
        </tr>
		<tr>
			<td colspan="4"><p>采样数量*</p></td>
			<td colspan="3"><%= f.number_field:bjp_n_24, :class=>"inputText",:style=>"width: 70px; height: 19px" %></td>
			<td colspan="3"><p>数量单位*</p></td>
			<td colspan="4"><%= f.select :bjp_s_25, @options[25],:class=>"inputText" %></td>
			<td colspan="3"><p>货物数量</p></td>
			<td colspan="3"><%= f.number_field:bjp_n_26, :class=>"inputText",:style=>"width: 70px; height: 19px" %></td>
			<td colspan="4"><p>货物数量单位</p></td>
			<td colspan="6"><%= f.select :bjp_s_27, @options[27],:class=>"inputText" %></td>
		</tr>
		<tr>
			<td colspan="5"><p>标识生产企业名称*</p></td>
			<td colspan="25"><%= f.text_field:bjp_s_28, :class=>"inputText",:style=>"width: 660px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="5"><p>标识生产企业地址*</p></td>
			<td colspan="25"><%= f.text_field:bjp_s_29, :class=>"inputText",:style=>"width: 660px; height: 19px" %></td>
		</tr>
        <tr>
			<td colspan="5"><p>委托生产企业名称</p></td>
			<td colspan="25"><%= f.text_field:bjp_s_63, :class=>"inputText",:style=>"width: 660px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="5"><p>委托生产企业地址</p></td>
			<td colspan="25"><%= f.text_field:bjp_s_64, :class=>"inputText",:style=>"width: 660px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="5"><p>备注</p></td>
			<td colspan="25"><%= f.text_field:bjp_s_30, :class=>"inputText",:style=>"width: 660px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="4"><p>采样单位名称*</p></td>
			<td colspan="16"><%= f.text_field:bjp_s_31, :class=>"inputText",:style=>"width: 400px; height: 19px" %></td>
			<td colspan="3"><p>单位级别*</p></td>
			<td colspan="7"><%= f.select :bjp_s_32, @options[32],:class=>"inputText" %></td>
		</tr>
		<tr>
			<td colspan="4"><p>抽样人员*</p></td>
			<td colspan="6"><%= f.text_field:bjp_s_33, :class=>"inputText",:style=>"width: 150px; height: 19px" %></td>
			<td colspan="4"><p>抽样时间*</p></td>
			<td colspan="6"><%= f.text_field:bjp_d_34,:class=>"inputText",:style=>"width: 150px; height: 19px" %></td>
			<td colspan="4"><p>电话*</p></td>
			<td colspan="6"><%= f.text_field:bjp_s_35, :class=>"inputText",:style=>"width: 120px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="7"><p>采样单位负责（联系）人*</p></td>
			<td colspan="7"><%= f.text_field:bjp_s_36, :class=>"inputText",:style=>"width: 175px; height: 19px" %></td>
			<td colspan="3" ><p>电话*</p></td>
			<td colspan="5"><%= f.text_field:bjp_s_37, :class=>"inputText",:style=>"width: 120px; height: 19px" %></td>
			<td colspan="3"><p>电子邮箱*</p></td>
			<td colspan="5"><%= f.text_field:bjp_s_38, :class=>"inputText",:style=>"width: 90px; height: 19px" %></td>
		</tr>
        </table>
        <div class="PageNext"></div>
        <table border="1" cellspacing="0" cellpadding="0" width="960px" class="style1"  >

		<tr>
			<td colspan="30" style="background: #FFFF99;"><p><span style="font-family:宋体">△―――――――――――检验信息部分</span></p></td>
		</tr>
		<tr>
			<td colspan="4"><p>检验机构名称*</p></td>
			<td colspan="6"><%= f.text_field:bjp_s_39, :class=>"inputText",:style=>"width: 150px; height: 19px" %></td>
			<td colspan="4"><p>检验目的*</p></td>
			<td colspan="6"><%= f.select :bjp_s_40, @options[40],{},{:style=>"width: 150px;"}%></td>
            <td colspan="4"><p>报告书编号*</p></td>
			<td colspan="6"><%= f.text_field:bjp_s_41, :class=>"inputText",:style=>"width: 120px; height: 19px" %></td>
		</tr>
        
        
               
		<tr>
			<td colspan="4"><p>收件日期*</p></td>
			<td colspan="6"><%= f.text_field:bjp_d_42,:class=>"inputText",:style=>"width: 150px; height: 19px" %></td>
			<td colspan="4"><p>报告日期*</p></td>
			<td colspan="6"><%= f.text_field:bjp_d_43,:class=>"inputText",:style=>"width: 150px; height: 19px" %></td>
			<td colspan="4"><p>报告签发人*</p></td>
			<td colspan="6"><%= f.text_field:bjp_s_44, :class=>"inputText",:style=>"width: 120px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="4"><p>联系人*</p></td>
			<td colspan="6"><%= f.text_field:bjp_s_45, :class=>"inputText",:style=>"width: 150px; height: 19px" %></td>
			<td colspan="4"><p>电话*</p></td>
			<td colspan="6"><%= f.text_field:bjp_s_46, :class=>"inputText",:style=>"width: 150px; height: 19px" %></td>
			<td colspan="4"><p>电子邮箱*</p></td>
			<td colspan="6"><%= f.text_field:bjp_s_47, :class=>"inputText",:style=>"width: 120px; height: 19px" %></td>
		</tr>
        <tr>
			<td colspan="30" style="background: #FFFF99;"><p><span style="font-family:宋体">△―――――――――――选择检验项目</span></p></td>
		</tr>
        <tr>
			<td colspan="4"><p>请选择检验目的</p></td>
			<td colspan="6"><select id="temp_jcmd"></select></td>
            <td colspan="4"><p>请选择项目分类</p></td>
			<td colspan="16"><select id="temp_jcxm"></select></td>
		</tr>
        <tr>
			<th colspan="3" style="width:10%"><input id="all_check" type="checkbox"></input>全选</th>
            <th colspan="8" style="width:10%"><p>检验项目</p></th>
			<th colspan="8" style="width:10%"><p>检验依据</p></th>
			<th colspan="8" style="width:10%"><p>判定依据</p></th>
            <th colspan="3" style="width:10%"><p>单位</p></th>
            
            
            
		</tr>
        <tr id="result">
			<td colspan="30"><input type="button" id="add_jcx" value ="加入所选检测项"></input></td>
		</tr>

        <tr>
			<td colspan="30" style="background: #FFFF99;"><p><span style="font-family:宋体">△―――――――――――检验数据</span></p></td>
		</tr>
		<tr >
			<th colspan="5" style="width:10%"><p>检验项目*</p></th>
            <th colspan="4" style="width:10%"><p>检验依据*</p></th>
			<th colspan="4" style="width:10%"><p>判定依据*</p></th>
			<th colspan="3" style="width:10%"><p>标准规定*</p></th>
            <th colspan="2" style="width:10%"><p>单位*</p></th>
			<th colspan="3" style="width:10%"><p>检验结果*</p></th>
			<th colspan="2" style="width:10%"><p>检出限*</p></th>
			<th colspan="2" style="width:10%"><p>定量限</p></th>
			<th colspan="3" style="width:10%"><p>结论*</p></th>
			<th colspan="2" style="width:10%"><p>说明</p></th>
		</tr>
		<tr id="jcx1">
			<th colspan="5" style="width:10%" align="left"><span>1<%= f.text_field:bjp_s_48, :class=>"inputText",:style=>"width: 40px; height: 19px" %></span></th>
			<th colspan="4" style="width:10%" align="left"><%= f.text_field:bjp_s_50, :class=>"inputText",:style=>"width: 60px; height: 19px" %></th>
			<th colspan="4" style="width:10%" align="left"><%= f.text_field:bjp_s_51, :class=>"inputText",:style=>"width: 60px; height: 19px" %></th>
			<th colspan="3" style="width:10%" align="left"><%= f.text_field:bjp_s_52, :class=>"inputText",:style=>"width: 60px; height: 19px" %></th>
            <th colspan="2" style="width:10%" align="left"><%= f.text_field:bjp_s_58, :class=>"inputText",:style=>"width: 40px; height: 19px" %></th>
			<th colspan="3" style="width:10%" align="left"><%= f.text_field:bjp_s_53, :class=>"inputText",:style=>"width: 60px; height: 19px" %></th>
			<th colspan="2" style="width:10%" align="left"><%= f.text_field:bjp_s_54, :class=>"inputText",:style=>"width: 40px; height: 19px" %></th>
			<th colspan="2" style="width:10%" align="left"><%= f.text_field:bjp_s_55, :class=>"inputText",:style=>"width: 40px; height: 19px" %></th>
			<th colspan="3" style="width:10%" align="left"><%= f.select :bjp_s_56,  @options[56],:class=>"inputText" %></th>
			<th colspan="2" style="width:10%" align="left"><%= f.text_field:bjp_s_57, :class=>"inputText",:style=>"width: 20px; height: 19px" %></th>
		</tr>
      

        <tr id="result_1">
        <%if !@showrecord%>
        
           <td colspan="30"> <input type="button" id="addTable" value ="增加检测项" /><input type="button" id="decTable" value ="删除所选检测项" /></td>
        
        <%end%>
        </tr>
        


		<tr>
			<td colspan="3"><p>备注</p></td>
			<td colspan="27"><%= f.text_field:bjp_s_93, :class=>"inputText",:style=>"width: 720px; height: 19px" %></td>
		</tr>
		<tr>
			<td colspan="3"><p>填报人*</p></td>
			<td colspan="4"><%= f.text_field:bjp_s_94, :class=>"inputText",:style=>"width: 90px; height: 19px" %></td>
			<td colspan="4"><p>填报日期*</p></td>
			<td colspan="4"><%= f.text_field:bjp_d_95,:class=>"inputText",:style=>"width: 90px; height: 19px" %></td>
			<td colspan="3"><p>手机*</p></td>
			<td colspan="3"><%= f.text_field:bjp_s_96, :class=>"inputText",:style=>"width: 70px; height: 19px" %></td>
			<td colspan="4"><p>电子邮箱*</p></td>
			<td colspan="5"><%= f.text_field:bjp_s_97, :class=>"inputText",:style=>"width: 90px; height: 19px" %></td>
		</tr>
        <tr id="bjp_jcxcount" style="display:none;">
            
            <th colspan="10"><%= f.number_field:bjp_n_jcxcount, :class=>"inputText",:style=>"width: 60px; height: 19px" %></th>
            <th colspan="20"><%= f.number_field:bjp_i_state, :class=>"inputText",:style=>"width: 60px; height: 19px" %></th>

            
		</tr>
     
        </table>
 </div>  
 </br>     
    <div class="actions"><span>
      <%if !@showrecord%>
        <%if (@bjp_bsb["bjp_i_state"]==nil)%>
            <%= f.submit(vaule="临时保存",options={"id"=>"save"}) %>
        <%elsif (@bjp_bsb["bjp_i_state"]<4)%>
            <%= f.submit(vaule="临时保存",options={"id"=>"save"}) %>
        <%end%>
        <%if (@bjp_bsb["bjp_i_state"]==nil)%>
            <%= f.submit(vaule="基本信息提交入库",options={"id"=>"submit1"}) %>
        <%elsif (@bjp_bsb["bjp_i_state"]<2)%>
            <%= f.submit(vaule="基本信息提交入库",options={"id"=>"submit1"}) %>
        <%end%>
        <%if @bjp_bsb["bjp_i_state"]==nil%>
            <%= f.submit(vaule="检测数据提交入库",options={"id"=>"submit2"}) %>
        <%elsif @bjp_bsb["bjp_i_state"]<4%>
            <%= f.submit(vaule="检测数据提交入库",options={"id"=>"submit2"}) %>
        <%elsif @bjp_bsb["bjp_i_state"]==10%>
            <%= f.submit(vaule="临时保存",options={"id"=>"save"}) %>
            <%= f.submit(vaule="基本信息提交入库",options={"id"=>"submit1"}) %>
            <%= f.submit(vaule="检测数据提交入库",options={"id"=>"submit2"}) %>
        <%end%>
      <%end%>
        <input type="button" id="print" value="打印"></input></span>
    </div>
        
</br>
    

  
<% end %>





