<style type="text/css">
    
	.style1 {
		border-collapse: collapse;
		font-size: 9pt;
		font-family: Calibri, sans-serif;
		border-style: none;
		border-color: inherit;
		border-width: medium;
		table-layout:fixed;
	}
	.style1 td{
		border: solid windowtext 1.0px;
		padding: 5px 5px 5px 5px;
		height: 30px;		
	}
	.style1 th{
		border: solid windowtext 1.0px;
		padding: 0cm 5.4pt 0cm 5.4pt;
		height: 30px;
	}
	.inputText {
		font-size: 12px;
		border-right-width: 0px;
		border-left-width: 0px;
		border-top-width: 0px;
		border-bottom: 1px solid;
		background-color : transparent; 
		
	}
    .text_margin{
        margin:5px 5px 5px 5px;
    }
    
</style>
<script type="text/javascript">
  $(function(){
    $('select, input, textarea').attr("disabled", "disabled");
  });
</script>

<%= form_for(@wtyp_czb) do |f| %>
  <div class="alert alert-warning">
    <i class="text-danger">注意：</i>
    旧核查处置流程。完成日期：<%= @wtyp_czb.updated_at.strftime("%Y年%m月%d日")%>
  </div>
    
  <table border="1" cellspacing="0" cellpadding="0" width="800px" class="style1" id="tblGrid">
     <tr>
        <td colspan="4"><p>样品名称*</p></td>
        <td colspan="6"><%=@sp_bsb.sp_s_14%></td>
        <td colspan="4"><p>抽样编号*</p></td>
        <td colspan="6"><%=@sp_bsb.sp_s_16%></td>
        <td colspan="5"><p>生产/加工/购进日期</p></td>
        <td colspan="5"><%=@sp_bsb.sp_d_22%></td>
     </tr>
     <tr>
        <td colspan="5"><p>标识生产企业名称*</p></td>
        <td colspan="5"><%= @sp_bsb.sp_s_64%></td>
        <td colspan="5"><p>标识生产企业地址*</p></td>
        <td colspan="5"><%= @sp_bsb.sp_s_65%></td>
        <td colspan="4"><p>检验机构名称*</p></td>
        <td colspan="6"><%=@sp_bsb.sp_s_43%></td>
     </tr>
     <%if (session[:user_province]==@sp_bsb.sp_s_3)||session[:user_name]=='admin'||session[:change_js]==10%>
         <tr>
            <td colspan="4"><p>填报单位</p></td>
            <td colspan="26"><%= f.text_field:wtyp_jg, :class=>"inputText",:style=>"width: 360px; height: 25px"%></td>
         </tr>
         <tr>
            <td colspan="4"><p>填报人</p></td>
            <td colspan="6"><%= f.text_field:wtyp_contacts, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
            <td colspan="4"><p>电话</p></td>
            <td colspan="6"><%= f.text_field:wtyp_tel, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
            <td colspan="4"><p>传真</p></td>
            <td colspan="6"><%= f.text_field:wtyp_fax, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
         </tr>
         <tr>
            <td colspan="4"><p>电子邮箱</p></td>
            <td colspan="11"><%= f.text_field:wtyp_email, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
            <td colspan="4"><p>审核人</p></td>
            <td colspan="11"><%= f.text_field:wtyp_verify, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
         </tr>
         <tr>
            <td colspan="4"><p>处置环节</p></td>
            <td colspan="10"><%= f.select:wtyp_deal_segment,@czhj_options,{},:style=>"width: 150px; height: 25px"%></td>
            <td colspan="4"><p>处置认定</p></td>
            <td colspan="12"><%= f.select:wtyp_deal_affirm,@czrd_options,{},:style=>"width: 250px; height: 25px"%></td>
         </tr> 
         <tr>
            <td colspan="5"><p>核查处置状态</p></td>
            <td colspan="10"><%= f.select:wtyp_state,@cz_options,{},:style=>"width: 150px; height: 25px"%></td>
            <td colspan="4"><p>报告日期</p></td>
            <td colspan="11"><%= f.text_field:wtyp_date, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
         </tr>
         <tr>
            <td rowspan="2" colspan="4"><p>核查处置措施</p></td>
            <td colspan="26" >
                责令企业：<%= f.select:wtyp_deal_fix1way,@czdealfix1_options,{},:style=>"width: 150px; height: 25px"%>；&nbsp;&nbsp;&nbsp;&nbsp;
                处理：<%= f.text_field:wtyp_deal_fix2way, :class=>"inputText",:style=>"width: 100px; height: 25px"%>件次；&nbsp;&nbsp;&nbsp;&nbsp;
                是否立案：<%= f.select:wtyp_deal_fix3way,@czdealfix2_options,{},:style=>"width: 100px; height: 25px"%>
            </td>
            
         </tr>
         <tr>
            <td colspan="26" >
                <%= f.text_area:wtyp_deal_way,:rows=>6,:cols=>80,:readonly=>"readonly"%><br/>
                <input class="inputText" id="temp_deal" style="width:400px;height: 25px"></input>
            </td>
         </tr>
         <tr>
            <td rowspan="2" colspan="4"><p>核查处置情况</p></td>
            <td colspan="26"><%= f.text_area:wtyp_deal_detail,:rows=>6,:cols=>80,:readonly=>"readonly"%></td>
         </tr>
         <tr>
            <td colspan="26"><input class="inputText" id="temp_deal_1" style="width:400px;height: 25px"></input></td>
         </tr>
         <tr>
            <td rowspan="2" colspan="4"><p>现场检查情况</p></td>
            <td colspan="26"><%= f.text_area:wtyp_deal_site,:rows=>6,:cols=>80,:readonly=>"readonly"%></td>
         </tr>
         <tr>
            <td colspan="26"><input class="inputText" id="temp_deal_site" style="width:400px;height: 25px"></input></td>
         </tr>
         <tr>
            <td colspan="4"><p>处置结果</p></td>
            <td colspan="26">
                没收违法所得：<%= f.text_field:wtyp_result_fix1way, :class=>"inputText",:style=>"width: 60px; height: 25px"%>元；&nbsp;&nbsp;
                罚款：<%= f.text_field:wtyp_result_fix2way, :class=>"inputText",:style=>"width: 60px; height: 25px"%>元；&nbsp;&nbsp;&nbsp;
                责令停产/停业从：<%= f.text_field:wtyp_result_fix3way, :class=>"inputText",:style=>"width: 100px; height: 25px"%>至
                    <%= f.text_field:wtyp_result_fix4way, :class=>"inputText",:style=>"width: 100px; height: 25px"%><br/>
                吊销许可证照：<%= f.text_field:wtyp_result_fix5way, :class=>"inputText",:style=>"width: 100px; height: 25px"%>号；&nbsp;&nbsp;
                移送司法机关：<%= f.text_field:wtyp_result_fix6way, :class=>"inputText",:style=>"width: 120px; height: 25px"%>；&nbsp;&nbsp;
                移送其他机关：<%= f.text_field:wtyp_result_fix7way, :class=>"inputText",:style=>"width: 120px; height: 25px"%>；    
            </td>
         </tr>
     <%end%>
     <%if (session[:user_province]==@sp_bsb.sp_s_202&&session[:user_province]!=@sp_bsb.sp_s_3)||session[:user_name]=='admin'||session[:change_js]==10%>
         <tr>
            <td colspan="4"><p>填报单位</p></td>
            <td colspan="26"><%= f.text_field:wtyp_jg_sc, :class=>"inputText",:style=>"width: 360px; height: 25px"%></td>
         </tr>
         <tr>
            <td colspan="4"><p>填报人</p></td>
            <td colspan="6"><%= f.text_field:wtyp_contacts_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
            <td colspan="4"><p>电话</p></td>
            <td colspan="6"><%= f.text_field:wtyp_tel_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
            <td colspan="4"><p>传真</p></td>
            <td colspan="6"><%= f.text_field:wtyp_fax_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
         </tr>
         <tr>
            <td colspan="4"><p>电子邮箱</p></td>
            <td colspan="11"><%= f.text_field:wtyp_email_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
            <td colspan="4"><p>审核人</p></td>
            <td colspan="11"><%= f.text_field:wtyp_verify_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
         </tr> 
         <tr>
            <td colspan="4"><p>处置环节</p></td>
            <td colspan="10"><%= f.select:wtyp_deal_segment_sc,@czhj_options,{},:style=>"width: 150px; height: 25px"%></td>
            <td colspan="4"><p>处置认定</p></td>
            <td colspan="12"><%= f.select:wtyp_deal_affirm_sc,@czrd_options,{},:style=>"width: 250px; height: 25px"%></td>
         </tr>
         <tr>
            <td colspan="5"><p>核查处置状态</p></td>
            <td colspan="10"><%= f.select:wtyp_state_sc,@cz_options,{},:style=>"width: 150px; height: 25px"%></td>
            <td colspan="4"><p>报告日期</p></td>
            <td colspan="11"><%= f.text_field:wtyp_date_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%></td>
         </tr>
         <tr>
            <td rowspan="2" colspan="4"><p>核查处置措施</p></td>
            <td colspan="26" >
                责令企业：<%= f.select:wtyp_deal_fix1way_sc,@czdealfix1_options,{},:style=>"width: 150px; height: 25px"%>；&nbsp;&nbsp;&nbsp;&nbsp;
                处理：<%= f.text_field:wtyp_deal_fix2way_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%>件次；&nbsp;&nbsp;&nbsp;&nbsp;
                是否立案：<%= f.select:wtyp_deal_fix3way_sc,@czdealfix2_options,{},:style=>"width: 100px; height: 25px"%>
            </td>
         </tr>
         <tr>
            <td colspan="26" >
                <%= f.text_area :wtyp_deal_way_sc,:rows=>6,:cols=>80,:readonly=>"readonly"%><br/>
                <input class="inputText" id="temp_deal_sc" style="width:400px;height: 25px"></input>
            </td>
         </tr>
         
         <tr>
            <td rowspan="2" colspan="4"><p>核查处置情况</p></td>
            <td colspan="26"><%= f.text_area :wtyp_deal_detail_sc,:rows=>6,:cols=>80,:readonly=>"readonly"%></td>
         </tr>
         <tr>
            <td colspan="26"><input class="inputText" id="temp_deal_1_sc" style="width:400px;height: 25px"></input></td>
         </tr>
         <tr>
            <td rowspan="2" colspan="4"><p>现场检查情况</p></td>
            <td colspan="26"><%= f.text_area :wtyp_deal_site_sc,:rows=>6,:cols=>80,:readonly=>"readonly"%></td>
         </tr>
         <tr>
            <td colspan="26"><input class="inputText" id="temp_deal_site_sc" style="width:400px;height: 25px"></input></td>
         </tr>
         <tr>
            <td colspan="4"><p>处置结果</p></td>
            <td colspan="26">
                没收违法所得：<%= f.text_field :wtyp_result_fix1way_sc, :class=>"inputText",:style=>"width: 60px; height: 25px"%>元；&nbsp;&nbsp;
                罚款：<%= f.text_field :wtyp_result_fix2way_sc, :class=>"inputText",:style=>"width: 60px; height: 25px"%>元；&nbsp;&nbsp;&nbsp;
                责令停产/停业从：<%= f.text_field :wtyp_result_fix3way_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%>至
                    <%= f.text_field :wtyp_result_fix4way_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%><br/>
                吊销许可证照：<%= f.text_field :wtyp_result_fix5way_sc, :class=>"inputText",:style=>"width: 100px; height: 25px"%>号；&nbsp;&nbsp;
                移送司法机关：<%= f.text_field :wtyp_result_fix6way_sc, :class=>"inputText",:style=>"width: 120px; height: 25px"%>；&nbsp;&nbsp;
                移送其他机关：<%= f.text_field :wtyp_result_fix7way_sc, :class=>"inputText",:style=>"width: 120px; height: 25px"%>；    
            </td>
         </tr>
     <%end%>
     
     <tr>
        <td colspan="4"><p>执法单位</p></td>
        <td colspan="26"><%= f.text_field :wtyp_deal_jg, :class=>"inputText",:style=>"width: 360px; height: 25px"%></td>
     </tr>
     <tr>
        <td colspan="4"><p>备注</p></td>
        <td colspan="26"><%= f.text_area :wtyp_remark,:rows=>6,:cols=>80%></td>
     </tr>
     
     <tr>
        <td colspan="30" style="display:none"><%= f.text_field :wtyp_sp_bsbs_id%></td>
     </tr>
  </table>
  <br><br>
<% end %>
