<style type="text/css">
  .fj-items {
    width: 4000px;
  }

  .fj-items-ctner {
    width: 100%;
    overflow-x: scroll;
  }

  .submit {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
</style>
<script type="text/javascript">
  $(function () {
    $('.part-ctner .panel-heading').click(function () {
      var body = $(this).next('.panel-body');
      var me = $(this);
      body.slideToggle({
        complete: function () {
          if (body.is(':hidden')) {
            me.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right')
          } else {
            me.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom')
          }
        }
      });
    });

    $(".tmp-save").click(function () {
      var o = $(this);
      o.parents('.part-ctner').find('.tmp-save-tag').val('1');
      o.parents('.part-ctner').find('.save-me').val('1');
    });

    $('.assign-task').click(function () {
      var parent_ctner = $(this).parents('.part-ctner');
      parent_ctner.find('.tmp-save-tag').val('0');
      parent_ctner.find('.save-me').val('1');

      if (!confirm("确定领取吗？")) {
        return false;
      }
    });

    // 提交按钮
    $(".save").click(function () {
      var parent_ctner = $(this).parents('.part-ctner');
			var current_state = parseInt($(this).parents('.part-ctner').attr('data-current-state'));

			// FIXME: @星云，看一些这里逻辑是否正确
			if(current_state == 2) {
				var empty_shenhe = null;
				$.each(parent_ctner.find('.shenhe'), function(i, item){
					if($(item).val() == '') {
						empty_shenhe = $(item);
						return false;
					}
				});

				if(empty_shenhe) {
					alert('请填写审核内容');
					empty_shenhe.focus();
					empty_shenhe = null;
					return false;
				};
			}

      parent_ctner.find('.tmp-save-tag').val('0');
      parent_ctner.find('.save-me').val('1');

      if (parent_ctner.find('div.submit').length > 0) {
        alert("尚有待确认的内容，请填写完整后提交！");
        parent_ctner.find('div.submit:first').focus();
        return false;
      } else {
        if (!confirm("确定要提交吗？")) {
          return false;
        }
      }
    });

    // 督办
    $('.part-duban').click(function () {
      if (confirm('确定执行该操作吗?')) {
        var czb_id = $(this).attr('data-id');
        $.post('/wtyp_czbs/' + czb_id + '/duban.json', function (res) {
          if (res.status == 'OK') {
            alert('操作成功!');
            location.reload();
          }
        }, 'json');
      }
      return false;
    });

    // 部分提交
    var part_ok = true;
    /*
     $("button[name='submitcpkz']").click(function () {
     var o = $(this);
     var xc_nil = o.parents('.form-ctner').find("input[name='parts[][xc_nil]']").val();
     if (($.trim($("input[name='parts[][xc_attachment_file]']").val()).length == 0) && (xc_nil == 'true')) {
     $("input[name='parts[][xc_attachment_file]']").focus();
     alert("请上传电子附件后提交");
     part_ok = false;
     return false;
     }
    <%@check=[1,2,3,5,9,21,13]%>

    <%@check.each do |i|%>
     if ($.trim($("#parts__cpkzqk_" +
    <%=i%>).val()).length == 0) {
     $("#parts__cpkzqk_" +
    <%=i%>).focus();
     alert("请完整填写处理信息后提交");
     part_ok = false;
     return false;
     }
    <%end%>

    <%@check=["cpkzqk_4","cpkzqk_6","cpkzqk_7","cpkzqk_8","cpkzqk_10","cpkzqk_11","cpkzqk_20","cpkzqk_22","cpkzqk_23","cpkzqk_12","cpkzqk_14","cpkzqk_15"]%>

    <%@check.each do |i|%>
     if ($.trim($("input[name='parts[][" + "
    <%=i%>"+"]']").val()).length == 0) {
     $("input[name='parts[][" + "
    <%=i%>"+"]']").focus();
     alert("请完整填写处理信息后提交");
     part_ok = false;
     return false;
     }
    <%end%>
     part_ok = true;
     })
     $("button[name='submitpczg']").click(function () {
     var o = $(this);
     var pc_nil = o.parents('.form-ctner').find("input[name='parts[][pc_nil]']").val();
     if (($.trim($("input[name='parts[][pc_attachment_file]']").val()).length == 0) && (pc_nil == 'true')) {
     $("input[name='parts[][pc_attachment_file]']").focus();
     alert("请上传电子附件后提交");
     part_ok = false;
     return false;
     }
     var flag1 = $("#parts__pczgfc_2").attr("checked");
     var flag2 = $("#parts__pczgfc_11").attr("checked");
     var flag3 = $("#parts__pczgfc_12").attr("checked");
     var flag4 = $("#parts__pczgfc_13").attr("checked");
     var flag5 = $("#parts__pczgfc_14").attr("checked");
     var flag6 = $("#parts__pczgfc_15").attr("checked");
     var flag7 = $("#parts__pczgfc_16").attr("checked");
     var flag8 = $("#parts__pczgfc_17").attr("checked");
     if (!flag1 && !flag2 && !flag3 && !flag4 && !flag5 && !flag6 && !flag7 && !flag8){
     alert("请勾选问题原因");
     part_ok = false;
     return false;
     }
     if (flag8 && ($.trim($("input[name='parts[][pczgfc_9]").val()).length == 0)){
     alert("勾选其他时请填写具体描述");
     $("input[name='parts[][pczgfc_9]").focus();
     part_ok = false;
     return false;
     }
     if ($.trim($("#parts__cpkzqk_17").val()).length == 0) {
     alert("请完整填写处理信息后提交");
     $("#parts__cpkzqk_17").focus();
     part_ok = false;
     return false;
     }
    <%@check=[1,3,7,8]%>

    <%@check.each do |i|%>
     if ($.trim($("#parts__pczgfc_" +
    <%=i%>).val()).length == 0) {
     $("#parts__pczgfc_" +
    <%=i%>).focus();
     alert("请完整填写处理信息后提交");
     part_ok = false;
     return false;
     }
    <%end%>

    <%@check=["cpkzqk_16","cpkzqk_18","cpkzqk_19","pczgfc_4","pczgfc_5","pczgfc_6"]%>

    <%@check.each do |i|%>
     if ($.trim($("input[name='parts[][" + "
    <%=i%>"+"]']").val()).length == 0) {
     $("input[name='parts[][" + "
    <%=i%>"+"]']").focus();
     alert("请完整填写处理信息后提交");
     part_ok = false;
     return false;
     }
    <%end%>
     part_ok = true;
     })
     $("button[name='submitxzcf']").click(function () {
     var o = $(this);
     var xz_nil = o.parents('.form-ctner').find("input[name='parts[][xz_nil]']").val();
     if (($.trim($("input[name='parts[][xz_attachment_file]']").val()).length == 0) && (xz_nil == 'true')) {
     $("input[name='parts[][xz_attachment_file]']").focus();
     alert("请上传电子附件后提交");
     part_ok = false;
     return false;
     }
    <%@check=[1,2,3,4,5,9,11,13,16,18,19,20]%>

    <%@check.each do |i|%>
     if ($.trim($("#parts__xzcfqk_" +
    <%=i%>).val()).length == 0) {
     $("#parts__xzcfqk_" +
    <%=i%>).focus();
     alert("请完整填写处理信息后提交");
     part_ok = false;
     return false;
     }
    <%end%>

    <%@check=["xzcfqk_6","xzcfqk_7","xzcfqk_8","xzcfqk_10","xzcfqk_12","xzcfqk_14","xzcfqk_15","xzcfqk_17","xzcfqk_21"]%>

    <%@check.each do |i|%>
     if ($.trim($("input[name='parts[][" + "
    <%=i%>"+"]']").val()).length == 0) {
     $("input[name='parts[][" + "
    <%=i%>"+"]']").focus();
     alert("请完整填写处理信息后提交");
     part_ok = false;
     return false;
     }
    <%end%>
     part_ok = true;
     })
     */
    $('.submit .btn').click(function () {
      var form_controls = $(this).parents('td').find('select, input[type=text]');
      var form_result = "";
      $.each(form_controls, function () {
        form_result += $(this).val();
      });
      if (part_ok) {
        if ($.trim(form_result) == '') {
          alert("请填写处理信息后提交。");
          return false;
        }
        if (confirm("确定提交吗？")) {
          $(this).parents('.part-ctner').find('.save-me').val('1');
          $(this).parents('.part-ctner').find('.flag' + $(this).attr('data-part')).attr('type', 'text').val('true');
          $(this).parents('.part-ctner').find('.part-submit').val('1');
        } else {
          return false;
        }
      }
    });


    // 根据处置部门列出可用人员
    $(".czbm").change(function () {
      var o = $(this);
      $.get("/users_by_jcjg.json", {jcjg: o.val(), model: "wtyp_czb"}, function (data) {
        if (data.status == 'OK') {
          var czfzr = o.parents('.form-ctner').find('.czfzr');
          czfzr.empty();
          $('<option value="">请选择</option>').appendTo(czfzr);
          $.each(data.msg, function (i, user) {
            $('<option value="' + user.id + '">' + user.tname + '</option>').appendTo(czfzr);
          });
        } else {
          //alert("获取用户失败");
        }
      }, 'json');
    }).trigger("change");
  });
</script>

<div class="panel panel-primary">
  <div class="panel-heading">基本信息</div>
  <div class="panel-body">
    <% if !@sp_bsb.czb_reverted_reason.blank? and (current_user.is_admin? or session[:change_js]==10) %>
        <br>
        <p class="bg-danger"><b>退回历史：</b><br><%= @sp_bsb.czb_reverted_reason.html_safe %></p><br>
    <% end %>
    <table class="table table-bordered table-bordered-black" id="tblGrid">
      <tr>
        <th colspan="4">抽检编号</th>
        <td colspan="26"><%= @wtyp_czb.cjbh %>&nbsp;&nbsp;&nbsp;&nbsp;
        <% if @sp_bsb.wochacha_task_id.present? %>
          <a target="_blank" href=<%= @sp_bsb.cyd_file_path %>>抽样单</a>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href=<%= @sp_bsb.cyjygzs_file_path %>>抽样检验告知书</a>
        <% else %>
          <a target="_blank" href="/sp_bsbs/<%= @wtyp_czb.wtyp_sp_bsbs_id %>/cyd">抽样单</a>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="/sp_bsbs/<%= @wtyp_czb.wtyp_sp_bsbs_id %>/cyjygzs">抽样检验告知书</a>
        <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="4">报告书编号</th>
        <td colspan="26">
	 <% if old_report(@sp_bsb.created_at) %>
           <a data-confirm="由于系统使用人数较多,可能导致打开报告时间略长,确定预览报告吗?" target="_blank" class="btn btn-xs btn-default" href="/sp_bsbs/<%= @sp_bsb.id %>/print">旧版检验报告</a>
        <% else %>
	  <% if @sp_bsb.JDCJ_report_path.present?%>
	   <a data-confirm="由于系统使用人数较多,可能导致打开报告时间略长,确定预览报告吗?" target="_blank" class="btn btn-xs btn-default" href="/sp_bsbs/<%= @sp_bsb.id %>/report.pdf?type=JYBG">监督抽检报告</a>
	  <% end%>
	  <% if @sp_bsb.FXJC_report_path.present? %>
	   <a data-confirm="由于系统使用人数较多,可能导致打开报告时间略长,确定预览报告吗?" target="_blank" class="btn btn-xs btn-default" href="/sp_bsbs/<%= @sp_bsb.id %>/report.pdf?type=FXBG">风险监测报告</a>
	  <% end%>
	  <% if @sp_bsb.ca_key_status==0&&@sp_bsb.is_jiandu? %> 
	  <a data-confirm="由于系统使用人数较多,可能导致打开报告时间略长,确定预览报告吗?" target="_blank" class="btn btn-xs btn-default"  href="/sp_bsbs/<%= @sp_bsb.id %>/print.pdf?type=JYBG">监督抽检报告</a>
     	  <% end%>
	  <% if @sp_bsb.ca_key_status==0&&@sp_bsb.is_jiance? %>
          <a data-confirm="由于系统使用人数较多,可能导致打开报告时间略长,确定预览报告吗?" target="_blank" class="btn btn-xs btn-default"  href="/sp_bsbs/<%= @sp_bsb.id %>/print.pdf?type=FXBG">风险监测报告</a>
          <% end%>
         <% end%>
          <% if @sp_bsb.xsbg_file_path.present? %>
              &emsp;&emsp;<a class="btn btn-default btn-xs" href="/sp_bsbs/<%= @sp_bsb.id %>/xsbg_24h"><i class="glyphicon glyphicon-download-alt"></i>24小时限时报告</a>
          <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="4">样品名称</th>
        <td colspan="11"><%= @wtyp_czb.ypmc %></td>
        <th colspan="4">抽样地点</th>
        <td colspan="11"><%= @wtyp_czb.cydd %></td>
      </tr>
      <tr>
        <th colspan="4">被抽样单位名称</th>
        <td colspan="11"><%= @wtyp_czb.bcydwmc %></td>
        <th colspan="4">被抽样单位地址</th>
        <td colspan="11"><%= @wtyp_czb.bcydwdz %></td>
      </tr>
      <tr>
        <th colspan="4">标识生产企业名称</th>
        <td colspan="11"><%= @wtyp_czb.bsscqymc %></td>
        <th colspan="4">标识生产企业地址</th>
        <td colspan="11"><%= @wtyp_czb.bsscqydz %></td>
      </tr>
      <tr>
        <th colspan="4">抽样基数</th>
        <td colspan="11"><%= @wtyp_czb.cyjs %></td>
        <th colspan="4">检验目的/任务类别</th>
        <td colspan="11"><%= @wtyp_czb.jymd %></td>
      </tr>
      <tr>
       <th colspan="4">生产日期</th>
       <th colspan="11"><%= @wtyp_czb.scrq.strftime("%Y-%m-%d") if @wtyp_czb.scrq.present? %></th>
       <th colspan="4">抽样日期</th>
       <th colspan="11"><%= @wtyp_czb.sp_bsb.sp_d_38 %></th>
      </tr>
      <tr>
        <th colspan="4">检验结论</th>
        <td colspan="26"><%= @wtyp_czb.jyjl %></td>
      </tr>
      <tr>
        <th colspan="4">异议状态</th>
        <td colspan="7"><%= @yydjb.blank? ? "未提出异议" : @yydjb.yyczjg %></td>
        <th colspan="3">检验结果状态</th>
        <td colspan="8"><%= @yydjb.blank? ? "初检结论" : @yydjb.fjzt %></td>
        <th colspan="4">是否为限时报告</th>
        <td colspan="4"><%= @wtyp_czb.bgfl %></td>
      </tr>
    </table>
  </div>
</div>
<br>
<div class="panel panel-primary">
  <div class="panel-heading"> 检验结果(不合格项/监测问题项)</div>
  <div class="panel-body">
    <div class="fj-items-ctner">
      <table class="fj-items table table-bordered table-bordered-black">
        <thead>
        <tr>
          <th colspan="2">#</th>
          <th colspan="5">检验项目*</th>
          <th colspan="3">原检验结果*</th>
          <th colspan="2">结果单位*</th>
          <th colspan="2">原结果判定*</th>
          <th colspan="7">检验依据*</th>
          <th colspan="7">判定依据*</th>
          <th colspan="2">标准方法检出限*</th>
          <th colspan="2">标准检出限单位*</th>
          <th colspan="2">方法检出限*</th>
          <th colspan="2">检出限单位*</th>
          <th colspan="2">标准最小允许限*</th>
          <th colspan="2">标准最小允许限单位*</th>
          <th colspan="2">最小允许限*</th>
          <th colspan="2">最小允许限单位*</th>
          <th colspan="2">标准最大允许限*</th>
          <th colspan="2">标准最大允许限单位*</th>
          <th colspan="2">最大允许限*</th>
          <th colspan="2">最大允许限单位*</th>
          <th colspan="2">说明</th>
          <th colspan="2">复检结果</th>
          <th colspan="2">结果单位</th>
          <th colspan="2">复检结论</th>
        </tr>
        </thead>
        <tbody>
        <% @wtyp_czb.spdata.each_with_index do |data, index| %>
            <tr class="analysis-item">
              <td colspan="2"><%= index + 1 %></td>
              <td colspan="5" style="width:10%" align="left"><%= data.spdata_0 %></td>
              <td colspan="3" align="left"><%= data.spdata_1 %></td>
              <td colspan="2" align="left"><%= data.spdata_18 %></td>
              <td colspan="2" align="left"><%= data.spdata_2 %></td>
              <td colspan="7" align="left"><%= data.spdata_3 %></td>
              <td colspan="7" align="left"><%= data.spdata_4 %></td>
              <td colspan="2" align="left"><%= data.spdata_5 %></td>
              <td colspan="2" align="left"><%= data.spdata_6 %></td>
              <td colspan="2" align="left"><%= data.spdata_7 %></td>
              <td colspan="2" align="left"><%= data.spdata_8 %></td>
              <td colspan="2" align="left"><%= data.spdata_9 %></td>
              <td colspan="2" align="left"><%= data.spdata_10 %></td>
              <td colspan="2" align="left"><%= data.spdata_11 %></td>
              <td colspan="2" align="left"><%= data.spdata_12 %></td>
              <td colspan="2" align="left"><%= data.spdata_13 %></td>
              <td colspan="2" align="left"><%= data.spdata_14 %></td>
              <td colspan="2" align="left"><%= data.spdata_15 %></td>
              <td colspan="2" align="left"><%= data.spdata_16 %></td>
              <td colspan="2" align="left"><%= data.spdata_17 %></td>
              <td colspan="2" align="left"><%= data.fjjg %></td>
              <td colspan="2" align="left"><%= data.jgdw %></td>
              <td colspan="2" align="left"><%= data.fjjl %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<%= form_tag "/update_wtyp_czbs/#{@wtyp_czb.id}", :multipart => true do %>
    <input type="hidden" id="part-submit" name="part_submit">

    <!-- 生产 -->
    <% if @part_sc.present? and @part_sc.visible_for_user?(current_user, ::WtypCzbPart::Type::SC)%>
        <%= render "form_part", :czb => @part_sc, :title => "生产环节核查处置情况" %>
        <hr>
    <% end %>
    <!-- 流通/餐饮 -->
    <% if @part_lt_cy.present? and @part_lt_cy.visible_for_user?(current_user, ::WtypCzbPart::Type::LT)%>
        <%= render "form_part", :czb => @part_lt_cy, :title => "经营环节核查处置情况" %>
    <% end %>
    <!-- 网抽 -->
    <% if @part_wc.present? and @part_wc.visible_for_user?(current_user, ::WtypCzbPart::Type::WC) and @part_wc.wtyp_czb_type.eql?(::WtypCzbPart::Type::WC) %>
       <%= render "form_part", :czb => @part_wc, :title => "网抽环节核查处置情况" %>
    <% end %>   
<% end %>
