<div class="panel panel-primary part-ctner" data-current-state="<%= czb.current_state %>" data-type="<%= czb.wtyp_czb_type %>">
  <div class="panel-heading" style="cursor: pointer;">
    <i class="glyphicon glyphicon-triangle-right"></i>
    <%= title %>
    <% if czb.current_state != ::WtypCzb::State::LOGGED %>
        <span class="pull-right">[<%= czb.current_state_desc %>]</span>
    <% else %>
        <span class="pull-right">[待领取]</span>
    <% end %>
  </div>
  <div style="display: none;" class="form-ctner panel-body">
    <% if !czb.thyy.blank? %>
        <br>
        <p class="bg-danger"><b>退回历史：</b><br><%= czb.thyy.html_safe %></p><br>
    <% end %>

    <% if current_user.hcz_admin == 0 and czb.current_state != ::WtypCzb::State::PASSED %>
        <!-- 条件性显示这些隐藏字段 -->
        <input type="hidden" name="parts[][cjbh]" value="<%= czb.cjbh %>">
        <input type="hidden" name="parts[][ypmc]" value="<%= czb.ypmc %>">
        <input type="hidden" name="parts[][ypgg]" value="<%= czb.ypgg %>">
        <input type="hidden" name="parts[][ypph]" value="<%= czb.ypph %>">
        <input type="hidden" name="parts[][bcydwmc]" value="<%= czb.bcydwmc %>">
        <input type="hidden" name="parts[][bcydw_sheng]" value="<%= czb.bcydw_sheng %>">
        <input type="hidden" name="parts[][cydwmc]" value="<%= czb.cydwmc %>">
        <input type="hidden" name="parts[][cydwsf]" value="<%= czb.cydwsf %>">
        <input type="hidden" name="parts[][bsscqymc]" value="<%= czb.bsscqymc %>">
        <input type="hidden" name="parts[][bsscqy_sheng]" value="<%= czb.bsscqy_sheng %>">
        <input type="hidden" name="parts[][scrq]" value="<%= czb.scrq %>">
        <input type="hidden" name="parts[][jyjl]" value="<%= czb.jyjl %>">
        <input type="hidden" name="parts[][bgfl]" value="<%= czb.bgfl %>">
        <input type="hidden" name="parts[][bgsbh]" value="<%= czb.bgsbh %>">
        <input type="hidden" name="parts[][cydd]" value="<%= czb.cydd %>">
        <input type="hidden" name="parts[][bcydwdz]" value="<%= czb.bcydwdz %>">
        <input type="hidden" name="parts[][bsscqydz]" value="<%= czb.bsscqydz %>">
        <input type="hidden" name="parts[][cyjs]" value="<%= czb.cyjs %>">
        <input type="hidden" name="parts[][jymd]" value="<%= czb.jymd %>">
        <input type="hidden" name="parts[][sp_bsb_id]" value="<%= czb.sp_bsb_id %>">
        <input type="hidden" name="parts[][wtyp_czb_type]" value="<%= czb.wtyp_czb_type %>">
        <input type="hidden" class="flag1 flag-field" name="parts[][part_submit_flag1]" value="<%= czb.part_submit_flag1 %>">
        <input type="hidden" class="flag2 flag-field" name="parts[][part_submit_flag2]" value="<%= czb.part_submit_flag2 %>">
        <input type="hidden" class="flag3 flag-field" name="parts[][part_submit_flag3]" value="<%= czb.part_submit_flag3 %>">
        <input type="hidden" class="flag4 flag-field" name="parts[][part_submit_flag4]" value="<%= czb.part_submit_flag4 %>">
        <input type="hidden" class="flag5 flag-field" name="parts[][part_submit_flag5]" value="<%= czb.part_submit_flag5 %>">
        <input type="hidden" class="flag6 flag-field" name="parts[][part_submit_flag6]" value="<%= czb.part_submit_flag6 %>">
        <input type="hidden" class="flag7 flag-field" name="parts[][part_submit_flag7]" value="<%= czb.part_submit_flag7 %>">
        <input type="hidden" name="parts[][wtyp_czb_id]" value="<%= czb.wtyp_czb_id %>">
        <input type="hidden" name="parts[][wtyp_deal_segment]" value="<%= czb.wtyp_deal_segment %>">
        <input type="hidden" name="parts[][xc_nil]" value="<%= czb.xc_attachment_path.nil? %>">
        <input type="hidden" name="parts[][pc_nil]" value="<%= czb.pc_attachment_path.nil? %>">
        <input type="hidden" name="parts[][xz_nil]" value="<%= czb.xz_attachment_path.nil? %>">
        <input type="hidden" name="parts[][cur_state]" value="<%= czb.current_state %>">
    <% end %>

    <table class="table table-bordered table-bordered-black" id="tblGrid">
      <tr>
        <th colspan="3">处置环节</th>
        <td colspan="12"><%= czb.wtyp_czb_type == ::WtypCzbPart::Type::SC ? "生产" : "消费" %></td>
        <th colspan="3"><%= czb.wtyp_czb_type == ::WtypCzbPart::Type::SC ? "标识生产企业名称" : "被抽样单位名称" %></th>
        <td colspan="12"><%= czb.wtyp_czb_type == ::WtypCzbPart::Type::SC ? czb.bsscqymc : czb.bcydwmc %></td>
      </tr>
      <tr>
        <th colspan="3">所在省份</th>
        <td colspan="12"><%= czb.wtyp_czb_type == ::WtypCzbPart::Type::SC ? czb.bsscqy_sheng : czb.bcydw_sheng %></td>
        <th colspan="3">地址</th>
        <td colspan="12"><%= czb.wtyp_czb_type == ::WtypCzbPart::Type::SC ? czb.bsscqydz : czb.bcydwdz %></td>
      </tr>
      <tr>
        <th colspan="3">核查处置单位、部门</th>
        <td colspan="4"><%= beautify_field czb.blbm %></td>
        <th colspan="3">办理人</th>
        <td colspan="5"><%= beautify_field czb.blr %></td>
        <th colspan="3">处置状态</th>
        <td colspan="5"><%= beautify_field czb.state_desc2 %></td>
        <th colspan="3">处置完毕日期</th>
        <td colspan="4">
          <% if is_fill_enabled?(czb) %>
              <input title="处置完毕日期" type="text" name="parts[][czwbrq]" class="datepicker form-control input-sm" value="<%= czb.czwbrq %>">
          <% else %>
              <%= beautify_field czb.czwbrq %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="3" style="text-align: center;">措施</th>
        <th colspan="23" style="text-align: center;">具体情况</th>
        <th colspan="4" style="text-align: center;">省级局审核</th>
      </tr>
      <tr>
        <th colspan="3" style="vertical-align: middle;">
          <div style="width:30px; margin-left:auto; margin-right:auto;">启动情况</div>
        </th>
        <td colspan="23" class="form-inline" style="line-height: 40px; position: relative;">
          <% if is_fill_enabled?(czb) && !czb.part_submit_flag1 %>
              1.
              检验报告上传日期（监管部门收到检验报告日期）：<%= czb.wtyp_date.blank? ? czb.sp_bsb.updated_at.strftime("%Y-%m-%d") : czb.wtyp_date %><input type="hidden" name="parts[][wtyp_date]" class="form-control input-sm datepicker" value="<%= czb.wtyp_date.blank? ? czb.sp_bsb.updated_at.strftime("%Y-%m-%d") : czb.wtyp_date %>"><br>
              检验报告送达企业日期：<input type="text" name="parts[][qdqk_sdrq]" class="form-control input-sm datepicker" value="<%= czb.qdqk_sdrq %>">；<br>
              启动核查处置日期：<input title="启动核查处置日期" type="text" name="parts[][qdhcczrq]" class="form-control input-sm datepicker" value="<%= czb.qdhcczrq %>">
              <% if czb.current_state == ::WtypCzb::State::ASSIGNED %>
                  <br>启动文书<br>
                  <input type="file" name="parts[][qd_attachment_file]" id="qd_attachment_file"><span class="text-danger">(请上传10M以内文件)</span>
                  <div class="submit">
                    <button type="submit" data-part="1" name="submitqdqk" class="btn btn-xs btn-success">提交</button>
                  </div>
              <% end %>

          <% else %>
              1. 检验报告上传日期（监管部门收到检验报告日期）：<%= beautify_field czb.wtyp_date %><br>
              检验报告送达企业日期：<%= beautify_field czb.qdqk_sdrq %>；<br>
              启动核查处置日期：<%= beautify_field czb.qdhcczrq %>
              <% if czb.part_submit_flag1 %>
                  <span class="label label-success submit">已提交</span>
              <% end %>
          <% end %>
          <% if !czb.qd_attachment_file.blank? %>
              <br><a href="/wtyp_qd_attachment/<%= czb.id %>"><b>启动文书</b></a>
          <% end %>
        </td>
        <td colspan="4">启动是否及时：
          <% if czb.current_state == ::WtypCzb::State::FILLED && czb.enable_operation?(current_user) %>
              <%= select_tag "parts[][qdqk_sfjs]", options_for_select(@czdealfix2_options, czb.qdqk_sfjs), {:class => "form-control input-sm shenhe"} %>
          <% else %>
              <%= beautify_field czb.qdqk_sfjs %>
          <% end %>
        </td>
      </tr>

      <!--
      <% if @sp_bsb.sp_s_44.eql?("风险监测") %>-->
          <!--<tr>-->
          <!--<th colspan="4">分析评价</th>-->
          <!--<td colspan="26" class="form-inline" style="position: relative;">-->
          <!--
          <% if is_fill_enabled?(czb) %>-->
              <!--1.是否对风险监测结果进行分析评价<%= select_tag "parts[][fxpj_1]", options_for_select(@czdealfix2_options, czb.fxpj_1), {:class => "form-control input-sm"} %>；<br>-->
              <!--2.是否存在安全隐患<%= select_tag "parts[][fxpj_2]", options_for_select(@czdealfix2_options, czb.fxpj_2), {:class => "form-control input-sm"} %>；<br>-->
              <!--3.是否发出食品安全风险隐患告知书<%= select_tag "parts[][fxpj_3]", options_for_select(@czdealfix2_options, czb.fxpj_3), {:class => "form-control input-sm"} %>。发出日期：<input type="text" name="parts[][fxpj_4]" class="datepicker form-control input-sm" value="<%= czb.fxpj_4 %>">-->
              <!--
          <% else %>-->
              <!--1.是否对风险监测结果进行分析评价：<%= beautify_field czb.fxpj_1 %>；<br>-->
              <!--2.是否存在安全隐患：<%= beautify_field czb.fxpj_2 %>；<br>-->
              <!--3.是否发出食品安全风险隐患告知书：<%= beautify_field czb.fxpj_3 %>。发出日期：<%= beautify_field czb.fxpj_4 %>。-->
              <!--
          <% end %>-->
          <!--</td>-->
          <!--</tr>-->
          <!--
      <% end %>-->
      <tr>
        <th colspan="3" style="vertical-align: middle;">
          <div style="width:30px; margin-left:auto; margin-right:auto;">产品控制情况</div>
        </th>
        <td colspan="23" class="form-inline" style="line-height: 40px; position: relative;">
          <% if is_fill_enabled?(czb) and !czb.part_submit_flag2 %>
              1.产品控制措施：<br>
              责令企业暂停生产、销售和使用不合格或问题食品、食品添加剂：<%= select_tag "parts[][cpkzqk_1]", options_for_select(@czdealfix2_options, czb.cpkzqk_1), {:class => "form-control input-sm"} %>
              ；<br>

              封存不合格（问题）食品、食品添加剂：<%= select_tag "parts[][cpkzqk_2]", options_for_select(@czdealfix2_options, czb.cpkzqk_2), {:class => "form-control input-sm"} %>
              ；<br>

              责令企业召回不合格（问题）食品、食品添加剂：<%= select_tag "parts[][cpkzqk_3]", options_for_select(@czdealfix2_options, czb.cpkzqk_3), {:class => "form-control input-sm"} %>
              。<br>

              2.产品控制具体情况<br>
              （1）企业生产（购进）<input title="企业（生产/购进)" type="text" name="parts[][cpkzqk_4]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_4 %>">
              <%= select_tag "parts[][cpkzqk_5]", options_for_select(@hcczdw_options, czb.cpkzqk_5), {:class => "form-control input-sm"} %>
              ，
              共计<input title="共计" type="text" name="parts[][cpkzqk_6]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_6 %>">公斤；

              货值<input title="货值" type="text" name="parts[][cpkzqk_7]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_7 %>">元；<br>

              已销售<input title="已销售" type="text" name="parts[][cpkzqk_8]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_8 %>">
              <%= select_tag "parts[][cpkzqk_9]", options_for_select(@hcczdw_options, czb.cpkzqk_9), {:class => "form-control input-sm"} %>
              ，

              共计<input type="text" name="parts[][cpkzqk_10]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_10 %>">
              公斤；<br>

              库存（未销售）<input type="text" name="parts[][cpkzqk_kc]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_kc %>">
              <%= select_tag "parts[][cpkzqk_kcdw]", options_for_select(@hcczdw_options, czb.cpkzqk_kcdw), {:class => "form-control input-sm"} %>
              ，

              共计<input type="text" name="parts[][cpkzqk_zj]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_zj %>">
              公斤。<br>

              （2）封存
              <input type="text" name="parts[][cpkzqk_12]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_12 %>">
              <%= select_tag "parts[][cpkzqk_13]", options_for_select(@hcczdw_options, czb.cpkzqk_13), {:class => "form-control input-sm"} %>
              ，

              共计<input type="text" name="parts[][cpkzqk_14]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_14 %>">公斤。<br>

              （3）召回
              <input type="text" name="parts[][cpkzqk_16]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_16 %>">
              <%= select_tag "parts[][cpkzqk_17]", options_for_select(@hcczdw_options, czb.cpkzqk_17), {:class => "form-control input-sm"} %>
              ，

              共计<input type="text" name="parts[][cpkzqk_18]" class="form-control input-sm" style="width: 50px;" value="<%= czb.cpkzqk_18 %>">公斤。<br>

              未完全召回原因：<input type="text" name="parts[][cpkzqk_wzhyy" class="form-control input-sm" style="width: 500px;" value="<%= czb.cpkzqk_wzhyy %>">。

              <% if czb.current_state == ::WtypCzb::State::ASSIGNED %>
                  <br>现场检查记录附件<br>
                  <input type="file" name="parts[][xc_attachment_file]" id="xc_attachment_file"><span class="text-danger">(请上传10M以内文件)</span>
                  <div class="submit">
                    <%= time_left(czb.created_at, 5) %>
                    <button type="submit" data-part="2" name="submitcpkz" class="btn btn-xs btn-success">提交</button>
                  </div>
              <% end %>
          <% else %>
              1.产品控制措施：<br>
              责令企业暂停生产、销售和使用不合格或问题食品、食品添加剂：<%= beautify_field czb.cpkzqk_1 %>；<br/>
              封存不合格（问题）食品、食品添加剂：<%= beautify_field czb.cpkzqk_2 %>；<br/>
              责令企业召回不合格（问题）食品、食品添加剂：<%= beautify_field czb.cpkzqk_3 %>。<br/>
              2.产品控制具体情况<br>
              （1）企业生产（购进） <%= beautify_field czb.cpkzqk_4 %><%= beautify_field czb.cpkzqk_5 %>
              ，共计<%= beautify_field czb.cpkzqk_6 %>公斤；
              货值<%= beautify_field czb.cpkzqk_7 %>元；<br>
              已销售<%= beautify_field czb.cpkzqk_8 %><%= beautify_field czb.cpkzqk_9 %>
              ，共计<%= beautify_field czb.cpkzqk_10 %>公斤；<br>
              库存（未销售）<%= beautify_field czb.cpkzqk_kc %><%= beautify_field czb.cpkzqk_kcdw %>
              ，共计<%= beautify_field czb.cpkzqk_zj %>公斤。<br>
              （2）封存<%= beautify_field czb.cpkzqk_12 %><%= beautify_field czb.cpkzqk_13 %>
              ，共计<%= beautify_field czb.cpkzqk_14 %>公斤。<br>
              （3）召回<%= beautify_field czb.cpkzqk_16 %><%= beautify_field czb.cpkzqk_17 %>
              ，共计<%= beautify_field czb.cpkzqk_18 %>公斤。<br>
              未完全召回原因：<%= beautify_field czb.cpkzqk_wzhyy %>。
              <% if czb.part_submit_flag2 %>
                  <span class="label label-success submit">已提交</span>
              <% end %>
          <% end %>
          <% if !czb.xc_attachment_file.blank? %>
              <br><a href="/wtyp_xc_attachment/<%= czb.id %>"><b>现场检查记录附件</b></a>
          <% end %>
        </td>
        <td colspan="4">
          <% if czb.current_state == ::WtypCzb::State::FILLED && czb.enable_operation?(current_user) %>
              产品召回是否到位：<%= select_tag "parts[][cpkzqk_sfdw]", options_for_select(@czdealfix2_options, czb.cpkzqk_sfdw), {:class => "form-control input-sm shenhe"} %>
              <br>
              产品未完全召回原因是否合理：<%= select_tag "parts[][cpkzqk_sfhl]", options_for_select(@czdealfix2_options, czb.cpkzqk_sfhl), {:class => "form-control input-sm shenhe"} %>
          <% else %>
              产品召回是否到位：<%= beautify_field czb.cpkzqk_sfdw %><br>
              产品未完全召回原因是否合理：<%= beautify_field czb.cpkzqk_sfhl %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="3" style="vertical-align: middle;">
          <div style="width:30px; margin-left:auto; margin-right:auto;">原因排查</div>
        </th>
        <td colspan="23" class="form-inline" style="line-height: 40px; position: relative;">
          <% if is_fill_enabled?(czb) and !czb.part_submit_flag3 %>
              1. 原因类别：<br>
              <% if czb.wtyp_czb_type == ::WtypCzbPart::Type::SC %>
                  <label><%= check_box_tag "parts[][pczgfc_2]", 1, (czb.pczgfc_2 == 1) %>人为添加</label>
                  <label><%= check_box_tag "parts[][pczgfc_11]", 1, (czb.pczgfc_11 == 1) %>原料问题</label>
                  <label><%= check_box_tag "parts[][pczgfc_12]", 1, (czb.pczgfc_12 == 1) %>生产工艺</label>
                  <label><%= check_box_tag "parts[][pczgfc_13]", 1, (czb.pczgfc_13 == 1) %>过程控制不严</label>
                  <label><%= check_box_tag "parts[][pczgfc_14]", 1, (czb.pczgfc_14 == 1) %>储运不当</label>
                  <label><%= check_box_tag "parts[][pczgfc_15]", 1, (czb.pczgfc_15 == 1) %>包装迁移</label>
                  <label><%= check_box_tag "parts[][pczgfc_16]", 1, (czb.pczgfc_16 == 1) %>标签标识问题</label>
                  <label><%= check_box_tag "parts[][pczgfc_17]", 1, (czb.pczgfc_17 == 1) %>其他</label>
              <% else %>
                  <label><%= check_box_tag "parts[][yypc_yylbsc]", 1, (czb.yypc_yylbsc == 1) %>生产</label>
                  <label><%= check_box_tag "parts[][yypc_yylbys]", 1, (czb.yypc_yylbys == 1) %>运输</label>
                  <label><%= check_box_tag "parts[][yypc_yylbxs]", 1, (czb.yypc_yylbxs == 1) %>销售</label>
              <% end %>
              ；
              原因详情：<input type="text" name="parts[][pczgfc_9]" class="form-control input-sm" style="width: 500px;" value="<%= czb.pczgfc_9 %>">。<br>
              2.
              （选填项。因原料导致不合格的，必填）追溯原料（不合格产品）来源：<%= select_tag "parts[][yypc_zsylly]", options_for_select(@czdealfix2_options, czb.yypc_zsylly), {:class => "form-control input-sm"} %>
              ；
              不合格原料（产品）生产者：<input type="text" name="parts[][yypc_bhgscz]" class="form-control input-sm" value="<%= czb.yypc_bhgscz %>">；<br>
              未追查到原料生产者的，说明原因：<input type="text" name="parts[][yypc_wzcyy]" class="form-control input-sm" style="width: 500px;" value="<%= czb.yypc_wzcyy %>">
              。
              <% if czb.current_state == ::WtypCzb::State::ASSIGNED %>
                  <br/>排查整改报告附件<br/>
                  <input type="file" name="parts[][pc_attachment_file]" id="pc_attachment_file"><span class="text-danger">(请上传10M以内文件)</span>
                  <div class="submit">
                    <%= time_left(czb.created_at, 30) %>
                    <button type="submit" data-part="3" name="submityypc" class="btn btn-xs btn-success">提交</button>
                  </div>
              <% end %>
          <% else %>
              1.原因类别：<%= beautify_field czb.wtyy %> &emsp; 原因详情：<%= beautify_field czb.pczgfc_9 %>。<br>
              2.（选填项。因原料导致不合格的，必填）追溯原料来源：<%= beautify_field czb.yypc_zsylly %>；
              不合格原料生产者：<%= beautify_field czb.yypc_bhgscz %>；
              未追查到原料生产者的，说明原因：<%= beautify_field czb.yypc_wzcyy %>。
              <% if czb.part_submit_flag3 %>
                  <span class="label label-success submit">已提交</span>
              <% end %>
          <% end %>
          <% if !czb.pc_attachment_file.blank? %>
              <br/><a href="/wtyp_pc_attachment/<%= czb.id %>"><b>排查整改报告附件</b></a>
          <% end %>
        </td>
        <td colspan="4">排查问题原因是否合理：
          <% if czb.current_state == ::WtypCzb::State::FILLED && czb.enable_operation?(current_user) %>
              <%= select_tag "parts[][yypc_sfhl]", options_for_select(@czdealfix2_options, czb.yypc_sfhl), {:class => "form-control input-sm shenhe"} %>
          <% else %>
              <%= beautify_field czb.yypc_sfhl %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th rowspan="2" colspan="3" style="vertical-align: middle;">
          <div style="width:30px; margin-left:auto; margin-right:auto;">行政处罚</div>
        </th>
        <td colspan="23" class="form-inline" style="line-height: 40px; position: relative;">
          <% if is_fill_enabled?(czb) and !czb.part_submit_flag4 %>
              1.行政立案：<%= select_tag "parts[][xzcfqk_1]", options_for_select(@czdealfix2_options, czb.xzcfqk_1), {:class => "form-control input-sm"} %>
              ；
              立案日期：<input type="text" name="parts[][xzcfqk_6]" class="datepicker form-control input-sm" value="<%= czb.xzcfqk_6 %>" style="width: 100px">；
              结案：<%= select_tag "parts[][xzcfqk_3]", options_for_select(@czdealfix2_options, czb.xzcfqk_3), {:class => "form-control input-sm"} %>
              ；
              结案日期：
              <input type="text" name="parts[][xzcfqk_21]" value="<%= czb.xzcfqk_21 %>" class="datepicker form-control input-sm" style="width: 100px">。<br>

              2.违法事实认定及相关法律依据：<input type="text" name="parts[][xzcf_rdyj]" class="form-control input-sm" style="width: 500px" value="<%= czb.xzcf_rdyj %>">。<br>
              3.
              是否处罚：<%= select_tag "parts[][xzcfqk_2]", options_for_select(@czdealfix2_options, czb.xzcfqk_2), {:class => "form-control input-sm"} %>
              ；处罚具体情况：<br>
              处罚决定书编号：<input type="text" name="parts[][xzcfqk_7]" class="form-control input-sm" style="width: 200px" value="<%= czb.xzcfqk_7 %>">，
              下达日期：<input type="text" name="parts[][xzcfqk_8]" class="datepicker form-control input-sm" value="<%= czb.xzcfqk_8 %>" style="width: 100px">。<br>
              警告：<%= select_tag "parts[][xzcfqk_9]", options_for_select(@czdealfix2_options, czb.xzcfqk_9), {:class => "form-control input-sm"} %>
              ；<br>
              没收非法所得：<input type="text" name="parts[][xzcfqk_10]" value="<%= czb.xzcfqk_10 %>" class="form-control input-sm" style="width: 50px">元；<br>
              没收违法生产经营的食品：
              <%= select_tag "parts[][xzcfqk_11]", options_for_select(@czdealfix2_options, czb.xzcfqk_11), {:class => "form-control input-sm"} %>
              ；
              <input type="text" name="parts[][xzcfqk_12]" value="<%= czb.xzcfqk_12 %>" class="form-control input-sm" style="width: 50px">
              <%= select_tag "parts[][xzcfqk_13]", options_for_select(@hcczdw_options, czb.xzcfqk_13), {:class => "form-control input-sm"} %>
              ，
              共计
              <input type="text" name="parts[][xzcfqk_14]" value="<%= czb.xzcfqk_14 %>" class="form-control input-sm" style="width: 50px">公斤；
              货值
              <input type="text" name="parts[][xzcfqk_15]" value="<%= czb.xzcfqk_15 %>" class="form-control input-sm" style="width: 50px">元。<br>
              没收用于违法生产经营的工具、设备、原料等物品：<%= select_tag "parts[][xzcfqk_16]", options_for_select(@czdealfix2_options, czb.xzcfqk_16), {:class => "form-control input-sm"} %>
              ；<br>
              罚款：<input type="text" name="parts[][xzcfqk_17]" value="<%= czb.xzcfqk_17 %>" class="form-control input-sm" style="width: 50px">
              元；<br>
              责令停产停业：<%= select_tag "parts[][xzcfqk_18]", options_for_select(@czdealfix2_options, czb.xzcfqk_18), {:class => "form-control input-sm"} %>
              ；<br>
              吊销许可证：<%= select_tag "parts[][xzcfqk_19]", options_for_select(@czdealfix2_options, czb.xzcfqk_19), {:class => "form-control input-sm"} %>
              ；
              吊销：<%= select_tag "parts[][xzcfqk_20]", options_for_select(@hcczdx_options, czb.xzcfqk_20), {:class => "form-control input-sm"} %>
              。
              <% if czb.current_state == ::WtypCzb::State::ASSIGNED %>
                  <br/>行政处罚通知书附件<br/>
                  <input type="file" name="parts[][xz_attachment_file]" id="xz_attachment_file"><span class="text-danger">(请上传10M以内文件)</span>
                  <div class="submit">
                    <%= time_left(czb.created_at, 90) %>
                    <button type="submit" data-part="4" name="submitxzcf" class="btn btn-xs btn-success">提交</button>
                  </div>
              <% end %>
          <% else %>
              <% if czb.is_prevented_by_yydj? %>
                  <p class="alert alert-danger">异议处置中，无法填写以下内容</p>
              <% end %>

              1.行政立案：<%= beautify_field czb.xzcfqk_1 %>，
              立案日期：<%= beautify_field czb.xzcfqk_6 %>；
              结案：<%= beautify_field czb.xzcfqk_3 %>；
              结案日期：<%= beautify_field czb.xzcfqk_21 %>。<br>
              2.违法事实认定及相关法律依据：<%= beautify_field czb.xzcf_rdyj %>。<br>
              3. 是否处罚：<%= beautify_field czb.xzcfqk_2 %>；处罚具体情况：<br>
              处罚决定书编号：<%= beautify_field czb.xzcfqk_7 %>，下达日期：<%= beautify_field czb.xzcfqk_8 %>。<br>
              警告：<%= beautify_field czb.xzcfqk_9 %>；<br>
              没收非法所得：<%= beautify_field czb.xzcfqk_10 %>元；<br>
              没收违法生产经营的食品：<%= beautify_field czb.xzcfqk_11 %>，
              <%= beautify_field czb.xzcfqk_12 %>
              <%= beautify_field czb.xzcfqk_13 %>，
              共计<%= beautify_field czb.xzcfqk_14 %>公斤；
              货值<%= beautify_field czb.xzcfqk_15 %>元。<br>
              没收用于违法生产经营的工具、设备、原料等物品：<%= beautify_field czb.xzcfqk_16 %>；<br>
              罚款：<%= beautify_field czb.xzcfqk_17 %>元；<br>
              责令停产停业：<%= beautify_field czb.xzcfqk_18 %>；<br>
              吊销许可证：<%= beautify_field czb.xzcfqk_19 %>； 吊销：<%= beautify_field czb.xzcfqk_20 %>。

              <% if czb.part_submit_flag4 %>
                  <span class="label label-success submit">已提交</span>
              <% end %>
          <% end %>
          <% if !czb.xz_attachment_file.blank? %>
              <br/><a href="/wtyp_xz_attachment/<%= czb.id %>"><b>行政处罚通知书附件</b></a>
          <% end %>
        </td>
        <td colspan="4">
          <% if czb.current_state == ::WtypCzb::State::FILLED && czb.enable_operation?(current_user) %>
              行政处罚依据法律是否适当：<%= select_tag "parts[][xzcf_yjsfsd]", options_for_select(@czdealfix2_options, czb.xzcf_yjsfsd), {:class => "form-control input-sm shenhe"} %>
              <br>
              行政处罚措施是否适当：<%= select_tag "parts[][xzcf_cssfsd]", options_for_select(@czdealfix2_options, czb.xzcf_cssfsd), {:class => "form-control input-sm shenhe"} %>
          <% else %>
              行政处罚依据法律是否适当：<%= beautify_field czb.xzcf_yjsfsd %><br>
              行政处罚措施是否适当：<%= beautify_field czb.xzcf_cssfsd %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="23" class="form-inline" style="line-height: 40px; position: relative;">
          <% if is_fill_enabled?(czb) and !czb.part_submit_flag5 %>
              未行政立案原因：<input type="text" name="parts[][xzcf_wlayy]" value="<%= czb.xzcf_wlayy %>" class="form-control input-sm" style="width: 500px;">。<br>
              未处罚原因：<input type="text" name="parts[][xzcf_wcfyy]" value="<%= czb.xzcf_wcfyy %>" class="form-control input-sm" style="width: 500px;">。
              <% if czb.current_state == ::WtypCzb::State::ASSIGNED %>
                  <div class="submit">
                    <button type="submit" data-part="5" name="submitwxzcf" class="btn btn-xs btn-success">提交</button>
                  </div>
              <% end %>
          <% else %>
              未行政立案原因：<%= beautify_field czb.xzcf_wlayy %>。<br>
              未处罚原因：<%= beautify_field czb.xzcf_wcfyy %>。

              <% if czb.part_submit_flag5 %>
                  <span class="label label-success submit">已提交</span>
              <% end %>
          <% end %>

        </td>
        <td colspan="4">
          不予行政立案是否合理：
          <% if czb.current_state == ::WtypCzb::State::FILLED && czb.enable_operation?(current_user) %>
              <%= select_tag "parts[][xzcf_blasfhl]", options_for_select(@czdealfix2_options, czb.xzcf_blasfhl), {:class => "form-control input-sm shenhe"} %>
          <% else %>
              <%= beautify_field czb.xzcf_blasfhl %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="3" style="vertical-align: middle;">
          <div style="width:30px; margin-left:auto; margin-right:auto;">整改复查</div>
        </th>
        <td colspan="23" class="form-inline" style="line-height: 40px; position: relative;">
          <% if is_fill_enabled?(czb) and !czb.part_submit_flag6 %>
              1.
              责令整改：<%= select_tag "parts[][pczgfc_3]", options_for_select(@czdealfix2_options, czb.pczgfc_3), {:class => "form-control input-sm"} %>
              ；  <br>
              2.
              企业是否提交整改报告：<%= select_tag "parts[][zgfc_sftjbg]", options_for_select(@czdealfix2_options, czb.zgfc_sftjbg), {:class => "form-control input-sm"} %>
              ；
              整改时间：<input type="text" name="parts[][pczgfc_4]" class="datepicker form-control input-sm" value="<%= czb.pczgfc_4 %>" style="width: 100px">（开始）
              至<input type="text" name="parts[][pczgfc_5]" class="datepicker form-control input-sm" style="width: 100px" value="<%= czb.pczgfc_5 %>">（结束）<br>
              整改措施：<input type="text" name="parts[][pczgfc_6]" class="form-control input-sm" style="width: 500px;" value="<%= czb.pczgfc_6 %>">。<br>
              3.
              监管部门<%= select_tag "parts[][zgfc_jgbmyj]", options_for_select(@fcysrq_options, czb.zgfc_jgbmyj), {:class => "form-control input-sm"} %>
              组织复查验收日期：<input type="text" name="parts[][zgfc_fcrq]" class="datepicker form-control input-sm" style="width: 100px" value="<%= czb.zgfc_fcrq %>">。
              <% if czb.current_state == ::WtypCzb::State::ASSIGNED %>
                  <div class="submit">
                    <button type="submit" data-part="6" name="submitzgfc" class="btn btn-xs btn-success">提交</button>
                  </div>
              <% end %>
          <% else %>
              1. 责令整改：<%= beautify_field czb.pczgfc_3 %>；<br>
              2. 企业是否提交整改报告：<%= beautify_field czb.zgfc_sftjbg %>；
              整改时间：<%= beautify_field czb.pczgfc_4 %>（开始）
              至<%= beautify_field czb.pczgfc_5 %>（结束）<br>
              整改措施：<%= beautify_field czb.pczgfc_6 %>。<br>
              3. 监管部门<%= beautify_field czb.zgfc_jgbmyj %>
              组织复查验收日期：<%= beautify_field czb.zgfc_fcrq %>。
              <% if czb.part_submit_flag6 %>
                  <span class="label label-success submit">已提交</span>
              <% end %>
          <% end %>
        </td>
        <td colspan="4">整改措施是否充分合理：
          <% if czb.current_state == ::WtypCzb::State::FILLED && czb.enable_operation?(current_user) %>
              <%= select_tag "parts[][zgfc_zgsfhl]", options_for_select(@czdealfix2_options, czb.zgfc_zgsfhl), {:class => "form-control input-sm shenhe"} %>
          <% else %>
              <%= beautify_field czb.zgfc_zgsfhl %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="3" style="vertical-align: middle;">
          <div style="width:30px; margin-left:auto; margin-right:auto;">通报移送</div>
        </th>
        <td colspan="23" class="form-inline" style="line-height: 40px; position: relative;">
          <% if is_fill_enabled?(czb) and !czb.part_submit_flag7 %>
              1.
              涉及其他部门职责的，通报其他行政部门：<%= select_tag "parts[][tbys_tbqtbm]", options_for_select(@czdealfix2_options, czb.tbys_tbqtbm), {:class => "form-control input-sm"} %>
              ；
              行政部门名称：<input type="text" name="parts[][tbys_xzbmmc]" class="form-control input-sm" value="<%= czb.tbys_xzbmmc %>">。<br>
              2.
              是否向司法机关移送：<%= select_tag "parts[][tbys_sfsfys]", options_for_select(@czdealfix2_options, czb.tbys_sfsfys), {:class => "form-control input-sm"} %>
              ；
              司法机关名称：<input type="text" name="parts[][tbys_sfjgmc]" class="form-control input-sm" value="<%= czb.tbys_sfjgmc %>">；<br>
              司法机关是否接收立案：<%= select_tag "parts[][tbys_sfla]", options_for_select(@czdealfix2_options, czb.tbys_sfla), {:class => "form-control input-sm"} %>
              。
              <% if czb.current_state == ::WtypCzb::State::ASSIGNED %>
                  <div class="submit">
                    <button type="submit" data-part="7" name="submittbys" class="btn btn-xs btn-success">提交</button>
                  </div>
              <% end %>
          <% else %>
              1. 涉及其他部门职责的，通报其他行政部门：<%= beautify_field czb.tbys_tbqtbm %>；
              行政部门名称：<%= beautify_field czb.tbys_xzbmmc %>。<br>
              2. 是否向司法机关移送：<%= beautify_field czb.tbys_sfsfys %>；
              司法机关名称：<%= beautify_field czb.tbys_sfjgmc %>；<br>
              司法机关是否接收立案：<%= beautify_field czb.tbys_sfla %>。
              <% if czb.part_submit_flag7 %>
                  <span class="label label-success submit">已提交</span>
              <% end %>
          <% end %>
        </td>
        <td colspan="4">应通报或移送的，是否通报或移送：
          <% if czb.current_state == ::WtypCzb::State::FILLED && czb.enable_operation?(current_user) %>
              <%= select_tag "parts[][tbys_sftbys]", options_for_select(@czdealfix2_options, czb.tbys_sftbys), {:class => "form-control input-sm shenhe"} %>
          <% else %>
              <%= beautify_field czb.tbys_sftbys %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="3">
          <div style="width:60px; margin-left:auto; margin-right:auto; vertical-align: middle;">其他核查处置措施</div>
        </th>
        <td colspan="27">
          <% if is_fill_enabled?(czb) %>
              <textarea name="parts[][pczgfc_10]" cols="80" rows="3" class="form-control"><%= czb.pczgfc_10 %></textarea>
          <% else %>
              <%= beautify_field czb.pczgfc_10 %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="3" style="vertical-align: middle; text-align: center;">备注</th>
        <td colspan="27">
          <% if is_fill_enabled?(czb) %>
              <textarea name="parts[][wtyp_remark]" cols="80" rows="3" class="form-control"><%= czb.wtyp_remark %></textarea>
          <% else %>
              <%= beautify_field czb.wtyp_remark %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="3">填报单位、部门</th>
        <td colspan="3"><%= beautify_field czb.blbm %></td>
        <th colspan="3">填报时间</th>
        <td colspan="3"><%= (czb.blsj + 8.hours).strftime("%Y-%m-%d") if !czb.blsj.blank? %></td>
        <th colspan="3">填报人</th>
        <td colspan="3"><%= beautify_field czb.blr %></td>
        <th colspan="3">电话</th>
          <td colspan="3"><%= beautify_field czb.tbr_dh %></td>
          <th colspan="3">传真</th>
          <td colspan="3"><%= beautify_field czb.tbr_cz %></td>
      </tr>
      <tr>
        <th colspan="3">审核单位、部门</th>
        <td colspan="3"><%= beautify_field czb.shbm %></td>
        <th colspan="3">审核时间</th>
        <td colspan="3"><%= (czb.shsj + 8.hours).strftime("%Y-%m-%d") if !czb.shsj.blank? %></td>
        <th colspan="3">审核人</th>
        <td colspan="3"><%= beautify_field czb.shr %></td>
        <th colspan="3">电话</th>
          <td colspan="3"><%= beautify_field czb.shr_dh %></td>
        <th colspan="3">传真</th>
          <td colspan="3"><%= beautify_field czb.shr_cz %></td>
      </tr>
    </table>
  </div>
  <div class="panel-footer">
    <% if czb.enable_operation?(current_user) || czb.current_state == ::WtypCzb::State::LOGGED %>
        <input type="hidden" name="parts[][save_me]" class="save-me">
    <% end %>

    <% if czb.enable_operation?(current_user) %>
        <input type="hidden" name="parts[][tmp_save]" class="tmp-save-tag">
        <input type="hidden" name="parts[][part_submit]" class="part-submit">
        <button class="btn btn-success btn-sm save" type="submit">提交信息入库</button>
        <button class="btn btn-default btn-sm tmp-save" type="submit">临时保存</button>
    <% end %>
    <% if czb.current_state != ::WtypCzb::State::LOGGED %>
		<span class="label label-warning">
			当前状态：<% if czb.current_state == 0 %>待领取<% end %><% if czb.current_state == 1 %>办理中<% end %><% if czb.current_state == 2 %>待审核<% end %><% if czb.current_state == 3 %>审核完毕<% end %>
      <% unless is_fill_enabled?(czb) %>
			 / 填报负责人：<%= czb.czfzr_desc %>
			<% end %>
		</span>
    <% else %>
        <% if czb.type_prov_enabled?(current_user) and current_user.hcz_czbl == 1 and czb.current_state == ::WtypCzb::State::LOGGED %>
            <button class="btn btn-success assign-task btn-sm" type="submit">领取</button>
        <% end %>
        <span class="text-danger">[暂无认领]</span>
    <% end %>
    <% if current_user.hcz_admin == 1 and czb.current_state != WtypCzb::State::PASSED %>
        <% if czb.wtyp_dbtype.to_i == 0 %>
            &emsp;<button class="btn btn-danger btn-sm part-duban" data-id="<%= czb.id %>">督办</button>
        <% elsif czb.wtyp_dbtype.to_i == 1 %>
            &emsp;<button class="btn btn-danger btn-sm part-duban" data-id="<%= czb.id %>">重点督办</button>
        <% end %>
    <% end %>
    <%= czb.duban_desc %>
  </div>
</div>
