<p id="notice"><%= notice %></p>

<p>
  <b>Wtyp jg:</b>
  <%= @wtyp_czb.wtyp_jg %>
</p>

<p>
  <b>Wtyp contacts:</b>
  <%= @wtyp_czb.wtyp_contacts %>
</p>

<p>
  <b>Wtyp tel:</b>
  <%= @wtyp_czb.wtyp_tel %>
</p>

<p>
  <b>Wtyp fax:</b>
  <%= @wtyp_czb.wtyp_fax %>
</p>

<p>
  <b>Wtyp email:</b>
  <%= @wtyp_czb.wtyp_email %>
</p>

<p>
  <b>Wtyp verify:</b>
  <%= @wtyp_czb.wtyp_verify %>
</p>

<p>
  <b>Wtyp state:</b>
  <%= @wtyp_czb.wtyp_state %>
</p>

<p>
  <b>Wtyp date:</b>
  <%= @wtyp_czb.wtyp_date %>
</p>

<p>
  <b>Wtyp deal way:</b>
  <%= @wtyp_czb.wtyp_deal_way %>
</p>

<p>
  <b>Wtyp deal detail:</b>
  <%= @wtyp_czb.wtyp_deal_detail %>
</p>

<p>
  <b>Wtyp deal jg:</b>
  <%= @wtyp_czb.wtyp_deal_jg %>
</p>

<p>
  <b>Wtyp remark:</b>
  <%= @wtyp_czb.wtyp_remark %>
</p>


<%= link_to 'Edit', edit_wtyp_czb_path(@wtyp_czb) %> |
<%= link_to 'Back', wtyp_czbs_path %>
