<p id="notice"><%= notice %></p>

<p>
  <b>Dwname:</b>
  <%= @hzp_ypb.dwname %>
</p>

<p>
  <b>Ypname:</b>
  <%= @hzp_ypb.ypname %>
</p>

<p>
  <b>Ypno:</b>
  <%= @hzp_ypb.ypno %>
</p>

<p>
  <b>Ypflei:</b>
  <%= @hzp_ypb.ypflei %>
</p>

<p>
  <b>Ypleib:</b>
  <%= @hzp_ypb.ypleib %>
</p>

<p>
  <b>Ypleibzdy:</b>
  <%= @hzp_ypb.ypleibzdy %>
</p>


<%= link_to 'Edit', edit_hzp_ypb_path(@hzp_ypb) %> |
<%= link_to 'Back', hzp_ypbs_path %>
