<script type="text/javascript">
  $(function () {
    $("#region").CfdaProvince({
      level1: "<%= @baosong_a.sheng %>",
      level2: "<%= @baosong_a.shi %>",
      level3: "<%= @baosong_a.xian %>"
    });
  });
</script>
<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(@baosong_a) do |f| %>
        <div class="field">
          <label>报送分类A：</label>
          <br>
          <%= f.text_field :name, :class => "form-control input-sm" %>
        </div>
        <br>
        <div class="field">
          <label>备注：</label>
          <br>
          <%= f.text_field :note, :class => "form-control input-sm" %>
          <%#= f.hidden_field  :note, :class => "form-control input-sm", :value => nil %>
        </div>
        <br>
        <div class="field">
          <label>任务来源类型：</label><b style="font-size:10px; color:#999">如省局/市局/县</b>
          <br>
          <%= f.select :rwlylx, options_for_select(%w{省局 市/区局 县}, @baosong_a.rwlylx), {}, class: 'form-control input-sm'%>
        </div>
        <br>
        <div class="field">
          <label>市/区</label>
          <br>
       <!--   <%#= f.select :prov, options_for_select(SysProvince.level1.map { |p| [p.name, p.name] }.unshift(['不限制', nil]), @baosong_a.prov), {}, :class => 'form-control input-sm' %>-->
          <div colspan="15" style="border-right:none;" class="region" id="region">
            <%= f.select :sheng, {}, class: 'form-control input-sm'%>
            <%= f.select :shi, {}, class: 'form-control input-sm' %>
            <%= f.select :xian, {}, class: 'form-control input-sm' %>
          </div>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "保存", :class => "btn-sm btn-primary btn" %>
        </div>
    <% end %>
  </div>
</div>
