<p id="notice"><%= notice %></p>
<table class="table table-bordered">
	<tr>
		<th>姓名</th>
		<td><%= @sample_member.username %></td>
	</tr>
	<tr>
		<th width="100">机构</th>
		<td><%= @sample_member.jg_name %></td>
	</tr>
	<tr>
		<th>身份证号</th>
		<td><%= @sample_member.uid %></td>
	</tr>
	<tr>
		<th>专业</th>
		<td><%= @sample_member.major %></td>
	</tr>
	<tr>
		<th>学历</th>
		<td><%= @sample_member.edu_bg %></td>
	</tr>
	<tr>
		<th>职称</th>
		<td><%= @sample_member.title %></td>
	</tr>
	<tr>
		<th>电话</th>
		<td><%= @sample_member.mobile %></td>
	</tr>
	<tr>
		<th>工作经历</th>
		<td><%= @sample_member.work_history %></td>
	</tr>
	<tr>
		<th>备注</th>
		<td><%= @sample_member.note %></td>
	</tr>
	<tr>
		<th>照片</th>
		<td><img src="/sample_members/<%= @sample_member.id %>/portrait" class="img img-rounded"></td>
	</tr>
</table>
<% if current_user.is_admin? %>
<%= link_to '编辑', edit_sample_member_path(@sample_member) %> |
<%= link_to '返回', sample_members_path %>
<% end %>
