<%= form_for(@b_category) do |f| %>
  <% if @b_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@b_category.errors.count, "error") %> prohibited this b_category from being saved:</h2>

      <ul>
      <% @b_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :a_category_id %><br />
    <%= f.number_field :a_category_id %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
