<%= form_for(@sys_province) do |f| %>
  <% if @sys_province.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sys_province.errors.count, "error") %> prohibited this sys_province from being saved:</h2>

      <ul>
      <% @sys_province.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "保存", :class => "btn btn-sm btn-success"%>
  </div>
<% end %>
