<style type="text/css">
  ul.data-tabs li{
    display: inline-block;
  }

  ul.data-tabs {
    border-bottom: 1px solid #999;
    padding-left: 15px;
    position: relative;
  }

  ul.data-tabs a {
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid #999;
    padding: 5px 10px;
    position: relative;
    bottom: -1px;
  }
  ul.data-tabs a.active {
    border-bottom: 1px solid #FFFFFF;
  }

  .tab-content {
    padding: 20px 10px;
  }

  .yycz-list tbody tr{
    cursor: pointer;
  }
</style>
<script type="text/javascript">
$(function(){
  $('#select-all').click(function(){
    var o = $(this);
    if (o.is(':checked')) {
      $('.yycz-list tbody input[type="checkbox"]').attr('checked', 'checked');
    } else {
      $('.yycz-list tbody input[type="checkbox"]').removeAttr('checked');
    }
  });

  // 退回
  $("#revert").click(function(){
    var thyy = $('#thyy').val();

    var yycz_ids = [];
    $.each($('.yycz-list tbody .checkbox:checked'), function(){
      yycz_ids.push($(this).attr('data-id'));
    });

    if(thyy == '') {
      alert('请填写退回原因');
    } else {
      $.post("/yycz_revert.json", {ids: yycz_ids.join(','), thyy: thyy}, function(data){
        if(data.status == 'OK') {
          alert("退回成功!");
          location.reload();
        } else {
          alert("退回失败！ERR: " + data.msg);
        }
      }, 'json');
    }
  });

  $('.yycz-list tbody tr').click(function(){
    var o = $(this);
    $('#preview').attr("src", "/yycz/" + o.attr('data-id') + "?preview=true");
  });
  $('.yycz-list tbody tr:first').trigger("click");

  $("#preview").load(function() {
    $(this).height( $(this).contents().find("body").height() );
  });
});
</script>
<form action="" method="get">
<h2><center>异议处置填报</center></h2>
  <table class="table table-bordered table-condensed table-sm">
    <tr>
      <td colspan="4">填报起始日期</td>
      <td colspan="6"><input type="text" class="form-control input-sm datepicker" name="begin_at" value=<%=@begin_at%>></input></td>
      <td colspan="4">至填报结束日期</td>
      <td colspan="6"><input type="text" class="form-control input-sm datepicker" name="end_at" value=<%=@end_at%>></input></td>
      <td colspan="4">样品名称</td>
      <td colspan="6"><input class="form-control input-sm" type="text" value="<%= params[:ypmc]%>" name="ypmc"></input></td>
    </tr>
    <tr>
      <td colspan="4">被抽样单位名称</td>
      <td colspan="6"><input class="form-control input-sm" type="text" value="<%= params[:bcydwmc]%>" name="bcydwmc"></td>
      <td colspan="4">被抽样单位市/区</td>
      <td colspan="6">
        <select name="bcydw_sheng" class="form-control input-sm">
          <option value="">请选择</option>
          <% SysProvince.level1.each do |prov| %>
          <option value="<%= prov.name %>"><%= prov.name %></option>
          <% end %>
        </select>
      </td>
      <td colspan="4">任务来源</td>
      <td colspan="6">
        <%= select_tag :rwly, options_for_select([["请选择", ""], ["局本级", 1], ["中央转移地方", 2]], params[:rwly].to_i), :class => "form-control" %>
      </td>
    </tr>
    <tr>
      <td colspan="4">标识生产企业名称</td>
      <td colspan="6"><input class="form-control input-sm" type="text" value="<%= params[:bsscqymc]%>" name="bsscqymc"></td>
      <td colspan="4">标识生产企业市/区</td>
      <td colspan="6">
        <select name="bsscqy_sheng" class="form-control input-sm">
          <option value="">请选择</option>
          <% SysProvince.level1.each do |prov| %>
          <option value="<%= prov.name %>"><%= prov.name %></option>
          <% end %>
        </select>
      </td>
      <td colspan="4">采样编号</td>
      <td colspan="6"><input class="form-control input-sm" type="text" value="<%= params[:cjbh]%>" name="cjbh"></input></td>
    </tr>
  </table>
  <input type="hidden" value="<%= params[:current_tab] %>" name="current_tab">
  <button type="submit" class="btn btn-primary btn-sm">搜索</button>
</form>
<br>
<br>
<!--<iframe id="preview" src="" height="0" width="100%" frameborder="0"></iframe>-->
<ul class="data-tabs">
  <li><a href="?<%= generate_tab_params(0)%>" class="<%= "active" if params[:current_tab].to_i == 0%>">未填报</a></li>
  <li><a href="?<%= generate_tab_params(1)%>" class="<%= "active" if params[:current_tab].to_i == 1%>">已填报</a></li>
</ul>
<div class="tab-content">
  <% if params[:current_tab].to_i == 0 %>
    <% if @yyczs.blank? %>
      <p>暂无数据</p>
    <% else %>
			<% if current_user.yyadmin != 1 %>
			<div class="well well-sm">
				<div class="input-group">
					<input type="text" class="form-control" name="thyy" width="300px;" id="thyy" placeholder="请填写退回原因">
					<span class="input-group-btn">
						<button class="btn btn-danger" id="revert" type="button">退回</button>
					</span>
				</div>
			</div>
			<% end %>
      <div class="list-ctner">
        <table style="table-layout: fixed;width: 2000px;" class="yycz-list table table-bordered">
          <thead>
            <tr>
              <th width="30" align="center">
                <input type="checkbox" id="select-all">
              </th>
              <th width="110">抽检编号</th>
              <th>样品名称</th>
              <th>生产日期</th>
              <th>标示生产企业名称</th>
              <th>生产企业省份</th>
              <th>被抽样单位名称</th>
              <th>被抽样单位所在省份</th>
              <th>不合格项目</th>
              <th>检验结果</th>
              <th>检验机构名称</th>
              <th>异议处置情况</th>
              <th>异议处置结论</th>
              <th width="100">异议分类</th>
              <th>抽检结论</th>
              <th width="120">异议处置部门</th>
              <th width="120">异议处置负责人</th>
            </tr>
          </thead>
          <tbody>
          <% @yyczs.each_with_index do |yycz, index|%>
            <tr data-id="<%= yycz.id %>">
              <td align="center">
                <input class="checkbox" type="checkbox" data-id="<%= yycz.id %>" <%= 'checked' if index == 0%>>
              </td>
              <td><a href="/yycz/<%= yycz.id%>.html"><%= yycz.cjbh%></a></td>
              <td><%= yycz.ypmc%></td>
              <td><%= (yycz.scrq + 8.hours).strftime("%Y-%m-%d") if !yycz.scrq.blank?%></td>
              <td><%= yycz.bsscqy %></td>
              <td><%= yycz.bsscqysf %></td>
              <td><%= yycz.bcydw %></td>
              <td><%= yycz.bcydwsf %></td>
              <td>-</td>
              <td><%= yycz.jyjl %></td>
              <td><%= yycz.yyczbm%></td>
              <td><%= yycz.yyczqk %></td>
              <td><%= yycz.yyczjg %></td>
              <td><%= yycz.yyfl%></td>
              <td><%= yycz.jyjl %></td>
              <td><%= yycz.yyczbm%></td>
              <td><%= yycz.yyczfzr_desc %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% else %>
  <br>
  <div class="list-ctner">
    <table style="table-layout: fixed;width: 2000px;" class="yycz-list table table-bordered">
      <thead>
        <tr>
          <th width="30" align="center">
            <input type="checkbox" id="select-all">
          </th>
          <th width="110">抽检编号</th>
          <th>样品名称</th>
          <th>生产日期</th>
          <th>标示生产企业名称</th>
          <th>生产企业省份</th>
          <th>被抽样单位名称</th>
          <th>被抽样单位所在省份</th>
          <th>不合格项目</th>
          <th>检验结果</th>
          <th>检验机构名称</th>
          <th>异议处置情况</th>
          <th>异议处置结论</th>
          <th width="100">异议分类</th>
          <th>抽检结论</th>
          <th width="120">异议处置部门</th>
          <th width="120">异议处置负责人</th>
        </tr>
      </thead>
      <tbody>
      <% @yyczs.each_with_index do |yycz, index|%>   
        <tr data-id="<%= yycz.id %>">
          <td align="center">
            <input class="checkbox" type="checkbox" data-id="<%= yycz.id %>" <%= 'checked' if index == 0%>>
          </td>
          <td>
            <a href="/yycz/<%= yycz.id%>.html"><%= yycz.cjbh%></a>

            <% if Time.now - yycz.created_at > 20.days %>
            <a href="javascript:void(0);" class="label label-danger" data-toggle="tooltip" data-placement="top" title="处理时间超过20填，登记时间：<%= (yycz.created_at + 8.hours).strftime("%Y-%m-%d %H:%M:%S")%>">异议处理超时</a>
            <% end %>
          </td>
          <td><%= yycz.ypmc%></td>
          <td><%= (yycz.scrq + 8.hours).strftime("%Y-%m-%d") if !yycz.scrq.blank?%></td>
          <td><%= yycz.bsscqy %></td>
          <td><%= yycz.bsscqysf %></td>
          <td><%= yycz.bcydw %></td>
          <td><%= yycz.bcydwsf %></td>
          <td>-</td>
          <td><%= yycz.jyjl %></td>
          <td><%= yycz.yyczbm%></td>
          <td><%= yycz.yyczqk %></td>
          <td><%= yycz.yyczjg %></td>
          <td><%= yycz.yyfl%></td>
          <td><%= yycz.jyjl %></td>
          <td><%= yycz.yyczbm%></td>
          <td><%= yycz.yyczfzr_desc %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <% end %>
</div>
