<%= wicked_pdf_stylesheet_link_tag 'print' %>
<div class="book">
  <div class="page">
    <div class="subpage cover">
      <table align="center" width="80%" border="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr align="center">
          <td colspan="6">
            <p style="font-size:42px; font-family: '宋体';"><strong>检&nbsp;验&nbsp;报&nbsp;告</strong></p>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center" colspan="2">№：<%= @spbsb.sp_s_45 %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="right" width="40%" height="60">食&ensp;品&ensp;名&ensp;称：</td>
          <td align="left" height="60"><%= @spbsb.sp_s_14 %></td>
        </tr>
        <tr>
          <td align="right" width="40%" height="60">被&ensp;抽&ensp;样&ensp;单&ensp;位：</td>
          <td align="left" height="60"><%= @spbsb.sp_s_1 %></td>
        </tr>
        <tr>
          <td align="right" width="40%" height="60">标&ensp;称&ensp;生&ensp;产&ensp;者：</td>
          <td align="left" height="60"><%= @spbsb.sp_s_64 %></td>
        </tr>
        <tr>
          <td align="right" width="40%" height="60">委&ensp;托&ensp;单&ensp;位：</td>
          <td align="left" height="60"><%= @spbsb.sp_s_2_1 %></td>
        </tr>
        <tr>
          <td align="right" width="40%" height="60">检&ensp;验&ensp;类&ensp;别：</td>
          <td align="left" height="60"><%= @spbsb.sp_s_44 %></td>
        </tr>
      </table>
      <br/>
      <br/>
      <br/>
      <br/>

      <p class="page-footer" align="center"><%= @spbsb.sp_s_43 %></p>
    </div>
  </div>
  <div class="page">
    <div class="subpage">
      <table align="center" width="100%" border="0">
        <tr align="center">
          <td colspan="6">
            <p style="font-size:30px; font-family: '宋体';"><strong>注&nbsp;意&nbsp;事&nbsp;项</strong></p>
          </td>
        </tr>
        <tr align="left" style="font-size:20px">
          <td colspan="6">
            <p style="line-height:15px;text-indent: 1cm;line-height:0.8cm;">1．报告无“检验报告专用章”或检验单位公章无效。</p>

            <p style="line-height:15px;text-indent: 1cm;line-height:0.8cm;">2．报告无检验、审核、批准人签字无效。</p>

            <p style="line-height:15px;text-indent: 1cm;line-height:0.8cm;">3．报告涂改无效。</p>
          </td>
        </tr>
        <tr>
          <td colspan="6">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="6">&nbsp;</td>
        </tr>
        <tr>
          <th width="100" align="right">地&nbsp;址：</th>
          <td colspan="2"><%= @jg_bsb.jg_address %></td>
          <th width="100" align="right">电话(含区号)：</th>
          <td colspan="2"><%= @spbsb.sp_s_41 %></td>
        </tr>
        <tr>
          <th align="right">邮&nbsp;编：</th>
          <td colspan="2"><%= @spbsb.sp_s_212 %></td>
          <th align="right">传真(含区号)：</th>
          <td colspan="2"><%= @spbsb.sp_s_213 %></td>
        </tr>
        <tr>
          <th align="right">E-mail:</th>
          <td colspan="5"><%= @spbsb.sp_s_42 %></td>
        </tr>
      </table>
      <p class="page-note">&nbsp;</p>
    </div>
  </div>
  <div class="page">
    <div class="subpage cover">
      <p align="center" style="font-size:18pt"><%= @spbsb.sp_s_43 %></p>

      <p align="center" style="font-size:24pt">食品安全监督抽检检验报告</p>
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td align="left"><p style="font-size:14pt">№：<%= @spbsb.sp_s_45 %></p>
          </td>
          <td><p style="font-size:14pt" align="right">共<%= ((@cjx.count - 16).to_f / 16).ceil + 2 %>页&emsp;第1页</p>
          </td>
        </tr>
      </table>
      <table class="table-bordered" border="1" cellspacing="0" cellpadding="0">
        <tr height="30">
          <th colspan="2">食品名称</th>
          <td align="left" colspan="2"><%= @spbsb.sp_s_14 %></td>
          <th>商标</th>
          <td><%= @spbsb.sp_s_74 %></td>
          <th>规格型号</th>
          <td align="left"><%= @spbsb.sp_s_26 %></td>
        </tr>
        <tr height="30">
          <th colspan="2">生产日期</th>
          <td align="left" colspan="4">
            <% if @spbsb.sp_d_28.blank? %>
                /
            <% else %>
                <%= @spbsb.sp_d_28 %>
            <% end %>
          </td>
          <th>质量等级</th>
          <td align="left"><%= @spbsb.sp_s_73 %></td>
        </tr>
        <tr height="30">
          <th colspan="2">被抽样单位名称</th>
          <td align="left" colspan="4"><%= @spbsb.sp_s_1 %></td>
          <th>联系电话</th>
          <td align="left"><%= @spbsb.sp_s_12 %></td>
        </tr>
        <tr height="30">
          <th colspan="2">标称生产者名称</th>
          <td align="left" colspan="4"><%= @spbsb.sp_s_64 %></td>
          <th>联系电话</th>
          <td align="left"><%= @spbsb.sp_s_76 %></td>
        </tr>
        <tr height="30">
          <th colspan="2">任务来源</th>
          <td align="left" colspan="4"><%= @spbsb.sp_s_2_1 %></td>
          <th>抽样人员</th>
          <td align="left"><%= @spbsb.sp_s_37 %></td>
        </tr>
        <tr height="30">
          <th colspan="2">抽样日期</th>
          <td align="left" colspan="2"><%= @spbsb.sp_d_38 %></td>
          <th colspan="2">样品到达日期</th>
          <td align="left" colspan="2"><%= @spbsb.sp_d_46 %></td>
        </tr>
        <tr height="30">
          <th colspan="2">样品数量</th>
          <td align="left" colspan="2"><%= @spbsb.sp_s_207 %></td>
          <th colspan="2">抽样基数</th>
          <td align="left" colspan="2"><%= @spbsb.sp_s_206 %></td>
        </tr>
        <tr height="30">
          <th colspan="2">抽样单编号</th>
          <td align="left" colspan="2"><%= @spbsb.sp_s_16 %></td>
          <th colspan="2">检查封样人员</th>
          <td align="left" colspan="2"><%= @jcfy %></td>
        </tr>
        <tr>
          <th height="45" colspan="2">抽样地点</th>
          <td align="left" colspan="2"><%= @spbsb.sp_s_68 %><%= @spbsb.sp_s_2 %></td>
          <th colspan="2">封样状态</th>
          <td align="left" colspan="2">完好</td>
        </tr>
        <tr>
          <th height="45" colspan="2">检验项目</th>
          <td align="left" colspan="6"><%= @jyxm_str %></td>
        </tr>
        <tr>
          <th height="80" colspan="2">检验依据</th>
          <td align="left" colspan="6" style="<%= auto_adjust_text_size(@jyjy_struni, 100) %>"><%= @jyjy_struni %></td>
        </tr>
        <tr>
          <th height="150" colspan="2">检验结论</th>
          <td colspan="6">
            <p align="left">
              <% if @wtx.blank? %>
                  <%= @jyyj_hgx_str4 %>
              <% else %>
                  经抽样检验，
                  <% @wtx.each_with_index do |wtx, index| %>
                      <%= wtx.spdata_0 %>项目不符合<%= wtx.spdata_4 %>要求，
                  <% end %>
                  检验结论为不合格。
              <% end %>
            </p>

            <p align="center">&nbsp;</p>

            <p style="text-indent: 8cm" ;>（检验报告专用章）</p>

            <p style="text-indent: 6cm" ;> 签发日期：<%= @splog.created_at.strftime("%Y年%-m月%-d日") unless @splog.nil? %></p>
          </td>
        </tr>
        <tr>
          <th height="80" colspan="2">备注</th>
          <td align="left" colspan="6"><%= @spbsb.sp_s_84 %></td>
        </tr>
      </table>
      <p style="text-indent:1cm">批准：<%= @spbsb.user_sign_forpz(9) %>审核：<%= @spbsb.user_sign_for(5) %>
        检验：<%= @spbsb.user_sign_for(4) %></p>
    </div>
  </div>
  <div class="page">
    <div class="subpage cover">
      <p align="center" style="font-size:18pt"><%= @spbsb.sp_s_43 %></p>

      <p align="center" style="font-size:24pt">食品安全监督抽检检验报告</p>
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td align="left"><p style="font-size:14pt">№：<%= @spbsb.sp_s_45 %></p></td>
          <td><p style="font-size:14pt" align="right">共<%= ((@cjx.count - 16).to_f / 16).ceil + 2 %>页&emsp;第2页</p></td>
        </tr>
      </table>
      <table class="table-bordered" border="1" cellspacing="0" cellpadding="0" style="height:22cm">
        <tr>
          <th height="40" width="50">序号</th>
          <th colspan="2" width="240">检验项目</th>
          <th>标准指标</th>
          <th>实测值</th>
          <th width = "80">单项判定</th>
        </tr>
        <% @cjx.limit(16).each_with_index do |product, index| %>
            <tr>
              <td align="center" height="45"><%= index + 1 %></td>
              <td colspan="2" style="<%= auto_adjust_text_size(product.spdata_0, 9) %>"><%= product.spdata_0 %>
                <% if !['-', '/', '_'].include?(product.spdata_18) %>,<%= product.spdata_18 %>
                <% end %></td>
              <td style="<%= auto_adjust_text_size(product.spdata_11+product.spdata_15, 9) %>">
                <% if ['0', '0.0'].include?(product.spdata_11) and ['0', '0.0'].include?(product.spdata_15) %>不得检出
                <% elsif ['-','—', '/', '_', '0', '0.0'].include?(product.spdata_11) %>≤<%= product.spdata_15 %>
                <% elsif ['-','—', '/', '_'].include?(product.spdata_15) %>≥<%= product.spdata_11 %>
                <% else %><%= product.spdata_11 %>～<%= product.spdata_15 %>
                <% end %>
              </td>
              <% if product.spdata_1 == '未检出' %>
                  <td style="<%= auto_adjust_text_size(product.spdata_1+product.spdata_5+product.spdata_6, 5) %>">
                    <%= product.spdata_1 %>(检出限:<%= product.spdata_5 %><%= product.spdata_6 %>)
                  </td>
              <% else %>
                  <td style="<%= auto_adjust_text_size(product.spdata_1, 9) %>">
                    <%= product.spdata_1 %>
                  </td>
              <% end %>
              <td><%= product.spdata_2 %></td>
            </tr>
        <% end %>
        <% if 16 > @cjx.count %>
            <tr>
              <td align="center"></td>
              <td colspan="2" valign="top">以下空白</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
  <% products_print_pager @cjx.offset(16), 16, 17 do |products, start_index, current_page, is_last_page, total_page| %>
      <div class="page">
        <div class="subpage">
          <table style="height:1cm" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td align="left"><p style="font-size:14pt">№：<%= @spbsb.sp_s_45 %></p></td>
              <td><p style="font-size:14pt" align="right">共<%= total_page + 2 %>页&emsp;第<%= current_page +3 %>页</p></td>
            </tr>
          </table>
          <table class="table-bordered" border="1" cellspacing="0" cellpadding="0">
            <tr>
              <th height="45" width="50">序号</th>
              <th colspan="2" width="240">检验项目</th>
              <th>标准指标</th>
              <th>实测值</th>
              <th width="80">单项判定</th>
            </tr>
            <% products.each_with_index do |product, index| %>
                <tr>
                  <td align="center" height="45"><%= index + start_index -1 %></td>
                  <td colspan="2" style="<%= auto_adjust_text_size(product.spdata_0, 9) %>"><%= product.spdata_0 %>
                    <% if !['-', '/', '_'].include?(product.spdata_18) %>,<%= product.spdata_18 %>
                    <% end %></td>
                  <td style="<%= auto_adjust_text_size(product.spdata_11+product.spdata_15, 9) %>">
                    <% if ['0', '0.0'].include?(product.spdata_11) and ['0', '0.0'].include?(product.spdata_15) %>不得检出
                    <% elsif ['-','—', '/', '_', '0', '0.0'].include?(product.spdata_11) %>≤<%= product.spdata_15 %>
                    <% elsif ['-','—', '/', '_'].include?(product.spdata_15) %>≥<%= product.spdata_11 %>
                        <% else %><%= product.spdata_11 %>～
                        <%= product.spdata_15 %>
                    <% end %>
                  </td>
                  <td><%= product.spdata_1 %></td>
                  <td><%= product.spdata_2 %></td>
                </tr>
            <% end %>
            <% if 17 > products.count %>
                <tr>
                  <td align="center"></td>
                  <td colspan="2" valign="top">以下空白</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
  <% end %>
  <% if !@fxx.blank? %>
      <div class="page">
        <div class="subpage cover">
          <p align="center" style="font-size:18pt"><%= @spbsb.sp_s_43 %></p>

          <p align="center" style="font-size:24pt">食品安全风险监测检验报告</p>
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td align="left"><p style="font-size:14pt">№：<%= @spbsb.sp_s_45 %></p>
              </td>
              <td><p style="font-size:14pt" align="right">共<%= ((@fxx.count - 17).to_f / 17).ceil + 2 %>页&emsp;第1页</p>
              </td>
            </tr>
          </table>
          <table class="table-bordered" border="1" cellspacing="0" cellpadding="0" style="height:21cm">
            <tr>
              <th height="40">食品名称</th>
              <td width="150"><%= @spbsb.sp_s_14 %></td>
              <th width="50">商标</th>
              <td width="100"><%= @spbsb.sp_s_74 %></td>
              <th width="90">规格型号</th>
              <td width="150"><%= @spbsb.sp_s_26 %></td>
            </tr>
            <tr>
              <th height="40">生产日期/批号</th>
              <td>
                <% if @spbsb.sp_d_28.blank? %>
                    /
                <% else %>
                    <%= @spbsb.sp_d_28 %>
                <% end %>
              </td>
              <th colspan="2">样品质量等级</th>
              <td colspan="2"><%= @spbsb.sp_s_73 %></td>
            </tr>
            <tr>
              <th height="40">被抽样单位名称</th>
              <td colspan="3"><%= @spbsb.sp_s_1 %></td>
              <th>联系电话</th>
              <td><%= @spbsb.sp_s_12 %></td>
            </tr>
            <tr>
              <th height="40" width="150">标称生产者名称</th>
              <td colspan="3"><%= @spbsb.sp_s_64 %></td>
              <th>联系电话</th>
              <td><%= @spbsb.sp_s_76 %></td>
            </tr>
            <tr>
              <th height="40">任务来源</th>
              <td colspan="5"><%= @spbsb.sp_s_2_1 %></td>
            </tr>
            <tr>
              <th>检验依据</th>
              <td colspan="5" style="vertical-align:top;"><%= @jyjy_str1 %></td>
            </tr>
            <tr>
              <th height="40">抽样日期</th>
              <td><%= @spbsb.sp_d_38 %></td>
              <th colspan="2">样品数量</th>
              <td colspan="2"><%= @spbsb.sp_n_15 %>&nbsp;<%= @spbsb.sp_s_6 %></td>
            </tr>
            <tr>
              <th height="40">抽样单编号</th>
              <td><%= @spbsb.sp_s_16 %></td>
              <th colspan="2">样品到达日期</th>
              <td colspan="2"><%= @spbsb.sp_d_46 %></td>
            </tr>
          </table>
        </div>
      </div>
  <% end %>
  <% products_print_pager @fxx, 17, 1 do |products, start_index, current_page, is_last_page, total_page| %>
      <div class="page">
        <div class="subpage">
          <p style="font-size:14pt; margin: 5px 0; position: absolute; right:25pt; top: -15pt" align="right">共<%= total_page +1 %>
            页&emsp;第<%= current_page + 2 %>页</p>
          <table class="table-bordered" border="1" cellspacing="0" cellpadding="0" style="height:25cm">
            <tr>
              <th height="40" width="50">序号</th>
              <th colspan="2">项目名称</th>
              <th>单位</th>
              <th>参考值*</th>
              <th>检测数据</th>
            </tr>
            <% products.each_with_index do |product, index| %>
                <tr>
                  <td align="center" height="40"><%= index + start_index -1 %></td>
                  <td colspan="2" style="<%= auto_adjust_text_size(product.spdata_0, 9) %>"><%= product.spdata_0 %></td>
                  <td><%= product.spdata_18 %></td>
                  <td>
                    <% if "-,/".include? product.spdata_11 and "-,/".include? product.spdata_15 %>/
                    <% elsif "-,/".include? product.spdata_11 %>≤<%= product.spdata_15 %>
                    <% elsif "-,/".include? product.spdata_15 %>≥<%= product.spdata_11 %>
                        <% else %><%= product.spdata_11 %>~<%= product.spdata_15 %>
                    <% end %>
                  </td>
                  <td><%= product.spdata_1 %></td>
                </tr>
            <% end %>
            <% if is_last_page %>
                <tr>
                  <td height="40" colspan="6">问题项目：
                    <% if @wtx_str.blank? %>
                        /
                    <% else %>
                        <%= @wtx_str %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td height="40">备注</td>
                  <td height="40" colspan="5">*参考值仅用于对风险监测项目检验结果研判是否为问题样品时参考</td>
                </tr>
            <% end %>
          </table>
          <% if is_last_page %>
              <div id="footer">
                <p style="text-indent:1cm">批准：<%= @spbsb.user_sign_forpz(9) %>审核：<%= @spbsb.user_sign_for(5) %>
                  检验：<%= @spbsb.user_sign_for(4) %></p>

                <p style="text-indent:1cm">签发日期:<%= @splog.created_at.strftime("%Y年%-m月%-d日") unless @splog.nil? %></p>

                <p style="text-indent:1cm">注：对未提供参考值的风险监测项目，参考值列填“/”。</p>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>
  <!--/div-->
  <!--<div class="subpage">
      <table align="center" width="90%" border="0">
          <caption>
              <p style="font-size:28px; font-family: '宋体';"><strong>《食品安全监督抽检检验报告》文书说明</strong></p>
          </caption>
          <tr align="left" style="font-size:20px">
              <td style="height: 10cm;">
                  <p style="line-height:1cm;text-indent: 1cm;">1．此文书用于规定国家食品安全监督抽检出具的检验报告中必须具备的内容，各检验机构可在此基础上增加其他内容。监督抽检检验报告内容第二页检验项目的单位可以单独一列；可以增加检验方法一列。</p>
                  <p style="line-height:1cm;text-indent: 1cm;">2．检验报告封面左上角用于检验机构盖有关签章，其中工业加工食品和餐饮加工食品检验报告必须加盖食品检验机构资质认定（CMAF）章，食用农产品可加盖 CMAF 或中国计量认证（CMA）章。</p>
              </td>
          </tr>
          <tr>
              <td>&nbsp;</td>
          </tr>
      </table>
      <p class="page-note">&nbsp;</p>
  </div>-->
</div>
</div>
