<script type="text/javascript">
    /////////////CA\\\\\\\\\\\\\\
    window.SP.SP_BSB_CA_FIELDS = <%= SpBsb::CA_FIELDS.to_json.html_safe %>;
    window.SP.SP_DATA_CA_FIELDS = <%= Spdatum::CA_FIELDS.to_json.html_safe %>;
    ///////////////////
    var spdata = <%=@sp_data.to_json.html_safe%>;
    <% cache 'jg_data' do %>
    var jg_data = <%= @jg_bsbs.select('id, jg_name, jg_contacts, jg_tel, jg_email').to_json.html_safe%>;
    <% end %>
    var spdata_condition = "<%= "#{@sp_bsb["sp_s_17"]}#{@sp_bsb["sp_s_18"]}#{@sp_bsb["sp_s_19"]}#{@sp_bsb["sp_s_20"]}"%>";
    SP.sp_bsb = <%= @sp_bsb.to_json.html_safe %>;
    ///////////////////

    // 生成待签名的原文
    function generateCAsrc() {
        var sp_bsb = {spdata: []};
        $.each(SP.SP_BSB_CA_FIELDS, function () {
            var val = $('#sp_bsb_' + this).val();
            if (!!val) {
                sp_bsb[this] = val;
            }
        });
        $.each($('.fancyTable .analysis-item'), function () {
            var spdatum = {};
            var tr = $(this);
            $.each(SP.SP_DATA_CA_FIELDS, function () {
                spdatum[this] = tr.find('input[name="spdata[][' + this + ']"]').val();
            });
            sp_bsb.spdata.push(spdatum);
        });
        return JSON.stringify(sp_bsb);
    }

    // 判断是否为数据库保存的数据
    function is_previous_data() {
        var current = $('#sp_bsb_sp_s_17').val() + $('#sp_bsb_sp_s_18').val() + $('#sp_bsb_sp_s_19').val() + $('#sp_bsb_sp_s_20').val();
        return current == spdata_condition;
    }

    // 渲染检查项目
    function render_spec_list(items) {
        $('.analysis-item').remove();
        var row = $('.analysis-item-templ').first().clone();
        row.removeClass('analysis-item-templ').addClass('analysis-item').find('input').removeAttr('value').val('');

        $.each(items, function (index, item) {
            var copied = row.clone();
            var o = find_sp_data_by_name(item.name);

            copied.css('display', 'table-row');
            copied.find('span.idx').text(index + 1 + "、");
            copied.find('input:eq(0)').attr({'value': item.name, 'title': item.name}).val(item.name);

            if (!!item.JYYJ)
                $.each(item.JYYJ.split("#"), function (index, data) {
                    copied.find('select:eq(1)').append("<option value='" + data + "'>" + data + "</option>");
                });

            if (!!item.PDYJ)
                $.each(item.PDYJ.split("#"), function (index, data) {
                    copied.find('select:eq(2)').append("<option value='" + data + "'>" + data + "</option>");
                });

            if ((item.PDYJ || "").split("#")[0].length < 4) {
                copied.find('select:eq(0)').append("<option value='未检验'>未检验</option>");
                copied.find('select:eq(0)').append("<option value='不判定项'>不判定项</option>");
                copied.find('select:eq(0)').append("<option value='问题项'>问题项</option>");
            } else {
                copied.find('select:eq(0)').append("<option value='未检验'>未检验</option>");
                copied.find('select:eq(0)').append("<option value='合格项'>合格项</option>");
                copied.find('select:eq(0)').append("<option value='不合格项'>不合格项</option>");
            }

            // 标准方法检出限
            if (!!item.BZFFJCX)
                $.each(item.BZFFJCX.split("#"), function (index, data) {
                    copied.find('select:eq(3)').append("<option value='" + data + "'>" + data + "</option>");
                });

            copied.find('input:eq(3)').attr({
                'value': copied.find('select:eq(3)').val(),
                'title': copied.find('select:eq(3)').val()
            }).val(copied.find('select:eq(3)').val());

            // 标准方法检出限单位
            if (!!item.BZFFJCXDW)
                $.each(item.BZFFJCXDW.split("#"), function (index, data) {
                    copied.find('select:eq(4)').append("<option value='" + data + "'>" + data + "</option>");
                });

            copied.find('input:eq(4)').attr({
                'value': copied.find('select:eq(4)').val(),
                'title': copied.find('select:eq(4)').val()
            }).val(copied.find('select:eq(4)').val());

            if (!!item.BZZXYXX)
                $.each(item.BZZXYXX.split("#"), function (index, data) {
                    copied.find('select:eq(5)').append("<option value='" + data + "'>" + data + "</option>");
                });
            copied.find('input:eq(5)').attr({
                'value': copied.find('select:eq(5)').val(),
                'title': copied.find('select:eq(5)').val()
            }).val(copied.find('select:eq(5)').val());

            if (!!item.BZZXYXXDW)
                $.each(item.BZZXYXXDW.split("#"), function (index, data) {
                    copied.find('select:eq(6)').append("<option value='" + data + "'>" + data + "</option>");
                });
            copied.find('input:eq(6)').attr({
                'value': copied.find('select:eq(6)').val(),
                'title': copied.find('select:eq(6)').val()
            }).val(copied.find('select:eq(6)').val());

            if (!!item.BZZDYXX)
                $.each(item.BZZDYXX.split("#"), function (index, data) {
                    copied.find('select:eq(7)').append("<option value='" + data + "'>" + data + "</option>");
                });
            copied.find('input:eq(7)').attr({
                'value': copied.find('select:eq(7)').val(),
                'title': copied.find('select:eq(7)').val()
            }).val(copied.find('select:eq(7)').val());

            if (!!item.BZZDYXXDW)
                $.each(item.BZZDYXXDW.split("#"), function (index, data) {
                    copied.find('select:eq(8)').append("<option value='" + data + "'>" + data + "</option>");
                });
            copied.find('input:eq(8)').attr({
                'value': copied.find('select:eq(8)').val(),
                'title': copied.find('select:eq(8)').val()
            }).val(copied.find('select:eq(8)').val());
            copied.find('input:eq(2)').attr({
                'value': copied.find('select:eq(4)').val(),
                'title': copied.find('select:eq(4)').val()
            }).val(copied.find('select:eq(4)').val());

            if (o != null && is_previous_data()) {
                copied.find('select:eq(1)').attr({'value': o.spdata_3, 'title': o.spdata_3}).val(o.spdata_3);
                copied.find('select:eq(2)').attr({'value': o.spdata_4, 'title': o.spdata_4}).val(o.spdata_4);
                copied.find('select:eq(3)').attr({'value': o.spdata_5, 'title': o.spdata_5}).val(o.spdata_5);
                copied.find('select:eq(4)').attr({'value': o.spdata_6, 'title': o.spdata_6}).val(o.spdata_6);
                copied.find('select:eq(5)').attr({'value': o.spdata_9, 'title': o.spdata_9}).val(o.spdata_9);
                copied.find('select:eq(6)').attr({'value': o.spdata_10, 'title': o.spdata_10}).val(o.spdata_10);
                copied.find('select:eq(7)').attr({'value': o.spdata_13, 'title': o.spdata_13}).val(o.spdata_13);
                copied.find('select:eq(8)').attr({'value': o.spdata_14, 'title': o.spdata_14}).val(o.spdata_14);
                copied.find('input:eq(1)').attr({'value': o.spdata_1, 'title': o.spdata_1}).val(o.spdata_1);
                copied.find('input:eq(2)').attr({'value': o.spdata_18, 'title': o.spdata_18}).val(o.spdata_18);
                copied.find('input:eq(3)').attr({'value': o.spdata_7, 'title': o.spdata_7}).val(o.spdata_7);
                copied.find('input:eq(4)').attr({'value': o.spdata_8, 'title': o.spdata_8}).val(o.spdata_8);
                copied.find('input:eq(5)').attr({'value': o.spdata_11, 'title': o.spdata_11}).val(o.spdata_11);
                copied.find('input:eq(6)').attr({'value': o.spdata_12, 'title': o.spdata_12}).val(o.spdata_12);
                copied.find('input:eq(7)').attr({'value': o.spdata_15, 'title': o.spdata_15}).val(o.spdata_15);
                copied.find('input:eq(8)').attr({'value': o.spdata_16, 'title': o.spdata_16}).val(o.spdata_16);
                copied.find('select:eq(0)').attr({'value': o.spdata_2, 'title': o.spdata_2}).val(o.spdata_2);
                copied.find('input:eq(9)').attr({'value': o.spdata_17, 'title': o.spdata_17}).val(o.spdata_17);
            }
            if (o == null) {
                copied.find('input[type="hidden"]').remove();
            } else {
                copied.find('input[type="hidden"]').val(o.id);
            }
            copied.insertBefore($('#result'));
        });
        $('#tblGrid').fixedHeaderTable("destroy");
        $('#tblGrid').fixedHeaderTable({altClass: 'odd', fixedColumns: 2});
        //利用检验依椐和判定依椐两项分别计数，相等时为监督抽检，不等时有两种情况，一是判定依椐为零，则为风险监测，另一种情况为抽检监测[由于判定带一null行，所以程序中风险监测以1做判断]
        if ($('#sp_bsb_sp_s_44').val() == '请选择' || $('#sp_bsb_sp_s_44').val() == '') {
            var jyyj_num = $('.jyyj').length;
            var pdyj_num = 0;
            $('.pdyj').each(function () {
                if (($(this).val() != '-') && ($(this).val() != '/')) {
                    pdyj_num = pdyj_num + 1;
                }
            });

            if (!((jyyj_num == 1) && (pdyj_num == 1))) {
                if (jyyj_num == pdyj_num) {
                    $('#sp_bsb_sp_s_44').val('监督抽检');
                } else {
                    if (pdyj_num == 1) {
                        $('#sp_bsb_sp_s_44').val('风险监测');
                    } else {
                        $('#sp_bsb_sp_s_44').val('抽检监测');
                    }
                }
            }
        }

        var baseIndex = 100;
        $("#tblGrid").find("tr").each(function (r) {
            $(this).find("th,td").each(function (c) {
                $(this).find("input").attr("tabindex", r * 100 + c + baseIndex);
            });
        });

        $("#tblGrid .inputText").bind("keydown", function (evt) {
            var tabIndex = parseInt($(this).attr("tabindex"));
            switch (evt.which) {
                case 38: //上  
                    tabIndex -= 100;
                    break;
                case 40: //下  
                    tabIndex += 100;
                    break;
                case 37: //左(會導致輸入時無法使用左右移)  
                    tabIndex--;
                    break;
                case 39: //右(會導致輸入時無法使用左右移)  
                    tabIndex++;
                    break;
                default:
                    return true;
            }
            if (tabIndex > 0) {
                $(".inputText[tabindex=" + tabIndex + "]").focus();
                return false;
            }
            return true;
        });
    }
    $(function () {

        // 查看标准
        $('body').delegate('.check-detail', 'click', function (e) {
            $.get("/checkout_standard.json", {
                name: $(e.target).prev('select').val(),
                flag: $(e.target).attr('data-flag')
            }, function (data) {
                if (data.status == 'OK') {
                    window.open(data.msg.fileUrl);
                } else {
                    alert("无法找到文件");
                }
            });
        });

        /**
         * Submit1:
         * 基本信息提交入库
         * */
        $('#submit1').click(function () {
            //抽检检测总局本级一司/三司抽样编号需以GC1500开头
            if ($('#sp_bsb_sp_s_16').val().length != 12) {
                alert('抽样编号应为12位');
                return false;
            }
            var bsfla = $('#sp_bsb_sp_s_70').val();
            var cybh6 = $('#sp_bsb_sp_s_16').val().substring(0, 6);
            if ((bsfla == '抽检监测（总局本级一司）' || bsfla == '抽检监测（总局本级三司）') && cybh6 != 'GC1500') {
                alert('抽检检测总局本级一司/三司抽样编号需以GC1500开头');
                return false;
            }

            <%@check=[1,2,3,4,5,6,7,8,11,12,14,16,21,24,30,33,35,36,37,39,40,41,42,61,62,63,70]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_s_" +<%=i%>).val()).length == 0) {
                alert("该项为必填项");
                $("#sp_bsb_sp_s_" +<%=i%>).focus();
                return false;
            }
            <%end%>

            <%@check=[38]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_d_" +<%=i%>).val()).length == 0) {
                alert("该日期项为必填项");
                $("#sp_bsb_sp_d_" +<%=i%>).focus();
                return false;
            }
            <%end%>

            <%@check=[15]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_n_" +<%=i%>).val()).length == 0) {
                alert("该数据项为必填项");
                $("#sp_bsb_sp_n_" +<%=i%>).focus();
                return false;
            }
            <%end%>

            <%@check=[68,17,18,19,20,62,202]%>
            <%@check.each do |i|%>
            var o = $.trim($("#sp_bsb_sp_s_" +<%=i%>).val());
            if (o == '请选择' || o == '') {
                alert("该项为必选项");
                $("#sp_bsb_sp_s_" +<%=i%>).focus();
                return false;
            }
            <%end%>

            if (!confirm('确定提交吗？')) {
                return false;
            }

            varDate = $("#sp_bsb_sp_d_86").val();
            varData = varDate.split("-");
            varDate = new Date(varData[0], varData[1] - 1, varData[2]);
            varnow_Date = new Date();
            var settime = varDate.getTime();
            var nowtime = varnow_Date.getTime();
            if (settime > nowtime) {
                alert("填报日期不能大于今天日期");
                $("#sp_bsb_sp_d_86").focus();
                return false;
            }
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");
            $('#sp_bsb_sp_i_state').val("2");
            return true;
        });

        /**
         * 检验数据提交入库
         * */
        $('#submit2').click(function () {
            if (!confirm('确定提交吗？')) {
                return false;
            }

            var jcxnull = 0;
            $("#tblGrid input[name='spdata[][spdata_1]']").each(
                    function () {
                        if (($.trim($(this).val())).length == 0) {
                            alert("该检测结果必须填写！");
                            $(this).focus();
                            jcxnull = 1;
                            return false;
                        }
                    }
            );
            if (jcxnull) {
                return false;
            }
            $("#tblGrid input[name='spdata[][spdata_18]']").each(
                    function () {
                        if (($.trim($(this).val())).length == 0) {
                            alert("该检测结果单位必须填写！");
                            $(this).focus();
                            jcxnull = 1;
                            return false;
                        }
                    }
            );
            if (jcxnull) {
                return false;
            }
            $("#tblGrid select[name='spdata[][spdata_2]']").each(
                    function () {
                        var parentTD = $(this).parents('td');
                        var ths = $(this).parents('tr').children('td');
                        var index = ths.index(parentTD);
                        if (($.trim($(this).val())) == '未检验' && ($.trim(ths.eq(index + 15).find('input').val())).length <= 3) {
                            alert("该项必须检测！如果根据实际情况不需检验，请将必填项填'/',并在说明项中加以不检验的说明且说明文字多于三个字。");
                            $(this).focus();
                            jcxnull = 1;
                            return false;
                        }
                    }
            );
            if (jcxnull) {
                return false;
            }

            <%@check=[1,2,3,4,5,6,7,11,12,14,16,21,24,30,33,35,36,37,39,40,41,42,61,62,63,70]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_s_" +<%=i%>).val()).length == 0) {
                alert("该项为必填项");
                $("#sp_bsb_sp_s_" +<%=i%>).focus();
                return false;
            }
            <%end%>
            <%@check=[38]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_d_" +<%=i%>).val()).length == 0) {
                alert("该日期项为必填项");
                $("#sp_bsb_sp_d_" +<%=i%>).focus();
                return false;
            }
            <%end%>
            <%@check=[15]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_n_" +<%=i%>).val()).length == 0) {
                alert("该数据项为必填项");
                $("#sp_bsb_sp_n_" +<%=i%>).focus();
                return false;
            }

            <%end%>
            <%@check=[68,17,62,202]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_s_" +<%=i%>).val()) == '请选择') {
                alert("该项为必选项");
                $("#sp_bsb_sp_s_" +<%=i%>).focus();
                return false;
            }
            <%end%>


            <%@check=[43,44,45,49,50,51,85,87,88]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_s_" +<%=i%>).val()).length == 0) {
                alert("该项为必填项");
                $("#sp_bsb_sp_s_" +<%=i%>).focus();
                return false;
            }
            <%end%>
            <%@check=[46,86]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_d_" +<%=i%>).val()).length == 0) {
                alert("该日期项为必填项");
                $("#sp_bsb_sp_d_" +<%=i%>).focus();
                return false;
            }
            <%end%>

            <%@check=[71]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_s_" +<%=i%>).val()) == '未完成') {
                alert("该项为必选项");
                $("#sp_bsb_sp_s_" +<%=i%>).focus();
                return false;
            }
            <%end%>
            varDate = $("#sp_bsb_sp_d_86").val();
            varData = varDate.split("-")
            varDate = new Date(varData[0], varData[1] - 1, varData[2]);
            varnow_Date = new Date();
            var settime = varDate.getTime();
            var nowtime = varnow_Date.getTime();
            if (settime > nowtime) {
                alert("填报日期不能大于今天日期");
                $("#sp_bsb_sp_d_86").focus();
                return false;
            }
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");
            $('#sp_bsb_sp_i_state').val("4");
            return true;
        });
        $('#save').click(function () {
            <%@check=[3,16]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_s_" +<%=i%>).val()).length == 0) {
                alert("保存时该项必须填写");
                $("#sp_bsb_sp_s_" +<%=i%>).focus();
                return false;
            }
            <%end%>
            varDate = $("#sp_bsb_sp_d_86").val();
            varData = varDate.split("-")
            varDate = new Date(varData[0], varData[1] - 1, varData[2]);
            varnow_Date = new Date();
            var settime = varDate.getTime();
            var nowtime = varnow_Date.getTime();
            if (settime > nowtime) {
                alert("填报日期不能大于今天日期");
                $("#sp_bsb_sp_d_86").focus();
                return false;
            }
            $('#sp_bsb_sp_i_state').val("1");
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");
            return true;
        });
        $('#save_and_create').click(function () {
            <%@check=[3,16]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_s_" +<%=i%>).val()).length == 0) {
                alert("保存时该项必须填写");
                $("#sp_bsb_sp_s_" +<%=i%>).focus();
                return false;
            }
            <%end%>
            varDate = $("#sp_bsb_sp_d_86").val();
            varData = varDate.split("-");
            varDate = new Date(varData[0], varData[1] - 1, varData[2]);
            varnow_Date = new Date();
            var settime = varDate.getTime();
            var nowtime = varnow_Date.getTime();
            if (settime > nowtime) {
                alert("填报日期不能大于今天日期");
                $("#sp_bsb_sp_d_86").focus();
                return false;
            }
            $('#sp_bsb_sp_i_state').val("1");
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");

            $("#new_sp_bsb, form.edit_sp_bsb").ajaxSubmit({
                dataType: "json",
                success: function (message) {
                    if (message.status == '保存成功!') {
                        alert("您的信息已经成功存入数据库！");
                    } else if (message.status == '保存出错!') {
                        alert(message.msg);
                    }
                    $('#sp_bsb_sp_s_16').focus();
                }
            });
            return false;
        });

        /**
         * 临时保存
         * */
        $('#save_1').click(function () {
            <%@check=[3,16]%>
            <%@check.each do |i|%>
            if ($.trim($("#sp_bsb_sp_s_" +<%=i%>).val()).length == 0) {
                alert("保存时该项必须填写");
                $("#sp_bsb_sp_s_" +<%=i%>).focus();
                return false;
            }
            <%end%>
            varDate = $("#sp_bsb_sp_d_86").val();
            varData = varDate.split("-");
            varDate = new Date(varData[0], varData[1] - 1, varData[2]);
            varnow_Date = new Date();
            var settime = varDate.getTime();
            var nowtime = varnow_Date.getTime();
            if (settime > nowtime) {
                alert("填报日期不能大于今天日期");
                $("#sp_bsb_sp_d_86").focus();
                return false;
            }
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");
            $('#sp_bsb_sp_i_state').val("2");
            return true;
        });


        /**
         * 检测机构审核通过
         * */
        $('#save_2').click(function () {
            if (!confirm('确定提交吗？')) {
                return false;
            }
            $("select").attr("disabled", "disabled");
            $("input.inputText").attr("disabled", "disabled");
            $("#sp_bsb_sp_s_16").removeAttr("disabled");
            $("#sp_bsb_sp_s_55").removeAttr("disabled");
            $("#sp_bsb_sp_s_56").removeAttr("disabled");
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");

            $('#sp_bsb_sp_i_state').val("5");
            return true;
        });

        /**
         * 药监局审核通过
         * */
        $('#save_3').click(function () {
            if (!confirm('确定提交吗？')) {
                return false;
            }
            $("select").attr("disabled", "disabled");
            $("input.inputText").attr("disabled", "disabled");
            $("#sp_bsb_sp_s_16").removeAttr("disabled");
            $("#sp_bsb_sp_s_55").removeAttr("disabled");
            $("#sp_bsb_sp_s_56").removeAttr("disabled");
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");
            $('#sp_bsb_sp_i_state').val("8");
            return true;
        });

        /**
         * 牵头单位审核通过
         * */
        $('#save_4').click(function () {
            if (!confirm('确定提交吗？')) {
                return false;
            }
            $("select").attr("disabled", "disabled");
            $("input.inputText").attr("disabled", "disabled");
            $("#sp_bsb_sp_s_16").removeAttr("disabled");
            $("#sp_bsb_sp_s_55").removeAttr("disabled");
            $("#sp_bsb_sp_s_56").removeAttr("disabled");
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");
            $('#sp_bsb_sp_i_state').val("9");
            return true;
        });

        /**
         * 检验机构批准
         */
        $('#save_5').click(function () {
            //$('#stamp-dlg').modal('show');
            //return false;
            if (!confirm('确定提交吗？')) {
                return false;
            }
            var spxlxz = $('#sp_bsb_sp_s_70').val();
            $("select").attr("disabled", "disabled");
            $("input.inputText").attr("disabled", "disabled");
            $("#sp_bsb_sp_s_16").removeAttr("disabled");
            $("#sp_bsb_sp_s_55").removeAttr("disabled");
            $("#sp_bsb_sp_s_56").removeAttr("disabled");
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");

            if (spxlxz == "抽检监测（总局本级三司）" || spxlxz == "抽检监测（总局本级一司）" || spxlxz == "抽检监测（三司专项）") {
                $('#sp_bsb_sp_i_state').val("9");
            } else if (spxlxz == "三司专项检验") {
                $('#sp_bsb_sp_i_state').val("9");
            } else if (spxlxz == "网络专项检验") {
                $('#sp_bsb_sp_i_state').val("9");
            } else {
                $('#sp_bsb_sp_i_state').val("6");
            }
            return true;
        });

        // 退回操作
        $('#back_1').click(function () {
            $("select").attr("disabled", "disabled");
            $("input.inputText").attr("disabled", "disabled");
            $("#sp_bsb_sp_s_16").removeAttr("disabled");
            $("#sp_bsb_sp_s_55").removeAttr("disabled");
            $("#sp_bsb_sp_s_56").removeAttr("disabled");
            $("#sp_bsb_sp_s_70").removeAttr("disabled");
            $("#sp_bsb_sp_s_20").removeAttr("disabled");
            if ($.trim($("#sp_bsb_sp_s_55").val()).length == 0) {
                alert("退修原因必须填写");
                $("#sp_bsb_sp_s_55").focus();
                return false;
            }
            <% if @sp_bsb.sp_i_state == 2 %>
            $('#sp_bsb_sp_i_state').val("1");
            <% else %>
            $('#sp_bsb_sp_i_state').val("3");
            <% end %>
            return true;
        });

        $('#admin_alter').click(function () {
            if (!confirm('确定提交吗？')) {
                return false;
            }
            if ($.trim($("#sp_bsb_sp_s_55").val()).length == 0) {
                alert("提交该项将修改数据，但必须在退修原因处填写修改原因");
                $("#sp_bsb_sp_s_55").focus();
                return false;
            }
            $('#sp_bsb_sp_i_state').val("9");
            return true;
        });

        /**
         * 提交FORM
         * */
        $("#new_sp_bsb, form.edit_sp_bsb").submit(function () {
            <% unless session[:certId].blank? %>
            var source = generateCAsrc();
            $('#sp_bsb_ca_source').val(source);
            var signed_data = SignedData('<%= session[:certId]%>', source);
            $('#sp_bsb_ca_sign').val(signed_data);
            <% end %>

            $("#new_sp_bsb, form.edit_sp_bsb").ajaxSubmit({
                dataType: "json",
                success: function (message) {
                    if (message.status == '保存成功!') {
                        alert(message.msg);
                        if (SP.sp_bsb.sp_i_state != parseInt($('#sp_bsb_sp_i_state').val())) {
                            location.href = '/sp_bsbs_spsearch?<%= session[:query].html_safe if session[:query].present? %>';
                        }
                    } else if (message.status == '保存出错!') {
                        alert(message.msg);
                    }
                }
            });
            return false;
        });

        <%if current_user.user_d_authority==0&&current_user.user_d_authority_1==0%>
        $("select").attr("disabled", "disabled");
        $("input").attr("readonly", "readonly");
        <%end%>

        <%if (current_user.is_admin? && @sp_bsb["sp_i_state"].to_i == 9)%>
        <%elsif @sp_bsb["sp_i_state"].to_i >= 4&&@sp_bsb["sp_i_state"].to_i < 10 %>
        $("select").attr("disabled", "disabled");
        $("input").attr("readonly", "readonly");
        $("#sp_bsb_sp_s_55").removeAttr("readonly");
        <%end%>

        $.each(jg_data, function () {
            $('#jg_jg_id').append($('<option/>').attr('value', this.jg_name).text(this.jg_name));
        });

        $('#jg_jg_id').change(function () {
            index_jg = this.selectedIndex;
            if (index_jg != -1) {
                $("#sp_bsb_sp_s_43").val($("#jg_jg_id").val());
                $("#sp_bsb_sp_s_49").val(jg_data[index_jg].jg_contacts);
                $("#sp_bsb_sp_s_50").val(jg_data[index_jg].jg_tel);
                $("#sp_bsb_sp_s_51").val(jg_data[index_jg].jg_email);
            }
        });
        <%if @sp_bsb["sp_s_43"].blank? %>
        $("#jg_jg_id").val($("#sp_bsb_sp_s_35").val())
        <%else%>
        $('#jg_jg_id').val('<%= @sp_bsb.sp_s_43 %>');
        <%end%>
        $('#jg_jg_id').trigger('change');

        // 机构签章选择
        $('.stamp-selector').click(function () {
            var o = $(this);
            o.find('i').toggleClass('selected');
            return false;
        });
    });
</script>
<style type="text/css">
    .style1 {
        border-collapse: collapse;
        font-size: 9pt;
        font-family: Calibri, sans-serif;
        border-style: none;
        border-color: inherit;
        border-width: medium;
        table-layout: fixed;
    }

    .style1 td {
        border: solid windowtext 1.0px;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 30px;
    }

    .style1 th {
        border: solid windowtext 1.0px;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 30px;
    }

    .inputText {
        font-size: 12px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-bottom: 1px solid;
        background-color: transparent;

    }

    .height600 {
        height: 600px;
        width: 3000px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .stamp-selector {
        display: inline-block;
        position: relative;
    }

    .stamp-selector img {
        width: 80px;
        height: 80px;
    }

    .stamp-selector-list {
        list-style: none;
    }

    .stamp-selector-list li {
        display: inline-block;
        margin-bottom: 5px;
    }

    .selected {
        color: green;
        position: absolute;
        right: 10px !important;
        bottom: 10px !important;
        top: initial;
        display: block !important;
    }
</style>

<!-- 用于容纳检测项的tr模板 -->
<table style="display: none;" class="analysis-templ-table">
  <tr class="analysis-item-templ" style="display: none;">
    <td colspan="2"><span class="idx" style="display:inline">、</span></td>
    <td colspan="5" style="width:10%" align="left">
      <input class="inputText" name="spdata[][spdata_0]" style="width: 160px;" readonly="readonly">
    </td>
    <td colspan="3" align="left">
      <span><input class="inputText jyjg" name="spdata[][spdata_1]" style="width: 100px;"></span></td>
    <td colspan="2" align="left">
      <span><input class="inputText" name="spdata[][spdata_18]" style="width: 70px;"></span></td>
    <td colspan="2" align="left">
      <span><%= select_tag "spdata[][spdata_2]", '', {:style => "width: 70px;", :class => "jy_select jgpd"} %></span>
    </td>
    <td colspan="7" align="left">
        <span style="display: block; width: 300px;">
        <%= select_tag "spdata[][spdata_3]", '', {:style => "width: 260px;", :class => "jyyj"} %>
          <a href="javascript:void(0);" class="check-detail" data-flag="0">查看</a>
        </span>
    </td>
    <td colspan="7" align="left">
        <span style="display: block; width: 300px;">
        <%= select_tag "spdata[][spdata_4]", '', {:style => "width: 260px;", :class => "pdyj"} %>
          <a href="javascript:void(0);" class="check-detail" data-flag="1">查看</a>
        </span>
    </td>
    <td colspan="2" align="left">
      <span><%= select_tag "spdata[][spdata_5]", '', {:style => "width: 70px;", :class => "tb_select"} %></span></td>
    <td colspan="2" align="left">
      <span><%= select_tag "spdata[][spdata_6]", '', {:style => "width: 70px;", :class => "tb_select"} %></span></td>
    <td colspan="2" align="left">
      <span><input class="inputText" name="spdata[][spdata_7]" style="width: 70px;"></span></td>
    <td colspan="2" align="left">
      <span><input class="inputText" name="spdata[][spdata_8]" style="width: 70px;"></span></td>
    <td colspan="2" align="left">
      <span><%= select_tag "spdata[][spdata_9]", '', {:style => "width: 70px;", :class => "tb_select bzzxyxx"} %></span>
    </td>
    <td colspan="2" align="left">
      <span><%= select_tag "spdata[][spdata_10]", '', {:style => "width: 70px;", :class => "tb_select"} %></span>
    </td>
    <td colspan="2" align="left">
      <span><input class="inputText" name="spdata[][spdata_11]" style="width: 70px;"></span></td>
    <td colspan="2" align="left">
      <span><input class="inputText" name="spdata[][spdata_12]" style="width: 70px;"></span></td>
    <td colspan="2" align="left">
      <span><%= select_tag "spdata[][spdata_13]", '', {:style => "width: 70px;", :class => "tb_select bzzdyxx"} %></span>
    </td>
    <td colspan="2" align="left">
      <span><%= select_tag "spdata[][spdata_14]", '', {:style => "width: 70px;", :class => "tb_select"} %></span>
    </td>
    <td colspan="2" align="left">
      <span><input class="inputText" name="spdata[][spdata_15]" style="width: 70px;"></span></td>
    <td colspan="2" align="left">
      <span><input class="inputText" name="spdata[][spdata_16]" style="width: 70px;"></span></td>
    <td colspan="2" align="left">
      <span><input class="inputText" name="spdata[][spdata_17]" style="width: 70px;"></span></td>
    <%= hidden_field_tag "spdata[][id]" %>
  </tr>
</table>
<%= form_for(@sp_bsb) do |f| %>

    <div id="my_show">
      <table border="1" cellspacing="0" cellpadding="0" width="100%" class="style1">
        <tr>
          <td colspan="30" style="background: #FFFF99;"><span style="font-family:宋体">△――样品信息登记部分</span></td>
        </tr>
        <tr>
          <td colspan="5">任务来源*</td>
          <td colspan="8"><%= @sp_bsb.sp_s_2_1 %></td>
          <td colspan="3">报送分类*</td>
          <td colspan="14"><%= @sp_bsb.sp_s_70 %>、<%= @sp_bsb.sp_s_67 %></td>
        </tr>
        <tr>
          <td colspan="5">被抽样单位名称*</td>
          <td colspan="11"><%= @sp_bsb.sp_s_1 %></td>
          <td colspan="3">抽样地点*</td>
          <td colspan="11"><%= @sp_bsb.sp_s_68 %>、<%= @sp_bsb.sp_s_2 %></td>
        </tr>
        <tr>
          <td colspan="3">年销售额</td>
          <td colspan="4"><%= @sp_bsb.sp_s_23 %></td>
          <td colspan="3">营业执照号</td>
          <td colspan="6"><%= @sp_bsb.sp_s_215 %></td>
          <td colspan="2">传真</td>
          <td colspan="4"><%= @sp_bsb.sp_s_bsfl %></td>
          <td colspan="3">区域类型*</td>
          <td colspan="5"><%= @sp_bsb.sp_s_201 %></td>
        </tr>
        <tr id="region">
          <td colspan="3" style="width: 73px">单位地址*</td>
          <td colspan="5" style="border-right:none;">省：<%= @sp_bsb.sp_s_3 %></td>
          <td colspan="5" style="border-right:none; border-left:none">市：<%= @sp_bsb.sp_s_4 %></td>
          <td colspan="5" style="border-left:none;">区：<%= @sp_bsb.sp_s_5 %></td>
          <td colspan="12"><%= @sp_bsb.sp_s_7 %></td>
        </tr>
        <tr>
          <td colspan="3"><p style="width: 43px">邮编</p></td>
          <td colspan="4"><%= @sp_bsb.sp_s_10 %></td>
          <td colspan="7">被抽样单位法人（负责人）*</td>
          <td colspan="4"><%= @sp_bsb.sp_s_8 %></td>
          <td colspan="3">电话</td>
          <td colspan="9"><%= @sp_bsb.sp_s_9 %></td>
        </tr>
        <tr>
          <td colspan="7">被抽样单位负责（联系）人*</td>
          <td colspan="3"><%= @sp_bsb.sp_s_11 %></td>
          <td colspan="3">电话*</td>
          <td colspan="5"><%= @sp_bsb.sp_s_12 %></td>
          <td colspan="3">许可证</td>
          <td colspan="4"><%= @sp_bsb.sp_xkz %></td>
          <td colspan="5"><%= @sp_bsb.sp_xkz_id %></td>
        </tr>
        <tr>
          <td colspan="3">样品名称*</td>
          <td colspan="7"><%= @sp_bsb.sp_s_14 %></td>
          <td colspan="3">样品属性</td>
          <td colspan="5"><%= @sp_bsb.sp_s_203 %></td>
          <td colspan="3">抽样数量*</td>
          <td colspan="4"><%= @sp_bsb.sp_n_15 %></td>
          <td colspan="2">单位*</td>
          <td colspan="3"><%= @sp_bsb.sp_s_6 %></td>
        </tr>
        <tr>
          <td colspan="3">抽样编号*</td>
          <td colspan="27"><%= @sp_bsb.sp_s_16 %></td>
        </tr>
        <tr>
          <td colspan="3" rowspan="2">样品分类*</td>
          <td colspan="27">食品大类&emsp;&emsp;<%= @sp_bsb.sp_s_17 %><br>食品亚类&emsp;&emsp;<%= @sp_bsb.sp_s_18 %></td>
        </tr>
        <tr>
          <td colspan="27">食品次亚类&emsp;<%= @sp_bsb.sp_s_19 %><br>食品细类&emsp;&emsp;<%= @sp_bsb.sp_s_20 %></td>
        </tr>
        <tr>
          <td colspan="3">样品形态*</td>
          <td colspan="4"><%= @sp_bsb.sp_s_61 %></td>
          <td colspan="5">样品类型*</td>
          <td colspan="7"><%= @sp_bsb.sp_s_62 %></td>
          <td colspan="4">包装分类*</td>
          <td colspan="7"><%= @sp_bsb.sp_s_63 %></td>
        </tr>
        <tr>
          <td colspan="3">样品来源*</td>
          <td colspan="4"><%= @sp_bsb.sp_s_21 %></td>
          <!--<td colspan="5">生产/加工/购进日期</td>
          <td colspan="4"><%= @sp_bsb.sp_d_22 %></td>-->
          <td colspan="5">抽样方式*</td>
          <td colspan="7"><%= @sp_bsb.sp_s_24 %></td>
          <td colspan="4">抽样工具</td>
          <td colspan="7"><%= @sp_bsb.sp_s_25 %></td>
        </tr>
        <tr>
          <td rowspan="7" colspan="3">预包装<br>产品*</td>
          <td colspan="5">样品规格*</td>
          <td colspan="8"><%= @sp_bsb.sp_s_26 %></td>
          <td colspan="5">样品批号*</td>
          <td colspan="9"><%= @sp_bsb.sp_s_27 %></td>
        </tr>
        <tr>
          <td colspan="5">生产日期*</td>
          <td colspan="8"><%= @sp_bsb.sp_d_28 %></td>
          <td colspan="5">保质期*</td>
          <td colspan="9"><%= @sp_bsb.sp_n_29 %></td>
        </tr>
        <tr>
          <td colspan="5">生产许可证号*</td>
          <td colspan="8"><%= @sp_bsb.sp_s_13 %></td>
          <td colspan="5">执行标准/技术文件*</td>
          <td colspan="9"><%= @sp_bsb.sp_s_72 %></td>
        </tr>
        <td colspan="5">质量等级*</td>
        <td colspan="2"><%= @sp_bsb.sp_s_73 %></td>
        <td colspan="2">商标*</td>
        <td colspan="4"><%= @sp_bsb.sp_s_74 %></td>
        <td colspan="2">单价*</td>
        <td colspan="3"><%= @sp_bsb.sp_s_204 %></td>
        <td colspan="4">是否出口*</td>
        <td colspan="5"><%= @sp_bsb.sp_s_205 %></td>
        </tr>
        <tr>
          <td colspan="5">抽样基数/批量*</td>
          <td colspan="4"><%= @sp_bsb.sp_s_206 %></td>
          <td colspan="4">条形码</td>
          <td colspan="5"><%= @sp_bsb.sp_s_222 %></td>
          <td colspan="4">备样数量*</td>
          <td colspan="5"><%= @sp_bsb.sp_s_208 %></td>
        </tr>
        <tr>
          <td colspan="5">标识生产企业地址*</td>
          <td colspan="5" style="border-right:none;">
            省：<%= @sp_bsb.sp_s_202 %>
          </td>
          <td colspan="5" style="border-right:none; border-left:none">
            市：<%= @sp_bsb.sp_s_220 %>
          </td>
          <td colspan="5" style="border-left:none;">
            县：<%= @sp_bsb.sp_s_221 %>
          </td>
          <td colspan="7"><%= @sp_bsb.sp_s_65 %></td>
        <tr>
          <td colspan="5">标识生产企业名称*</td>
          <td colspan="5"><%= @sp_bsb.sp_s_64 %></td>
          <td colspan="4">生产企业联系人*</td>
          <td colspan="4"><%= @sp_bsb.sp_s_75 %></td>
          <td colspan="4">生产企业电话*</td>
          <td colspan="5"><%= @sp_bsb.sp_s_76 %></td>
        </tr>
        <tr>
          <td rowspan="2" colspan="5">抽样时样品<br>存储状态*</td>
          <td rowspan="2" colspan="3"><%= @sp_bsb.sp_s_30 %></td>
          <td rowspan="2" colspan="5">储存条件</td>
          <td colspan="4">温度(℃)</td>
          <td colspan="4"><%= @sp_bsb.sp_n_31 %></td>
          <td rowspan="2" colspan="4">抽样样品包装*</td>
          <td rowspan="2" colspan="5"><%= @sp_bsb.sp_s_33 %></td>
        </tr>
        <tr>
          <td colspan="4">湿度(%)</td>
          <td colspan="4"><%= @sp_bsb.sp_n_32 %></td>
        </tr>
        <!--
        <tr>
        <td colspan="7">寄、送样品截止日期</td>
        <td colspan="8"><%= f.text_field :sp_s_209, :class => "inputText", :style => "width: 200px; height: 19px" %></td>
        <td colspan="7">寄送样品地址</td>
        <td colspan="8"><%= f.text_field :sp_s_210, :class => "inputText", :style => "width: 200px; height: 19px" %></td>
        </tr>
        -->
        <tr>
          <td colspan="5">备注</td>
          <td colspan="25"><%= @sp_bsb.sp_s_34 %></td>
        </tr>
        <tr>
          <td colspan="5">抽样单位名称*</td>
          <td colspan="7"><%= @sp_bsb.sp_s_35 %></td>
          <td colspan="3">单位级别*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_36 %></td>
          <td colspan="3">所在省份*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_52 %></td>
        </tr>
        <tr>
          <td colspan="5">抽样人员*</td>
          <td colspan="7"><%= @sp_bsb.sp_s_37 %></td>
          <td colspan="3">抽样时间*</td>
          <td colspan="6"><%= @sp_bsb.sp_d_38 %></td>
          <td colspan="3">电话*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_39 %></td>
        </tr>
        <tr>
          <td colspan="6">抽样单位负责（联系）人*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_40 %></td>
          <td colspan="3">电话*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_41 %></td>
          <td colspan="3">电子邮箱*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_42 %></td>
        </tr>
        <tr>
          <td colspan="3">单位地址</td>
          <td colspan="9"><%= @sp_bsb.sp_s_211 %></td>
          <td colspan="3">邮编</td>
          <td colspan="6"><%= @sp_bsb.sp_s_212 %></td>
          <td colspan="3">传真</td>
          <td colspan="6"><%= @sp_bsb.sp_s_213 %></td>
        </tr>
        <tr>
          <td colspan="30" style="background: #FFFF99;"><span style="font-family:宋体">△――检验信息部分</span></td>
        </tr>
        <tr>
          <td colspan="4">检验机构名称*</td>
          <td colspan="8"><%= @sp_bsb.sp_s_43 %></td>
          <td colspan="5">检验目的/任务类别*</td>
          <td colspan="3"><%= @sp_bsb.sp_s_44 %></td>
          <td colspan="4">报告书编号*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_45 %></td>
        </tr>
        <tr>
          <td colspan="3">收检日期*</td>
          <% if [6, 8, 9].include? @sp_bsb.sp_i_state %>
              <td colspan="6"><%= @sp_bsb.sp_d_46 %></td>
              <td colspan="3">报告日期*</td>
              <td colspan="8"><%= @sp_bsb.sp_d_47 %></td>
              <td colspan="4">报告签发人*</td>
              <td colspan="6"><%= @sp_bsb.sp_s_48 %></td>
          <% else %>
              <td colspan="27"><%= @sp_bsb.sp_d_46 %></td>
          <% end %>
        </tr>
        <tr>
          <td colspan="3">联系人*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_49 %></td>
          <td colspan="3">电话*</td>
          <td colspan="8"><%= @sp_bsb.sp_s_50 %></td>
          <td colspan="4">电子邮箱*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_51 %></td>
        </tr>
        <tr>
          <td colspan="3">结论*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_71 %></td>
          <td colspan="3">确认情况</td>
          <td colspan="8"><%= @sp_bsb.sp_s_214 %></td>
          <td colspan="4">备注</td>
          <td colspan="6"><%= @sp_bsb.sp_s_84 %></td>
        </tr>
        <tr>
          <td colspan="3">填报人*</td>
          <td colspan="3"><%= @sp_bsb.sp_s_85 %></td>
          <td colspan="3">填报日期*</td>
          <td colspan="3"><%= @sp_bsb.sp_d_86 %></td>
          <td colspan="3">电话*</td>
          <td colspan="5"><%= @sp_bsb.sp_s_87 %></td>
          <td colspan="4">电子邮箱*</td>
          <td colspan="6"><%= @sp_bsb.sp_s_88 %></td>
        </tr>

        <tr id="reason">
          <% if @sp_bsb["sp_i_state"] == 2 or (@sp_bsb["sp_i_state"] >= 4 && @sp_bsb["sp_i_state"] <= 9) %>
              <td colspan="4">历史退回原因</td>
              <td colspan="26"><%= @sp_bsb.sp_s_reason %></td>
          <% elsif @sp_bsb["sp_i_state"]==3 %>
              <td colspan="3">退回原因</td>
              <td colspan="27"><%= @sp_bsb.sp_s_reason %></td>
          <% elsif @sp_bsb["sp_s_reason"]!=nil %>
              <td colspan="3">退回原因</td>
              <td colspan="27"><%= @sp_bsb.sp_s_reason %></td>
          <% end %>
        </tr>
        <tr>
          <% if @sp_bsb["sp_i_state"] == 2 or (@sp_bsb["sp_i_state"]>=4&&@sp_bsb["sp_i_state"]<=9) %>
              <td colspan="4">填写退回原因</td>
              <td colspan="26"><%= f.text_field :sp_s_55, :class => "inputText", :style => "width: 600px;height: 19px;margin:8px" %></td>
          <% end %>
        </tr>
        <% if @sp_bsb["sp_i_state"]>=2&&@sp_bsb["sp_i_state"]<=9&&(current_user.user_d_authority_1==1 || current_user.is_admin?) %>
            <tr>
              <td colspan="4">报告分类*</td>
              <td colspan="26">
                <%= @sp_bsb.bgfl %>
                <% if @sp_bsb.bgfl.eql?("24小时限时报告") %>
                    <a href="/sp_bsbs/<%= @sp_bsb.id %>/xsbg" target="_blank">查看报告</a>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>
      <br><br>

      <div class="height400">
        <table id="tblGrid" style="width: 4000px; table-layout: fixed;" cellspacing="0" cellpadding="0" class="fancyTable">
          <thead>
          <tr>
            <th width="40">#</th>
            <th>检验项目*</th>
            <th>检验结果*</th>
            <th>结果单位*</th>
            <th>结果判定*</th>
            <th>检验依据*</th>
            <th>判定依据*</th>
            <th>标准方法检出限*</th>
            <th>标准检出限单位*</th>
            <th>方法检出限*</th>
            <th>检出限单位*</th>
            <th>标准最小允许限*</th>
            <th>标准最小允许限单位*</th>
            <th>最小允许限*</th>
            <th>最小允许限单位*</th>
            <th>标准最大允许限*</th>
            <th>标准最大允许限单位*</th>
            <th>最大允许限*</th>
            <th>最大允许限单位*</th>
            <th>说明</th>
          </tr>
          </thead>
          <tbody>
						<% @sp_bsb.spdata.each_with_index do |spdata, index| %>
						<tr>
							<td align="center" width="80"><%= index + 1 %></td>
							<td align="left"><%= spdata.spdata_0 %></td>
							<td align="left"><%= spdata.spdata_1 %></td>
							<td align="left"><%= spdata.spdata_18 %></td>
							<td align="left"><%= spdata.spdata_2 %></td>
							<td align="left"><%= spdata.spdata_3 %></td>
							<td align="left"><%= spdata.spdata_4 %></td>
							<td align="left"><%= spdata.spdata_5 %></td>
							<td align="left"><%= spdata.spdata_6 %></td>
							<td align="left"><%= spdata.spdata_7 %></td>
							<td align="left"><%= spdata.spdata_8 %></td>
							<td align="left"><%= spdata.spdata_9 %></td>
							<td align="left"><%= spdata.spdata_10 %></td>
							<td align="left"><%= spdata.spdata_11 %></td>
							<td align="left"><%= spdata.spdata_12 %></td>
							<td align="left"><%= spdata.spdata_13 %></td>
							<td align="left"><%= spdata.spdata_14 %></td>
							<td align="left"><%= spdata.spdata_15 %></td>
							<td align="left"><%= spdata.spdata_16 %></td>
							<td align="left"><%= spdata.spdata_17 %></td>
						</tr>
						<% end %>
          </tbody>
        </table>
      </div>
      <%= f.hidden_field :sp_n_jcxcount %>
      <%= f.hidden_field :sp_i_state %>
      <%= f.hidden_field :sp_s_56 %>
      <%= f.hidden_field :sp_i_jgback %>
      <%= f.hidden_field :sp_i_backtimes %>
      <%= f.hidden_field :ca_source %>
      <%= f.hidden_field :ca_sign %>
      <div class="clear"></div>
    </div>
    <br>

    <% @pictures.each do |pic| %>
        <a style="float: left; margin-right: 10px;" href="/pad_sp_bsbs/<%= pic.sp_bsb_id %>/picture/<%= pic.sort_index %>" target="_blank">
          <img border="0" width="150" height="150" src="/pad_sp_bsbs/<%= pic.sp_bsb_id %>/picture/<%= pic.sort_index %>.jpeg"/>

          <p>
            <% case pic.sort_index
                 when 1 then %><%= "图一" %>
                <% when 2 then %><%= "图二" %>
                <% when 3 then %><%= "图三" %>
                <% when 4 then %><%= "图四" %>
                <% when 5 then %><%= "图五" %>
                <% when 6 then %><%= "图六" %>
                <% when 7 then %><%= "图七" %>
                <% when 8 then %><%= "图八" %>
            <% end %>
          </p>
        </a>
        <% if pic.sort_index == 4 %>
            <br style="clear:both;">
            <br style="clear:both;">
            <br style="clear:both;">
        <% end %>
    <% end unless @pictures.blank? %>

    <% if @pad_sp_bsbs != nil %>
        <div style="clear:both"></div>
        <div>
          <% if !@pad_sp_bsbs.cyd_file_path.blank? %>
              <a class="btn btn-default btn-xs" href="/pad_sp_bsbs/<%= @pad_sp_bsbs.id %>/cyd"><i class="glyphicon glyphicon-download-alt"></i>抽样单电子版</a>
          <% end %>
          <% if !@pad_sp_bsbs.cyjygzs_file_path.blank? %>
              <a class="btn btn-default btn-xs" href="/pad_sp_bsbs/<%= @pad_sp_bsbs.id %>/cyjygzs"><i class="glyphicon glyphicon-download-alt"></i>抽样检验告知书电子版</a>
          <% end %>
          <hr>
        </div>
    <% end %>

    <div class="actions">
      <% if @sp_bsb.new_record? %>
          <%= f.submit(vaule="保存并新建", options={"id" => "save_and_create", :class => "btn btn-xs btn-success"}) %>
      <% end %>

      <% if (@sp_bsb["sp_i_state"]<2)&&current_user.user_d_authority==1 %>
          <%= f.submit(vaule="临时保存", options={"id" => "save", :class => "btn btn-xs btn-default"}) %>
          <%= f.submit(vaule="基本信息提交入库", options={"id" => "submit1", :class => "btn btn-xs btn-primary"}) %>
      <% end %>

      <% if @sp_bsb["sp_i_state"]>=2&&@sp_bsb["sp_i_state"]<4&&current_user.user_d_authority_1==1 %>
          <%= f.submit(vaule="临时保存", options={"id" => "save_1", :class => "btn btn-xs btn-default"}) %>
          <%= f.submit(vaule="检测数据提交入库", options={"id" => "submit2", :class => "btn btn-xs btn-success"}) %>
          <% if @sp_bsb.sp_i_state == 2 %>
              <%= f.submit(vaule="退修", options={"id" => "back_1", :class => "btn btn-xs btn-danger"}) %>
          <% end %>
      <% elsif @sp_bsb["sp_i_state"]==4&&session[:change_js]==7 %>
          <%= f.submit(vaule="检测机构审核通过", options={"id" => "save_2", :class => "btn btn-xs btn-success"}) %>
          <%= f.submit(vaule="退修", options={"id" => "back_1", :class => "btn btn-xs btn-danger"}) %>
      <% elsif @sp_bsb["sp_i_state"]==5&&session[:change_js]==11 %>
          <div class="modal fade" id="stamp-dlg" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">电子报告签章选择</h4>
                </div>
                <div class="modal-body">
                  <ul class="stamp-selector-list">
                    <% @jg_bsb.jg_bsb_stamps.each do |stamp| %>
                        <li>
                          <a href="javascript:void(0);" data-stamp-no="<%= stamp.stamp_no %>" class="stamp-selector">
                            <img src="/jg_bsb_stamps/<%= stamp.id %>/cover" class="img-thumbnail" alt="<%= stamp.stamp_no %>">
                            <i class="hidden glyphicon glyphicon-ok"></i>
                          </a>
                        </li>
                    <% end %>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-sm">确定执行【主检人审核】</button>
                  <button type="button" class="btn btn-default btn-sm">报告预览</button>
                </div>
              </div>
            </div>
          </div>
          <%= f.submit(vaule="检测机构批准", options={"id" => "save_5", :class => "btn btn-xs btn-success"}) %>
          <%= f.submit(vaule="退修", options={"id" => "back_1", :class => "btn btn-xs btn-danger"}) %>
      <% elsif @sp_bsb["sp_i_state"]==6&&session[:change_js]==2 %>
          <%= f.submit(vaule="药监局审核通过", options={"id" => "save_3", :class => "btn btn-xs btn-success"}) %>
          <%= f.submit(vaule="退修", options={"id" => "back_1", :class => "btn btn-xs btn-danger"}) %>
      <% elsif @sp_bsb["sp_i_state"]==8&&session[:change_js]==8 %>
          <%= f.submit(vaule="牵头单位审核通过", options={"id" => "save_4", :class => "btn btn-xs btn-success"}) %>
          <%= f.submit(vaule="退修", options={"id" => "back_1", :class => "btn btn-xs btn-danger"}) %>
      <% elsif @sp_bsb["sp_i_state"]==9&&current_user.is_admin? %>
          <%= f.submit(vaule="退修", options={"id" => "back_1", :class => "btn btn-xs btn-danger"}) %>
          <%= f.submit(vaule="秘书处修改", options={"id" => "admin_alter", :class => "btn btn-xs btn-primary"}) %>
      <% elsif @sp_bsb["sp_i_state"]==10 %>
          <%= f.submit(vaule="临时保存", options={"id" => "save", :class => "btn btn-xs btn-default"}) %>
          <%= f.submit(vaule="基本信息提交入库", options={"id" => "submit1", :class => "btn btn-xs btn-success"}) %>
      <% end %>
    </div>
    <br>
    <br>
    <br>
<% end %>
<% if @sp_bsb.is_bad_report? %>
    <br>
    <hr>
    <br>
    <p style="color: red;"> <%= flash[:fail_report_result] %> </p>
    <br>
    请上传5M内的报告文件。
    <br>
    <% unless @sp_bsb.fail_report_path.blank? %>
        <a href="/sp_bsbs/<%= @sp_bsb.id %>/fail_pdf_report" target="_blank">查看已上传的报告(上传于：<%= (@sp_bsb.fail_report_at + 8.hours).strftime("%Y-%m-%d %H:%M:%S") if !@sp_bsb.fail_report_at.blank? %>
          )</a>
        <a class="btn btn-xs btn-danger" data-confirm="确定删除吗？" data-method="post" href="/sp_bsbs/<%= @sp_bsb.id %>/remove_fail_report">删除</a>
    <% end %>

    <%= form_tag(fail_pdf_report_sp_bsb_path, {:method => 'post', :multipart => true}) do %>
        <label for="file">上传电子报告：</label>
        <br>
        <%= file_field_tag 'file', class: 'form-control input-sm' %>
        <br>
        <%= submit_tag '上传', class: 'btn btn-sm btn-default' %>
    <% end %>

<% end %>
