<style type="text/css">
  .style1 {
    border-collapse: collapse;
    font-size: 9pt;
    font-family: Calibri, sans-serif;
    border-style: none;
    border-color: inherit;
    border-width: medium;
    table-layout: fixed;
  }

  .style1 td {
    border: solid windowtext 1.0px;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 30px;
  }

  .style1 th {
    border: solid windowtext 1.0px;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 30px;
  }

  .style1 p {
    height: 5px;

  }

  .inputText {
    font-size: 12px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom: 1px solid;
    background-color: transparent;

  }

  ul.data-tabs li {
    display: inline-block;
  }

  ul.data-tabs {
    border-bottom: 1px solid #999;
    padding-left: 15px;
    position: relative;
  }

  ul.data-tabs a {
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid #999;
    padding: 5px 10px;
    position: relative;
    bottom: -1px;
  }

  ul.data-tabs a.active {
    border-bottom: 1px solid #FFFFFF;
  }

  .search-form th, .search-form td {
    font-size: 12px;
  }
	.ng-pristine tbody td.td_city {
		text-align: center;
    padding: 10px;
    color: #555555;
    font-size: 17px;
	}
</style>
<script>
  $(function () {
    $("#begin_time, #ending_time, #begin_time_1, #ending_time_1").datepicker({
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true
    });

    $("#tabs_4").click(function () {
      <%=params[:page]=1%>
      <%=session[:sp_page] = 1%>
      $('#flag').val('tabs_4');
      $('#sp_submit').trigger("click");
    });

    $("#tabs_2").click(function () {
      <%=params[:page]=1%>
      <%=session[:sp_page] = 1%>
      $('#flag').val('tabs_2');
      $('#sp_submit').trigger("click");
    });
    $("#tabs_1").click(function () {
      <%=params[:page]=1%>
      <%=session[:sp_page] = 1%>
      $('#flag').val('tabs_1');
      $('#sp_submit').trigger("click");
    });
    $("#tabs_5").click(function () {
      <%=params[:page]=1%>
      <%=session[:sp_page] = 1%>
      $('#flag').val('tabs_5');
      $('#sp_submit').trigger("click");
    });
    $("#tabs_6").click(function () {
      <%=params[:page]=1%>
      <%=session[:sp_page] = 1%>
      $('#flag').val('tabs_6');
      $('#sp_submit').trigger("click");
    });
    $("#tabs_7").click(function () {
      <%=params[:page]=1%>
      <%=session[:sp_page] = 1%>
      $('#flag').val('tabs_7');
      $('#sp_submit').trigger("click");
    });
    $('#s8').val('<%= params[:s8]%>');

   // $('#sp_dl').select2({theme: 'bootstrap', placeholder: '食品大类'});
    $('#sp_sf').select2({theme: 'bootstrap', placeholder: '市/区'});
    $('#s13').select2({theme: 'bootstrap', placeholder: '任务来源'});
    $('#sp_bsa').select2({theme: 'bootstrap', placeholder: '报送A类'});
    $('#sp_bsb').select2({theme: 'bootstrap', placeholder: '报送B类'});
    $('#sp_dl').select2({theme: 'bootstrap', placeholder: '食品A类'});
    $('#s6').select2({theme: 'bootstrap', placeholder: '食品B类'});
    //$('#sp_bsa').select2({theme: 'bootstrap', placeholder: '报送A'});
   // $('#sp_bsb').select2({theme: 'bootstrap', placeholder: '报送B'});
   // $('#s6').select2({theme: 'bootstrap', placeholder: '食品亚类'}); 
	// 报送分类A
    $('#sp_bsa').change(function () {
      var o = $(this);
      console.log("11");
      if (o.val() != '') {
      console.log("22");
        $.get('/baosong_bs/by_name.json', {a_name: o.val()}, function (data) {
          if (data.status == 'OK') {
            $('#sp_bsb,#sp_dl, #s6').empty();
            $("<option>").text("请选择").appendTo($('#sp_bsb'));
            $.each(data.data, function () {
              $("<option>").attr('data-identifier', this.identifier).attr("value", this.name).text(this.name).appendTo($('#sp_bsb'));
            });
            if (("<%= params[:sp_bsa] %>" != "请选择") && ("<%= params[:sp_bsa] %>".length != 0)) {
              $("#sp_bsb").val("<%= params[:sp_bsb] %>");
              $('#sp_bsb').change();
            }
          }
        }, "json")
      }
    });

    // 报送分类B
    $('#sp_bsb').change(function () {
      $.get('/a_categories_by_identifier.json', {identifier: $(this).find('option:selected').attr('data-identifier')}, function (data) {
        if (data.status == 'OK') {
          $('#sp_dl,#s6').empty();
          $('<option>').text("请选择").appendTo($('#sp_dl'));
          $.each(data.data, function () {
            $('<option>').attr('value', this.name).text(this.name).attr('id', this.id).appendTo($('#sp_dl'));
          });
          if (("<%= params[:sp_bsb] %>" != "请选择") && ("<%= params[:sp_bsb] %>".length != 0)) {
            $("#sp_dl").val("<%= params[:sp_dl] %>");
            $('#sp_dl').change();
          }
        }
      }, 'json');
    });
 
    // 大类
    $('#sp_dl').change(function () {
      $.get('/b_categories_by_a_id.json', {a_category_id: $('#sp_dl').find('option:selected').attr('id')}, function (data) {
        if (data.status == 'OK') {
          $('#s6').empty();
          $('<option>').text("请选择").appendTo($('#s6'));
          $.each(data.data, function () {
            $('<option>').attr('value', this.name).text(this.name).attr('data-id', this.id).appendTo($('#s6'));
          });
          if (("<%= params[:sp_bsb] %>" != "请选择") && ("<%= params[:sp_bsb] %>".length != 0)) {
            $("#s6").val("<%= params[:s6] %>");
            $('#s6').change();
          }
        }
      }, 'json');
    });

    $(".td_city span.select2-container").css({"width":"98px","margin-left":"74px"});	
    $("#sp_submit").click(function(){
      $("#spearch_form").attr("action","/sp_bsbs_spsearch"); 
    })
    $("#export").click(function(){
      $("#spearch_form").attr("action","/sp_bsbs_export_excel_alldata");
      $("#spearch_form").submit();
    })
    if (("<%= params[:sp_bsa] %>" != "请选择") && ("<%= params[:sp_bsa] %>".length != 0)){
      $('#sp_bsa').change();
    }
  });
</script>

<h1>食品安全检验数据报送表</h1>

<h1 style="color:red"><%= flash[:edit_result] unless flash[:edit_result].nil? %></h1>

<div class="panel panel-primary">
  <div class="panel-heading">数据查询选项</div>
  <div class="panel-body">
    <form action="/sp_bsbs_spsearch" method="POST" id="spearch_form">
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <fieldset style="padding: 5px 10px;">
        <table style="table-layout: fixed;" class="search-form table table-bordered table-condensed table-bordered-black">
          <tr>
            <td colspan="4">填报起始日期</td>
            <td colspan="6">
              <input type="text" class="form-control input-sm" id="begin_time" name="begin_time" value=<%= @begin_time.strftime("%Y-%m-%d") %>>
            </td>
            <td colspan="4">至填报结束日期</td>
            <td colspan="6">
              <input type="text" class="form-control input-sm" id="ending_time" name="ending_time" value=<%= @ending_time.strftime("%Y-%m-%d") %>>
            </td>
            <td colspan="4">填报类型</td>
            <td colspan="6">
              <select id="s8" name="s8" class="form-control input-sm">
                <option value=1>全部数据</option>
                <% if current_user.is_admin?||session[:change_js]==10||is_shengshi? %>
                    <option value=2>批量导入数据</option>
                    <option value=3>基本信息(填报中)</option>
                    <option value=4>检测数据(填报)</option>
                    <option value=5>检测数据(机构审核中)</option>
                    <option value=15>检测数据(机构批准中)</option>
                    <option value=16>检测数据(报告发送人审核中)</option>
                    <option value=8>检测数据(已提交至秘书处)</option>
                <% end %>
                <option value=9>不合格样品</option>
                <!--
                <% if current_user.is_admin?||session[:change_js]==10 %>
                <option value=10>局本级任务</option>
                <option value=11>地方任务</option>
                <option value=12>三司专项检验</option>
                <option value=13>网络专项检验</option>
              <% end %>
              <option value="14">未推送数据</option>-->
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="4">任务来源</td>
            <td colspan="6">
            <%= select_tag "s13", options_for_select(all_super_departments.map { |name| [name, name,{'parentid' => name}] }.unshift(["全部", "全部"]),  params[:s13]), :class => "form-control" %>
              <!--<input class="form-control input-sm" type="text" id="s13" value="<%#= params[:s13] %>" name="s13"></td>-->
						</td>	
            <td colspan="4">采样单位名称</td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="s1" value="<%= params[:s1] %>" name="s1"></td>
            <td colspan="4">检验机构名称</td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="s2" value="<%= params[:s2] %>" name="s2"></td>
          </tr>
          <tr>
            <td colspan="4">标识生产企业名称</td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="s12" value="<%= params[:s12] %>" name="s12"></td>
            <td colspan="4">被抽样单位名称</td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="s11" value="<%= params[:s11] %>" name="s11"></td>
            <td colspan="4">样品名称</td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="s4" value="<%= params[:s4] %>" name="s4"></td>
          </tr>
          <tr>
         <td colspan="4">报送A类</td>
            <td colspan="6">
             <%= select_tag 'sp_bsa', options_for_select(BaosongA.all.map { |b| [b.name, b.name, {'parentid' => b.rwlylx}] }.unshift(["请选择", "请选择"]), params[:sp_bsa]),:class => 'form-control input-sm' %>
	    </td>
          <td colspan="4">
            报送B类  
          </td>
           <td colspan="6">
           <%= select_tag 'sp_bsb','', :class=>"form-control input-sm" %></select>
            </td>
            <td colspan="4">被抽样单位省市/区</td>
            <td colspan="6" class="td_city">
							<span style="float:left;margin:8px 24px;font-size:13px"><%= current_user.user_s_province %></span>
            	<%# if current_user.is_admin?||session[:change_js]==8||session[:change_js]==9||session[:change_js]==10 || is_shengshi? %>
            		<%= select_tag "sp_sf", options_for_select(SysProvince.level1.map { |prov| [prov.name, prov.name] }.unshift(['全部', '全部']), params[:sp_sf]), :class => "form-control" %>
            	<%# end %>
						</td>
            <td style="display:none">
              <select class="form-control input-sm" type="text" id="sp_sf" name="sp_sf"></select>
						</td>
          </tr>
          <tr>
          <!--  <td colspan="4">单位类型</td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="s5" value="<%= params[:s5] %>" name="s5"></td>
            <td colspan="4">填报人</td>
            <td colspan="6"> -->
            <td colspan="4">食品大类</td>
              <% if current_user.is_admin? || session[:change_js] != 8 %>
                <td colspan="6">
                  <%= select_tag 'sp_dl','', class: 'form-control input-sm'  %>
                </td>
            <% else %>
                <td colspan="6"><%= current_user.user_s_dl %></td>
                <td style="display:none">
                  <select class="form-control input-sm" type="text" id="sp_dl" name="sp_dl" style="width:123px"></select>
                </td>
            <% end %>
            <td colspan="4">食品亚类</td>
            <td colspan="6">
             <%= select_tag 's6','', class: 'form-control input-sm'  %>
            </td>
            <td colspan="4">抽样编号</td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="s7" value="<%= params[:s7] %>" name="s7"></td>
          </tr>
          <tr style="display:none;">
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="sp_order" value="<%= params[:sp_order] %>" name="sp_order">
            </td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="sp_order_seq" value="<%= params[:sp_order_seq] %>" name="sp_order_seq">
            </td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="flag" value="<%= params[:flag] %>" name="flag">
            </td>
            <td colspan="6">
              <input class="form-control input-sm" type="text" id="flag" value="<%= params[:page] %>" name="page">
            </td>
          </tr>
        </table>
        <div class="form-inline">
          <input id="sp_submit" type="submit" class="btn btn-primary btn-sm" value="搜索">

          <div class="checkbox">
            <label><input type="checkbox" name="remember" value="1" <%= 'checked' if params[:remember].to_i == 1 %>>记住选项</label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div id="tabs">
  <ul class="data-tabs">
    <% if current_user.is_admin? or session[:change_js]==10 or is_shengshi? %>
        <li>
          <a class="<%= (params[:flag].eql?('tabs_1') ? "active" : "") %>" style="cursor: pointer;" id="tabs_1">结果数据</a>
        </li>
        <li>
          <a class="<%= (params[:flag].eql?('tabs_5') ? "active" : "") %>" style="cursor: pointer;" id="tabs_5">退修数据</a>
        </li>
        <li>
          <a class="<%= (params[:flag].eql?('tabs_6') ? "active" : "") %>" style="cursor: pointer;" id="tabs_6">核查处置退修数据</a>
        </li>
    <% else %>
        <li>
          <a class="<%= (params[:flag].eql?('tabs_1') ? "active" : "") %>" style="cursor: pointer;" id="tabs_1">待处理数据</a>
        </li>
        <li>
          <a class="<%= (params[:flag].eql?('tabs_5') ? "active" : "") %>" style="cursor: pointer;" id="tabs_5">退修数据</a>
        </li>
        <% if session[:change_js]!=8 %>
            <li>
              <a class="<%= (params[:flag].eql?('tabs_2') ? "active" : "") %>" style="cursor: pointer;" id="tabs_2">已处理数据</a>
            </li>
        <% end %>
        <li>
          <a class="<%= (params[:flag].eql?('tabs_4') ? "active" : "") %>" style="cursor: pointer;" id="tabs_4">完全提交数据</a>
        </li>
        <% if current_user.jg_bsb.jg_type == 1 && current_user.user_i_js==1 && (current_user.user_d_authority==1 || current_user.user_d_authority_2==1 || current_user.user_d_authority_3==1 || current_user.user_d_authority_4==1) %>
          <li>
            <a class="<%= (params[:flag].eql?('tabs_7') ? "active" : "") %>" style="cursor: pointer;" id="tabs_7">结果数据</a>
          </li>
        <% end %>
    <% end %>
   <!--
    <li>
      <a class="<%= (params[:flag].eql?('tabs_3') ? "active" : "") %>" href="/sp_bsbs_spsearch?flag=tabs_3">文件导入与导出</a>
    </li>
   -->
  </ul>
  <% if !params[:flag].nil? and !params[:flag].eql?("tabs_3") %>
      <div class="tab-content"><br>
        共<strong style="font-size: 22px;"><%=@sp_bsbs.total_entries%></strong>条, 当前第<strong style="font-size: 22px;"><%= @sp_bsbs.current_page%></strong>页
        <p><%= will_paginate @sp_bsbs, :params => params, :separator => ',', :previous_label => '上一页', :next_label => '下一页' %></p>
        <%= render 'part_index' %>
        <% if @sp_bsbs.present? && params[:flag].eql?('tabs_1') && (current_user.is_admin? || is_shengshi? || session[:change_js]==6) %>
          <button id="export" class="btn btn-xs btn-default">全部样品检测数据下载</button>
        <% end %>
        <p><%= will_paginate @sp_bsbs, :params => params, :separator => ',', :previous_label => '上一页', :next_label => '下一页' %></p>
      </div>
  <% end %>
  <% if !params[:flag].nil? and params[:flag].eql?("tabs_3") %>
      <div class="tab-content">
        <br/>
        <br/>
        <!--
        <% if session[:change_js]==1||session[:change_js]==5 %>
                <fieldset style="padding: 5px 10px;">
                    <legend>导入Excel</legend>
                        <b> <%= flash[:import_result] unless flash[:import_result].nil? %> </b>
                        <%= form_tag({action: :import_excel}, multipart: true) do %>
                            <%= file_field_tag 'excel' %>
                            <br></br>
                            <%= submit_tag("样品信息批量上传", :class => "btn btn-xs btn-success") %><font color="red">特别注意：</font>模板更新时间为2015年5月5日，上传数据一定要有省份（省份与系统一致，如四川不能写成四川省）、采样编号不能重复，必填项要填写，特别是检索项！<font color="red">新增导入出错的记录提示</font><br></br>
                        <% end %>
                        <%= form_tag({action: :export_excel}, multipart: true) do %>
                            <%= submit_tag("样品信息批量上传模板下载", :class => "btn btn-xs btn-primary") %><br></br>
                        <% end %>
                </fieldset>
            <% end %> -->
        <% if current_user.is_admin? %>
            <fieldset style="padding: 5px 10px;">
              <legend>临时修改数据</legend>
              <b> <%= flash[:import_result_1] unless flash[:import_result_1].nil? %> </b>
              <%= form_tag({action: :import_temp_data_excel}, multipart: true) do %>
                  <%= file_field_tag 'excel' %>
                  <br><br>
                  <%= submit_tag("临时修改数据") %><font color="red">特别注意：</font>本功能仅限于超级用户使用！<br><br>
              <% end %>
              <%= form_tag({action: :export_excel_allinfo}, multipart: true) do %>
                  <%= submit_tag("临时数据下载") %><br><br>
              <% end %>
            </fieldset>
        <% end %>

        <%# if session[:change_js]==1||session[:change_js]==5||session[:change_js]==2||session[:change_js]==7||session[:change_js]==8||current_user.is_admin?||session[:change_js]==10 %>
            <fieldset style="padding: 5px 10px;">
              <legend>检测结果导出成为Excel文件并下载至本地</legend>
              <%= form_tag({action: :export_excel_alldata}, multipart: true) do %>
                  <tr>
                    <td colspan="4">统计起始日期</td>
                    <td colspan="6"><input type="text" id="begin_time_1" name="begin_time" value=<%= @begin_time %>>
                    </td>
                    <td colspan="2"><select type="text" id="sp_time_begin" name="sp_time_begin">
                      <option value=0>0</option>
                      <option value=1>1</option>
                      <option value=2>2</option>
                      <option value=3>3</option>
                      <option value=4>4</option>
                      <option value=5>5</option>
                      <option value=6>6</option>
                      <option value=7>7</option>
                      <option value=8>8</option>
                      <option value=9>9</option>
                      <option value=10>10</option>
                      <option value=11>11</option>
                      <option value=12>12</option>
                      <option value=13>13</option>
                      <option value=14>14</option>
                      <option value=15>15</option>
                      <option value=16>16</option>
                      <option value=17>17</option>
                      <option value=18>18</option>
                      <option value=19>19</option>
                      <option value=20>20</option>
                      <option value=21>21</option>
                      <option value=22>22</option>
                      <option value=23>23</option>
                    </select>时
                    </td>

                    <td colspan="4">至统计结束日期</td>
                    <td colspan="6"><input type="text" id="ending_time_1" name="ending_time" value=<%= @ending_time %>>
                    </td>
                    <td colspan="2"><select type="text" id="sp_time_end" name="sp_time_end">
                      <option value=1>1</option>
                      <option value=2>2</option>
                      <option value=3>3</option>
                      <option value=4>4</option>
                      <option value=5>5</option>
                      <option value=6>6</option>
                      <option value=7>7</option>
                      <option value=8>8</option>
                      <option value=9>9</option>
                      <option value=10>10</option>
                      <option value=11>11</option>
                      <option value=12>12</option>
                      <option value=13>13</option>
                      <option value=14>14</option>
                      <option value=15>15</option>
                      <option value=16>16</option>
                      <option value=17>17</option>
                      <option value=18>18</option>
                      <option value=19>19</option>
                      <option value=20>20</option>
                      <option value=21>21</option>
                      <option value=22>22</option>
                      <option value=23>23</option>
                      <option value=24 selected="selected">24</option>
                    </select>时
                    </td>
                    <br/><br/>
                    <td colspan="4"><select id="sp_rw" name="sp_rw" style="width:120px">
                      <option value=1>全部来源</option>
                      <option value=2>抽检监测(总局本级)</option>
                      <option value=3>抽检监测（地方）</option>
                      <option value=4>三司专项检验</option>
                      <option value=5>网络专项检验</option>
                    </select>
                    </td>
                    <td colspan="4"><select id="sp_s8" name="sp_s8" style="width:120px">
                      <option value=2>所有样品</option>
                      <option value=1>不合格样品</option>
                    </select>
                    </td>
                    <% if current_user.is_admin? %>
                        <td colspan="6"><select id="sp_s8" name="sp_s8" style="width:180px">
                          <option value=11>瓶（桶）装饮用水</option>
                          <option value=12>酱卤肉制品</option>
                          <option value=1>不合格样品</option>
                          <option value=9>样品信息（产地流通地一致）</option>
                          <option value=8>样品信息（产地流通地不一致）</option>
                          <option value=6>不合格样品（所有）</option>
                          <option value=5>不判定样品（提交）</option>
                          <option value=7>三司(不合格样品/问题样品)</option>
                          <option value=4>婴幼儿配方食品</option>
                          <option value=3>乳粉</option>
                          <option value=2>铝、镉</option>
                          <option value=10>湖南不合格</option>
                        </select>
                        </td>
                    <% else %>
                        <td colspan="6"><select id="sp_s9" name="sp_s9" style="width:180px">
                          <option value=10>全部提交状态</option>
                          <option value=9>检测数据(已提交至秘书处)</option>
                          <option value=8>检测数据(牵头单位审核中)</option>
                          <option value=6>检测数据(药监局审核中)</option>
                          <option value=4>检测数据(机构审核中)</option>
                          <option value=2>检测数据填报中(样品信息已提交)</option>
                          <option value=1>样品信息填报中</option>
                        </select>
                        </td>
                    <% end %>
                  </tr>
                  <br><br>
                  <%= submit_tag("全部样品检测数据下载") %><span class="text-danger">特别注意：</span>本功能可将系统中的全部样品检测数据下载到本地，本功能非常占用系统资源，下载时间会较长，每小时只下载更新一次，数据必须用wps打开，需office打开的要用wps另存，wps软件为免费软件，wps官方网上可免费下载！<br><br>
              <% end %>
            </fieldset>
        <%# end %>
      </div>
  <% end %>
</div>
