<!DOCTYPE html>
<html x-ng-app="Sp">
<head>
  <title><%= SysConfig.get(SysConfig::Key::SITE_NAME, '检验检测数据管理平台') %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <% unless session[:userCert].blank? %>
  <!--    %= javascript_include_tag "XTXSuite" %> -->
  <% end %>

  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" pageEncoding="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE">
  <script type="text/javascript">
    window.SP = {};
    $(function () {
      $(".collapse").click(function () {
        var o = $(this);
        o.next('.subnav').slideToggle();
      });

      <% unless session[:userCert].blank? %>
      SetOnUsbKeyChangeCallBack(function () {
        location.href = "/admin/logout";
      });
      <% end %>
    });
    $(function () {
      //****一级导航*****//
      $(".leftmenu .title").live('click', function () {
        if ($(this).hasClass('not-expand')) return true;
        var nextMent = $(this).next('.menuson'), menus = $('.menuson').not(nextMent);
        menus.slideUp();
        if (nextMent.is(':visible')) {
          nextMent.slideUp();
        } else {
          nextMent.slideDown();
        }
      });
      //导航切换
      $(".menuson a").live('click', function () {
        var parentLi = $(this).parent(), menuLis = $('.menuson li').not(parentLi);
        menuLis.removeClass('active');
        parentLi.addClass('active');
      });

    });
  </script>
  <style type="text/css">
    .collapse + .subnav {
      display: none;
    }

    .subnav.active {
      display: block !important;
    }

    #nav li a:hover {
      color: #000 !important;
    }

    .subnav .active {
      background-color: #A8B8BC !important;
      color: white !important;
    }

    .nav-ctner.affix {
      position: fixed;
      top: 0;
    }

    * {
      /*border: 0;*/
      margin: 0;
      padding: 0;
    }

    body {
      font-family: '微软雅黑';
      margin: 0 auto;
      min-width: 980px;
      font-size: 9pt;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    img {
      border: 0;
    }

    dl, dt, dd {
      margin: 0;
      padding: 0;
      display: block;
    }

    a, a:focus {
      text-decoration: none;
      color: #000;
      outline: none;
      blr: expression(this.onFocus=this.blur());
    }

    a:hover {
      color: #00a4ac;
      text-decoration: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    cite {
      font-style: normal;
    }

    h2 {
      font-weight: normal;
    }

    .topleft {
      height: 88px;
      background: url(<%= asset_path('topleft.jpg') %>) no-repeat;
      float: left;
      width: 456px;
    }

    .topleft img {
      margin-top: 12px;
    }

    .topright {
      height: 88px;
      background: url(<%= asset_path('topright.jpg') %>) no-repeat right;
      float: right;
    }

    .nav1 {
      float: left;
      position: absolute;
      left: 456px;
    }

    .nav1 li {
      float: left;
      width: 87px;
      height: 88px;
      text-align: center;
    }

    .nav1 li a {
      display: block;
      width: 87px;
      height: 88px;
      -moz-transition: none;
      transition: background-color 0.3s linear;
      -moz-transition: background-color 0.3s linear;
      -webkit-transition: background-color 0.3s linear;
      -o-transition: background-color 0.3s linear;
    }

    .mainbox .nav1 li a.selected {
      background: url(<%= asset_path('navbg.png') %>) no-repeat;
    }

    .nav1 li a:hover {
      display: block;
      background: #000;
      color: #fff;
      background: none repeat scroll 0% 0% rgb(43, 127, 181);
    }

    .nav1 li img {
      margin-top: 10px;
    }

    .nav1 li a {
      display: block;
      padding: 0;
    }

    .nav1 a h2 {
      font-size: 14px;
      color: #d6e8f1;
      margin: 0;
    }

    .nav1 a:hover h2 {
      color: #fff;
    }

    .time {
      display: inline-block;
      margin-top: 16px;
      color: #fff;
    }

    .topright {
      width: 168px;
    }

    .user {
      height: 30px;
      background: url(<%= asset_path('ub1.png') %>) repeat-x;
      clear: both;
      margin-top: 10px;
      float: right;
      margin-right: 12px;
      border-radius: 30px;
      behavior: url(js/pie.htc);
      white-space: nowrap;
      position: relative;
    }

    .user span {
      display: inline-block;
      padding-right: 10px;
      background: url(<%= asset_path('user.png') %>) no-repeat 15px 10px;
      line-height: 30px;
      font-size: 14px;
      color: #b8ceda;
      padding-left: 20px;
      padding-left: 35px;
    }

    .user a {
      display: inline-block;
      height: 18px;
      padding: 0 5px;
      background: #f00;
      text-align: center;
      font-weight: normal;
      color: #fff;
      font-size: 14px;
      margin-right: 13px;
      margin-top: 7px;
      line-height: 18px;
      border-radius: 5px;
    }

    .lefttop {
      background: url(<%= asset_path('lefttop.gif') %>) repeat-x;
      height: 40px;
      color: #fff;
      font-size: 14px;
      line-height: 40px;
    }

    .lefttop span {
      margin-left: 8px;
      margin-top: 10px;
      margin-right: 8px;
      background: url(<%= asset_path('leftico.png') %>) no-repeat;
      width: 20px;
      height: 21px;
      float: left;
    }

    .leftmenu {
      /* padding-bottom: 9999px;
       margin-bottom: -9999px;*/
      overflow: hidden;
      background: url(<%= asset_path('leftline.gif') %>) repeat-y right;
    }

    .leftmenu dd {
      background: url(<%= asset_path('leftmenubg.gif') %>) repeat-x;
      line-height: 35px;
      font-weight: bold;
      font-size: 9pt;
      border-right: solid 1px #b7d5df;
    }

    .leftmenu dd span {
      float: left;
      margin: 10px 8px 0 12px;
      line-height: normal;
    }

    .leftmenu dd .menuson {
      display: none;
    }

    .menuson {
      line-height: 30px;
      font-weight: normal;
    }

    .menuson li {
      cursor: pointer;
    }

    .menuson li.active {
      position: relative;
      background: url(<%= asset_path('libg.png') %>) repeat-x;
      line-height: 30px;
      color: #fff;
    }

    .menuson li cite {
      display: block;
      float: left;
      margin-left: 32px;
      background: url(<%= asset_path('list.gif') %>) no-repeat;
      width: 16px;
      height: 16px;
      margin-top: 7px;
    }

    .menuson li.active cite {
      background: url(<%= asset_path('list1.gif') %>) no-repeat;
    }

    .menuson li.active i {
      display: block;
      background: url(<%= asset_path('sj.png') %>) no-repeat;
      width: 6px;
      height: 11px;
      position: absolute;
      right: 0;
      z-index: 10000;
      top: 9px;
      right: -1px;
    }

    .menuson li a {
      display: block;
      *display: inline;
      *padding-top: 5px;
    }

    .menuson li.active a {
      color: #fff;
    }

    .title {
      cursor: pointer;
    }

    .mainbox {
      padding: 8px;
      position: relative;
    }

    .mainleft {
      padding-right: 298px;
    }

    .leftinfo {
      border: #d3dbde solid 1px;
      height: 290px;
    }

    .mainright {
      width: 298px;
      position: absolute;
      top: 8px;
      right: 8px;
    }

    .dflist {
      border: #d3dbde solid 1px;
      width: 288px;
      height: 290px;
      float: right;
    }

    .dflist1 {
      border: #d3dbde solid 1px;
      width: 288px;
      height: 238px;
      float: right;
      margin-top: 8px;
    }

    .listtitle {
      background: url(<%= asset_path('tbg.png') %>) repeat-x;
      height: 36px;
      line-height: 36px;
      border-bottom: solid 1px #d3dbde;
      text-indent: 14px;
      font-weight: bold;
      font-size: 14px;
    }

    .more1 {
      float: right;
      font-weight: normal;
      color: #307fb1;
      padding-right: 17px;
    }

    .maintj {
      text-align: center;
    }

    .newlist {
      padding-left: 14px;
      padding-top: 15px;
    }

    .newlist li {
      line-height: 25px;
      background: url(<%= asset_path('list2.png') %>) no-repeat 0px 8px;
      text-indent: 11px;
    }

    .newlist i {
      width: 80px;
      display: block;
      float: left;
      font-style: normal;
    }

    .newlist b {
      font-weight: normal;
      color: #7b7b7b;
      padding-left: 10px;
    }

    .leftinfos {
      height: 238px;
      margin-top: 8px;
    }

    .infoleft {
      border: #d3dbde solid 1px;
      float: left;
      height: 238px;
    }

    .inforight {
      border: #d3dbde solid 1px;
      float: right;
      height: 238px;
    }

    .tooli {
      padding: 30px 20px;
    }

    .tooli li {
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 20px;
    }

    .tooli li span {
      text-align: center;
    }

    .tooli li p {
      line-height: 35px;
      text-align: center;
    }

  </style>
</head>
<body style="background-image: url(<%= asset_path('topbg.gif') %>) ;  background-repeat: repeat-x; ">
<!-- TOP -->
<div class="mainbox" style="padding:0; width:100%;">
  <div class="topleft">
    <a href="/welcome_notices" target="_parent"><img src="<%= asset_path('logo1.png') %>" title="平台首页"/></a>
  </div>

  <ul class="nav1">
    <li><a href="/welcome_notices" class="selected"><img src="<%= asset_path('icon01.png') %>" title="系统首页"/>
      <h2>系统首页</h2></a></li>
    <li>
      <a target="_blank"  href="http://www.cfda.gov.cn/WS01/CL1689/"><img src="<%= asset_path('icon03.png') %>" title="抽检公示"/>
        <h2>抽检公示</h2></a></li>
    <li>
      <a target="_blank" href="http://bbs.cfda.pub:8080/app/doc/shuoming.pdf"><img src="<%= asset_path('icon04.png') %>" title="系统说明"/>
        <h2>系统说明</h2></a></li>
  <!--  <li>
      <a href="#"><img src="<%= asset_path('icon02.png') %>" title="常见问题"/>
        <h2>常见问题</h2></a></li>-->
    <li><a target="_blank" href="http://bbs.cfda.pub:8080/app/?name=<%=SysConfig.get(SysConfig::Key::PROV)%>"><img src="<%= asset_path('icon05.png') %>" title="终端下载"/>
      <h2>终端下载</h2></a></li>
   <!-- <li>
      <a href="http://bbs.cfda.pub:8080/lims_buttjoint/" target="_blank"><img src="<%= asset_path('icon06.png') %>" title="lims对接"/>
        <h2>lims对接</h2></a></li>-->
  </ul>
  <div class="topright">
    <div class="user">
      <span> <%= current_user.tname if current_user.present? %>
        <%if !current_user.jgname.blank?%>
     /  <%= current_user.jgname.name if current_user.present? %>
     <%end%>
     </span>
      <%= link_to '退出', '/users/sign_out', 'data-method' => :delete, 'data-confirm' => '确定退出吗？' %>
    </div>
    <div class="time"><%= (current_user.current_sign_in_at).strftime("登录时间%m月%d日 %H:%M:%S") %></div>
  </div>
</div>
<span> </span>
<!-- /TOP -->
<!-- BANNER -->
<div style="clear: both;"></div>
<!-- /BANNER -->

<div class="mainbox" style="padding:0; width:100%;">

  <div class="main_left" style="background:#f0f9fd; width:15%;">
    <div class="lefttop"><span></span>操作列表</div>
    <dl class="leftmenu">
      <% if (current_user.pad_permission.to_i > 0 || current_user.is_admin? || is_shengshi? ) and is_open_production? %>
          <dd>
            <div class="title">
              <span><img src="<%= asset_path('leftico05.png') %>"/></span>样品采集
            </div>
            <ul class="menuson" style="<%= "display: block;" if controller?("tasks") %>">
              <% if current_user.rwbs == 1 or current_user.is_admin? %>
                  <li class="<%= "active" if action?("deploy") %>"><cite></cite><a href="/tasks/deploy">计划部署</a><i></i>
                  </li>
              <% end %>
              <% if current_user.rwxd == 1 or current_user.is_admin? %>
                  <li class="<%= "active" if action?("assign") %>"><cite></cite><a href="/tasks/assign">任务下达</a><i></i>
                  </li>
              <% end %>
              <li class="<%= "active" if action?("check") %>"><cite></cite><a href="/tasks/check">任务查看</a><i></i></li>
              <% if (current_user.rwxd == 1 or current_user.is_admin?) and !current_user.jg_bsb.nil? %>
               <!--   <li><cite></cite><a target="_blank" href="http://210.72.225.133/webgps/logins.aspx?username=<%= current_user.jg_bsb.gpsname %>&pwd=<%= current_user.jg_bsb.gpspassword %>">GPS信息留存</a><i></i>
                  </li>-->
              <% end %>
            </ul>
          </dd>
      <% end %>
      <% if current_user.user_i_sp == 1 %>
          <dd>
            <div class="title">
              <span><img src="<%= asset_path('leftico01.png') %>"/></span>数据报送
            </div>
            <ul class="menuson" style="<%= "display: block;" if controller?("sp_bsbs") or controller?("sp_bsbs_spsearch") %>">
              <% if current_user.user_d_authority == 1 and is_open_production? %>
                  <li class="<%= "active" if action?("new") %>"><cite></cite><a href="/sp_bsbs/new">食品检验数据录入</a><i></i>
                  </li>
              <% end %>
              <% if current_user.user_d_authority_5 == 1 or current_user.user_i_switch == 1 or current_user.user_d_authority == 1 or current_user.user_d_authority_1 == 1 or current_user.user_d_authority_2 == 1 or current_user.user_d_authority_3 == 1 or is_shengshi? or current_user.jbxx_sh==1 %>
                  <li class="<%= "active" if controller?("sp_bsbs") and action?('spsearch') %>">
                    <cite></cite><a href="/sp_bsbs_spsearch?<%= session[:query] %>">食品检验数据查看</a><i></i>
                  </li>
              <% end %>
            </ul>
          </dd>
          <% if current_user.hcz_permission.to_i > 0 || current_user.yycz_permission.to_i > 0 || is_shengshi?%>
              <dd>
                <div class="title">
                  <span><img src="<%= asset_path('leftico04.png') %>"/></span>核查处置
                </div>
                <ul class="menuson" style="<%= "display: block;" if controller?("wtyp_czbs") or controller?("yycz") %>">
                  <%# if current_user.yycz_permission.to_i > 0 || current_user.is_admin? %>
                  <% if current_user.yyadmin == 1 or current_user.yysl == 1 or is_shengshi? %>
                      <li class="<%= "active" if action?("dj") %>"><cite></cite><a href="/yycz/dj">异议登记</a><i></i>
                      </li>
                  <% end %>
                  <% if current_user.yyadmin == 1 or (is_sheng? or current_user.is_admin? )%>
										<%# if !is_city? and !is_county_level? %>
                      <li class="<%= "active" if action?("renew") %>">
                        <cite></cite><a href="/yycz/renew">异议延期登记</a><i></i>
                      </li>
										<%# end %>
                  <% end %>
                  <% if false and current_user.zhxt == 1 %>
                      <li class="<%= "active" if action?("gzap") %>"><cite></cite><a href="/yycz/gzap">异议工作安排</a><i></i>
                      </li>
                  <% end %>
                  <% if current_user.yyadmin == 1 or current_user.yybl == 1 or is_shengshi? %>
                      <li class="<%= "active" if action?("cztb") %>">
                        <cite></cite><a href="/yycz/cztb">异议填报</a><i></i>
                      </li>
                  <% end %>
                  <% if current_user.yyadmin == 1 or current_user.yysh == 1 or is_shengshi? %>
                      <li class="<%= "active" if action?("czsh") %>">
                        <cite></cite><a href="/yycz/czsh">异议审核</a><i></i>
                      </li>
                  <% end %>

                  <%# end %>

                  <% if current_user.hcz_czap == 1 or current_user.hcz_admin == 1   %>
                      <li class="<%= 'active' if controller?('wtyp_czbs') and action?('index') and params[:state].to_i == 0 %>">
                        <cite></cite><a href="/wtyp_czbs?current_tab=DBL">核查处置领取</a><i></i></li>
                  <% end %>
                  <% if current_user.hcz_czbl == 1 or current_user.hcz_admin == 1   %>
                      <li class="<%= 'active' if controller?('wtyp_czbs') and action?('index') and params[:state].to_i == 1 %>">
                        <cite></cite><a href="/wtyp_czbs_by_state/1?current_tab=DBL">核查处置办理</a><i></i></li>
                  <% end %>
                  <% if current_user.hcz_czsh == 1 or current_user.hcz_admin == 1   %>
                      <li class="<%= 'active' if controller?('wtyp_czbs') and action?('index') and params[:state].to_i == 2 %>">
                        <cite></cite><a href="/wtyp_czbs_by_state/2?current_tab=DSH">核查处置审核</a><i></i></li>
                  <% end %>
                </ul>
              </dd>
          <% end %>
      <% end %>
      <dd>
        <div class="title not-expand">
          <span><img src="<%= asset_path('leftico13.png') %>"/></span><a href="/users_changeauthority">用户角色切换</a>
        </div>
      </dd>
      <% if (current_user.pub_xxfb_sh == 1 or current_user.pub_xxfb == 1) and is_shengshi? %>
          <!--<dd>
            <div class="title">
              <span><img src="<%#= asset_path('leftico05.png') %>"/></span>抽检结果发布
            </div>
            <ul class="menuson" style="<%#= "display: block;" if controller?("sp_bsb_publications") %>">
              <li class="<%#= "active" if action?("check_duplicate") %>">
                <cite></cite><a href="/sp_bsb_publications/check_duplicate">筛选发布数据</a><i></i></li>-->
              <!--<li><cite></cite><a href="/sp_bsb_publications">筛选发布数据</a></li>-->
              <!--<li><cite></cite><a href="">核校发布数据</a><i></i></li>
              <li><cite></cite><a href="">审核发布数据</a><i></i></li>
              <li><cite></cite><a href="">发布数据查询</a><i></i></li>
            </ul>
          </dd>-->
          <!--<dd>
            <div class="title">
              <span><img src="<%#= asset_path('leftico05.png') %>"/></span>抽检结果发布
            </div>
            <ul class="menuson" style="<%#= "display: block;" if controller?("sp_bsb_publications") %>">
              <li class="<%#= 'active' if action?('check_duplicate') %>">
                <cite></cite><a href="/sp_bsb_publications/check_duplicate">筛选发布数据</a><i></i>
              </li>
              <li><cite></cite><a href="">核校发布数据</a><i></i></li>
              <li><cite></cite><a href="">审核发布数据</a><i></i></li>
              <li><cite></cite><a href="">发布数据查询</a><i></i></li>
            </ul>
          </dd>-->
         <!-- <dd>
            <div class="title">
              <span><img src="<%#= asset_path('leftico05.png') %>"/></span>抽检信息公示
            </div>
            <ul class="menuson" style="<%= "display: block;" if controller?("sp_bsb_publications") %>">
              <li class="<%#= 'active' if action?('unpublished') %>">
                <cite></cite><a href="/sp_bsb_publications/unpublished">未发布信息</a><i></i>
              </li>
              <li class="<%#= 'active' if action?('published') %>">
                <cite></cite><a href="/sp_bsb_publications/published">已发布信息</a><i></i>
              </li>
            </ul>
          </dd>-->
      <% end %>
      <% if (!current_user.is_admin? and current_user.is_jg_manager?) or(is_shengshi? and !current_user.is_admin?)  %>
          <dd>
            <div class="title">
              <span><img src="<%= asset_path('leftico06.png') %>"/></span>机构信息维护
            </div>
            <ul class="menuson" style="<%= "display: block;" if controller?("jg_bsbs") %>">
              <li class="<%= "active" if controller?("jg_bsbs") and action?("index") %>">
                <cite></cite><a href="/jg_bsbs">机构信息录入</a><i></i>
              </li>
            </ul>
          </dd>
      <% end%>
			<% if current_user.is_admin?  %>
        <dd>
          <div class="title">
            <span><img src="<%= asset_path('leftico06.png') %>"/></span>机构信息维护
          </div>
          <ul class="menuson" style="<%= "display: block;" if controller?("jg_bsbs") %>">
            <li class="<%= "active" if controller?("jg_bsbs") and action?("index") %>">
              <cite></cite><a href="/jg_bsbs">机构信息录入</a><i></i>
            </li>
            <!--<li class="<%#= "active" if controller?("jg_bsbs") and action?("merge_request") %>">
              <cite></cite><a href="/jg_bsbs/merge_request">机构合并</a><i></i></li>-->
          </ul>
        </dd>
        <dd>
          <div class="title not-expand">
            <span><img src="<%= asset_path('leftico07.png') %>"/></span><a href="/sp_production_infos">生产企业库维护</a>
          </div>
        </dd>
        <dd>
          <div class="title not-expand">
            <span><img src="<%= asset_path('leftico08.png') %>"/></span><a href="/sp_company_infos">被抽样单位库维护</a>
          </div>
        </dd>
			<% end %>
        <% if is_shengshi? || current_user.is_admin? %>
          <dd>
            <div class="title">
              <span><img src="<%= asset_path('leftico09.png') %>"/></span>报送分类维护
            </div>
						<ul class="menuson" style="<%= "display: block;" if controller?("baosong_as") or controller?("baosong_as_newests") %>">
            	<li class="<%= "active" if controller?("baosong_as") and action?("index") %>">
              	<cite></cite><a href="/baosong_as">报送分类维护</a><i></i>
              </li>
            	<!--<li class="<%#= "active" if controller?("baosong_as_newests") and action?("index") %>">
              	<cite></cite><a href="/baosong_as_newests">报送分类生成</a><i></i>
               </li>-->
            </ul>
          </dd>
        <% end %>
         <dd>
        <div class="title not-expand">
          <span><img src="<%= asset_path('leftico12.png') %>"/></span><a href="/users">登录用户管理</a>
        </div>
      </dd>
      <%# if current_user.is_super? or is_sheng? %>
      	<!--<dd>
      	  <div class="title not-expand">
      	    <span><img src="<%#= asset_path('leftico10.png') %>"/></span><a href="/sys_provinces">区域维护</a>
      	  </div>
      	</dd>-->
      <%# end %>
      <% if (current_user.is_admin? or is_shengshi? or current_user.is_account_manager) && is_open_user_jg %>
          <dd>
            <div class="title not-expand">
              <span><img src="<%= asset_path('leftico12.png') %>"/></span><a href="/users/pending">用户审核</a>
            </div>
          </dd>
      <% end %>
      <dd>
        <div class="title">
          <span><img src="<%= asset_path('leftico04.png') %>"/></span>统计分析
        </div>
        <ul class="menuson" style="<%= "display: block;" if controller?("statistics") %>">
          <li class="<%= "active" if action?("task_statistics") %>">
            <cite></cite><a href="/task_statistics">任务统计</a><i></i>
          </li>
          <li class="<%= "active" if action?("food_statistics") %>">
            <cite></cite><a href="/food_statistics">食品类别统计</a><i></i>
          </li>
          <li class="<%= "active" if action?("nonconformity_statistics") %>">
            <cite></cite><a href="/nonconformity_statistics">不合格项目统计</a><i></i>
          </li>
          <li class="<%= "active" if action?("unit_statistics") %>">
            <cite></cite><a href="/unit_statistics">承检单位统计</a><i></i>
          </li>
          <li class="<%= "active" if action?("overtime_statistics") %>">
            <cite></cite><a href="/overtime_statistics">抽样及检验超期统计</a><i></i>
          </li>
          <li class="<%= "active" if action?("disposal_statistics") %>">
            <cite></cite><a href="/disposal_statistics">核查处置统计</a><i></i>
          </li>
          <li class="<%= "active" if action?("enterprise_statistics") %>">
            <cite></cite><a href="/enterprise_statistics">企业覆盖率统计</a><i></i>
          </li>
          <li class="<%= "active" if action?("early_warning") %>">
            <cite></cite><a href="/early_warning">不合格样品及问题样品预警</a><i></i>
          </li>
          <li class="<%= "active" if action?("composite_statistics") %>">
            <cite></cite><a href="/composite_statistics">复合查询统计</a><i></i>
          </li>
        </ul>
      </dd>
      <% if current_user.user_i_js == 1 %>
				<% if !is_city?  and !is_county_level?  %>
        	<dd>
        	  <div class="title not-expand">
        	    <span><img src="<%= asset_path('leftico12.png') %>"/></span><a href="/sample_members">人员信息查看</a>
        	  </div>
        	</dd>
      	<% end %>
      <% end %>
      <% if current_user.is_admin? %>
        <dd>
          <div class="title not-expand">
            <span><img src="<%= asset_path('leftico20.png') %>"/></span><a href="/data/index">信息管理</a>
          </div>
        </dd>
      <% end %>
      <% if current_user.user_d_authority_1 == 1 or current_user.is_super? %>
				<% if !is_city? %>
          <dd>
            <div class="title not-expand">
              <span><img src="<%= asset_path('leftico10.png') %>"/></span><a href="/company_standards">企业标准库维护</a>
            </div>
          </dd>
      	<% end %>
      <% end %>
      <% if current_user.is_admin? or is_shengshi? %>
          <dd>
            <div class="title not-expand">
              <span><img src="<%= asset_path('leftico11.png') %>"/></span><a target="_blank" href="http://www.eshian.com/mobile/standard/index">标准查询</a>
            </div>
          </dd>
      <% end %>

    </dl>

  </div>
  <div class="main_right">
    <div class="right_content">
      <br>

      <div class="panel panel-default">
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="copyright">中国食品药品检定研究院<a href="mailto:info@nifdc.org.cn" target="_blank">E-mail:info@nifdc.org.cn</a>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="clearfix"></div>
</div>
<% if Rails.env.production? %>
    <!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000354640'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000354640' type='text/javascript'%3E%3C/script%3E"));</script>-->
<% end %>
<%= javascript_include_tag 'ESealWebSocket_PDFClientLogin' %>
<%= javascript_include_tag 'XTXSAB' %>
</body>
</html>
