<!DOCTYPE html>
<html x-ng-app="Sp">
<head>
  <title>检验检测数据管理平台</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" pageEncoding="UTF-8"/>
</head>
<body>
<!-- TOP -->
<div id="top">
  <%= image_tag('logo.jpg') %>
</div>
<!-- /TOP -->
<div class="sys-nav">
  <ul>
    <li style="WIDTH: 90px"><a href="/welcome_notices">系统首页</a></li>
  </ul>
</div>
<!-- BANNER -->
<div class="banner_sc"></div>
<!-- /BANNER -->

<div class="mainbox">
  <%= yield %>
</div>
<% if Rails.env.production? %>
    <!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000354640'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000354640' type='text/javascript'%3E%3C/script%3E"));</script>-->
<% end %>
</body>
</html>
